<div class='page-header page-bar'>
	<h1>{#about}</h1>
</div>

<div class='panel'>

	<div class='content center'>

		<img class='illustration' src='{{static}}/image/about_illustration.png'></img>

		<br>
		<h2 class='title'>Leek Wars</h2>
		<h4>{#version_n, version}</h4>

		<br>

		<div class="fb-like" data-href="https://www.facebook.com/LeekWars" data-layout="button_count" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>

		<a href="https://twitter.com/LeekWars" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @LeekWars</a>

		<a class="github-button" href="https://github.com/leek-wars/leek-wars-client" data-icon="octicon-star"
		data-style="mega" data-count-href="/leek-wars/leek-wars-client/stargazers"
		data-count-api="/repos/leek-wars/leek-wars-client#stargazers_count"
		data-count-aria-label="# stargazers on GitHub" aria-label="Star leek-wars/leek-wars-client on GitHub">Star</a>
		<script async defer src="https://buttons.github.io/buttons.js"></script>

	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#leekwars}</h2>
	</div>

	<div class='content'>
		<p>{#leekwars_content}</p>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#why}</h2>
	</div>

	<div class='content'>

		<p>{#why_1}</p>
		<br>
		<p>{#why_2}</p>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#team}</h2>
	</div>

	<div class='content center'>

		<div class='devs'>
			<a href='/farmer/1'>
				<div class='dev'>
					<img class='avatar' src='{{avatar}}avatar/1.png' />
					<h4>Pilow</h4>
					<div class='role'>{#team_web_graphism}</div>
					<div class='role'>{#team_leekscript_fights}</div>
				</div>
			</a>
			<a href='/farmer/11'>
				<div class='dev'>
					<img class='avatar' src='{{static}}image/no_avatar.png' />
					<h4>SilentHunter</h4>
					<div class='role'>{#team_admin_server}</div>
				</div>
			</a>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#we_talk_about_leeks}</h2>
	</div>

	<div class='content'>
		<p>{#thanks_about_articles}</p>

		<div class='links'>

		@foreach (link in links)
			<h4>{link[0]}</h4>
			<a target='_blank' href="{link[1]}">{link[1]}</a><br>
		@end

		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#social_networks}</h2>
	</div>

	<div class='content'>
		<p>{#follow_on_social_networks}</p>

		<div class='social'>
			<a href='https://twitter.com/LeekWars' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/twitter.png'></img>
					<h4>Twitter</h4>
				</div>
			</a>
			<a href='https://www.facebook.com/LeekWars' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/facebook.png'></img>
					<h4>Facebook</h4>
				</div>
			</a>
			<a href='https://plus.google.com/+LeekwarsGame' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/googleplus.png'></img>
					<h4>Google+</h4>
				</div>
			</a>
			<a href='https://github.com/leek-wars/leek-wars-client' target='_blank'>
				<div class='item'>
					<img src='{{static}}image/github_large.png'></img>
					<h4>GitHub</h4>
				</div>
			</a>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#languages_libraries_tools}</h2>
	</div>

	<div class='content'>
		<p>{#tools_list}</p>

		<div id='langages'>
			<a href='http://www.java.com/fr/about/' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/java.png'></img>
					<h4>Java</h4>
				</div>
			</a>
			<a href='http://www.php.net/' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/php.png'></img>
					<h4>PHP</h4>
				</div>
			</a>
			<a href='http://www.w3schools.com/html/html5_intro.asp' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/html5.png'></img>
					<h4>HTML 5</h4>
				</div>
			</a>
			<a href='http://www.w3schools.com/css/css3_intro.asp' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/css3.png'></img>
					<h4>CSS 3</h4>
				</div>
			</a>
			<a href='http://www.w3schools.com/js/DEFAULT.asp' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/javascript.png'></img>
					<h4>JavaScript</h4>
				</div>
			</a>
			<a href='http://jquery.com/' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/jquery.png'></img>
					<h4>jQuery</h4>
				</div>
			</a>
			<a href='http://codemirror.net/' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/codemirror.png'></img>
					<h4>Code Mirror</h4>
				</div>
			</a>
			<a href='http://git-scm.com/' target='_blank'>
				<div class='item'>
					<img src='{{static}}/image/git.png'></img>
					<h4>git</h4>
				</div>
			</a>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#contact}</h2>
	</div>

	<div class='content'>

		<p>{{#contact_text, "<a class='green' target='_blank' href='mailto:contact@leekwars.com'>contact@leekwars.com</a>"}}</p>
	</div>
</div>
