<div class='page-header page-bar'>
	<h1>{#title}</h1>
</div>

<div class='panel'>
	<div class='content'>

		<h3>{#app_installation}</h3>
		<br>
		{{#app_info}}

		<div class='steps'>
			@foreach (n in [1, 2, 3, 4])
				<div class='step'>
					<img src='{{static}}image/app/step{n}.jpg'>
					<div class='legend'><b>{#step_n, n}</b> - {_.lang.get('app', 'step' + n)}</div>
				</div>
			@end
		</div>

		<h3>{#app_preview}</h3>

		<div class='previews'>
			@foreach (n in [1, 2, 3, 4, 5, 6, 7, 8])
				<div class='preview'>
					<img src='{{static}}image/app/preview{n}.jpg'>
					<div class='legend'>{_.lang.get('app', 'preview' + n)}</div>
				</div>
			@end
		</div>
	</div>
</div>
