<h1><a href='/bank'>{#bank}</a> > {#purshase_title, data.crystalCount, data.vendor}</i></h1>

<div class='panel'>

	<div class='content'>

		@if (data.vendor == 'StarPass')

			<br>
			<div id="starpass_{data.id}"></div>
			<script async type="text/javascript" src="https://script.starpass.fr/script.php?idd={data.id}&amp;verif_en_php=1&amp;datas="></script>

		@elseif (data.vendor == 'PayPal')

			<br>
			<br>
			<center>
				<h4>{#paypal_message}</h4>
				<br>
				<img id='paypal-button' src='{{static}}/image/paypal_buy.gif' />
			</center>
		@end
	</div>
</div>
