<div class='page-header'>
	<h1>{#title}</h1>
</div>

@foreach (version in changelog)
	<div class='panel'>
		<div class='header'>
			<h2>{#version_n, version.version_name} ({version.date})</h2>

			@if (version.forum_topic)
				<div class='right'>
					<a href='/forum/category-{version.forum_category}/topic-{version.forum_topic}'>
						<div class='button flat'>➤ {#forum_topic}</div>
					</a>
				</div>
			@end
		</div>
		<div class='content'>
			<div class='wrapper'>
				@foreach (change in version.changes)
					<div class='change'>➤ {{change}}</div>
				@end
			</div>
		</div>
	</div>
@end
