<div class='page-bar page-header'>
	<h1>{#title}</h1>
</div>

<div class='panel'>
	<div class='content'>

		<center><h4>{#version_n, cgu_version}</h4></center>

		<div id='conditions'>

			<p>{#intro}</p>


			<h2>{#acceptation}</h2>

			{#acceptation_content}


			<h2>{#access}</h2>

			{#access_content}


			<h2>{#account_creation}</h2>

			{#account_creation_content}


			<h2>{#private_life_and_cookies}</h2>

			{#private_life_and_cookies_content}


			<h2>{#responsability_and_security}</h2>

			{#responsability_and_security_content}


			<h2>{#game}</h2>

			{#game_content}


			<h2>{#intellectual_property}</h2>

			{#intellectual_property_content}


			<h2>{#sanctions}</h2>

			{#sanctions_content}

			<br>
		</div>
	</div>
</div>
