<div class='page-header page-bar'>
	<h1>{#title}</h1>

	<div class='tabs'>
		<div class='tab action random' icon='casino'>{#random}</div>
		<div class='tab action'>
			<a href='https://github.com/leek-wars/leekscript' target="_blank" rel="noreferrer">
				<img src='{{static}}image/github_white.png'>
			</a>
		</div>
	</div>
</div>

<div class='panel'>
	<div class='content'>
		<div class='leekscript-console' autostopscroll>
			<div class='lines'></div>
			<div class='input'>
				<span class='arrow'>►</span><input type='text' autocomplete='off' autocorrect='off' autocapitalize='off' spellcheck='false'>
			</div>
		</div>
	</div>
</div>
