<div class='page-header page-bar'>

	<div>
		<h1>{#title}</h1>

		<div class='info'>
			<span contenteditable class='editable' id='ai-name'></span>
		</div>
	</div>

	<div class='tabs'>

		<div id='new-button' class='tab' title="{new_desc}">✚ {#new}</div>
		<div id='new-folder-button' class='tab' title="{new_desc}">✚ {#new_folder}</div>
		<div id='save-button' class="tab" title="{save_desc}">✔ {#save}</div>
		<div id='delete-button' class="tab" title="{delete_desc}">❌ {#delete}</div>
		<div id='test-button' class="tab" title="{test_desc}">▶ {#test}</div>

		<div id='editor-settings-button' class="tab" >
			<img src='{{static}}/image/gearing_small_white.png'></img>
		</div>
		<div id='info-button' class="tab">❓</div>
	</div>
</div>

<div class='container'>

	<div class='column2'>

		<div class='panel' id='editor-left'>

			<div class='content'>

				<div id='ai-list' autostopscroll></div>

				<div id='ai-stats'>
					<div id='line-count-wrapper'>{{#n_lines, "<span id='line-count'></span>"}}</div>
					<div id='char-count-wrapper'>{{#n_characters, "<span id='char-count'></span>"}}</div>
				</div>
				<br>
				<!--
				<center>
					<div id='export-button' class="button" title="{export_desc}">▼ {#export}</div>
					<br>
					<div id='import-button' class="button" title="{import_desc}">▲ {#import}</div>
				</center>
				-->
			</div>
		</div>

	</div><div class='column10'>

		<div class='panel'>

			<div class='content'>

				<div id='editors'></div>

				<div class='search-panel'>
					<img src='{{static}}image/search.png'></img>
					<input type='text' class='query' autocomplete="off"></input>
					<span class='results'></span>
					<img class='previous arrow' src='{{static}}image/icon/grey/collapse.png'>
					<img class='next arrow' src='{{static}}image/icon/grey/expand.png'>
				</div>

			</div>
		</div>

		<div id='compilation'>
			<span id='compiling'>
				<img src='{{static}}/image/loader.gif'></img> {#saving}
			</span>
			<div id='results'>

			</div>
		</div>
	</div>
</div>

@view (delete_popup)

	<div class='title'>{#delete_ai, ai}</div>

	<div class='content'>
	{#delete_warning}
	</div>

	<div class='actions'>
		<div class='dismiss'>{#delete_cancel}</div>
		<div id='delete' class='red'>{#delete_validate}</div>
	</div>
@endview

@view (test_popup)

	<div class='title'>{#run_test}</div>

	<div class='content'>
		<center>

		<h4>{#ai_to_test} :</h4>
		<select id='test-ais'>
			@foreach (ai in ais)
				<option id='{ai.id}'>{ai.name}</option>
			@end
		</select>

		&nbsp;&nbsp;&nbsp;&nbsp;

		<h4>
			<input type='radio' id='test-type-solo' name='test-type' val='solo' checked /><label for='test-type-solo'>{#test_type_solo}</label>
			<input type='radio' id='test-type-farmer' name='test-type' val='farmer' /><label for='test-type-farmer'>{#test_type_farmer}</label>
			<input type='radio' id='test-type-team' name='test-type' val='team' /><label for='test-type-team'>{#test_type_team}</label>
		</h4>
		</center>

		<h4>{#select_your_leek} :</h4>

		<center>
			@foreach (leek in LW.farmer.leeks)
				<div class='leek myleek' leek='{leek.id}'>
					<div class='image'></div>
					{leek.name}
				</div>
			@end
		</center>

		<h4>{#select_opponents} :</h4>

		<center>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_green.png'>
				<h3><input type='checkbox' />Domingo</h3>
				{#opponent_strength}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_blue.png'>
				<h3><input type='checkbox' />Tisma</h3>
				{#opponent_agility}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_yellow.png'>
				<h3><input type='checkbox' />Rioupi</h3>
				{#opponent_life}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_red.png' /><br>
				<h3><input type='checkbox' />Guj</h3>
				{#opponent_strength_agility}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_orange.png' /><br>
				<h3><input type='checkbox' />Hachess</h3>
				{#opponent_strength_life}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
			<div class='leek enemy'>
				<img width='100px' src='{{static}}/image/leek/leek4_front_pink.png' /><br>
				<h3><input type='checkbox' />Betalpha</h3>
				{#opponent_agility_life}<br />
				<select name="select">
				  <option value="value0">{#child}</option>
				  <option value="value1">{#easy}</option>
				  <option value="value2" selected>{#medium}</option>
				  <option value="value3">{#hard}</option>
				  <option value="value4">{#evil}</option>
				</select>
			</div>
		</center>
	</div>

	<div class='actions'>
		<div id='cancel-test' class='dismiss'>❌ {#test_cancel}</div>
		<div id='launch'>▶ {#test_validate}</div>
	</div>
@endview


@view (settings_popup)

	<div class='title'>{#settings}</div>

	<div class='content'>

	<h3>{#display}</h3>
	<br>

	<input type='checkbox' id='setting-size'></input>
	<label for='setting-size'>{#enlarge_window}</label>
	<br>
	<br>
	{#font_size} : <input id='setting-font-size' type='number' value='12' min='6' max='30'></input>

	<br>
	<h3>Thème</h3>
	<br>

	<div id='settings-theme'>
		<input type='radio' name='theme' value='theme-leek-wars' id='theme-leek-wars'></input><label for='theme-leek-wars'>Leek Wars</label>
		<br>
		<input type='radio' name='theme' value='theme-monokai' id='theme-monokai'></input><label for='theme-monokai'>Monokai</label>
	</div>

	<h3>{#settings_editor}</h3>
	<br>

	<input type='checkbox' id='setting-auto-closing'></input>
	<label for='setting-auto-closing'>{#auto_closing}</label>

	<br><br>

	<input type='checkbox' id='setting-autocomplete'></input>
	<label for='setting-autocomplete'>{#autocompletion}</label>

	<br><br>
	<input type='checkbox' id='setting-popups'></input>
	<label for='setting-popups'>{#popups}</label>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#settings_ok}</div>
	</div>
@endview

@view (info_popup)

	<div class='title'>{#shortcuts}</div>

	<div class='content'>
		<ul>
			<li>{#shortcut_1}</li>
			<li>{#shortcut_2}</li>
			<li>{#shortcut_3}</li>
			<li>{#shortcut_4}</li>
			<li>{#shortcut_5}</li>
			<li>{#shortcut_6}</li>
			<li>{#shortcut_7}</li>
		</ul>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#shortcuts_ok}</div>
	</div>
@endview
