<div class='page-header page-bar'>

	<div>
		<h1>{#title}</h1>

		<div class='info'>
			<span id="ai-name"></span>
		</div>
	</div>

	<div class='tabs'>

		<div id='new-button' class='tab' title="{#new_desc}">✚ {#new}</div>
		<div id='new-folder-button' class='tab' title="{#new_folder_desc}">✚ {#new_folder}</div>
		<div id='save-button' class="tab" title="{#save_desc}">✔ {#save}</div>
		<div id='delete-button' class="tab" title="{#delete_desc}">❌ {#delete}</div>
		<div id='test-button' class="tab" title="{#test_desc}">▶ {#test}</div>

		<div id='editor-settings-button' class="tab" >
			<img src='{{static}}/image/gearing_small_white.png'></img>
		</div>
		<div id='info-button' class="tab">❓</div>
	</div>
</div>

<div class='container'>

	<div class='column3'>

		<div class='panel' id='editor-left'>

			<div class='content'>

				<div id='ai-list' autostopscroll>
					<div class='item folder expanded' id='0' level='0'></div>
				</div>

				<div id='ai-stats'>
					<div id='line-count-wrapper'>{{#n_lines, "<span id='line-count'></span>"}}</div>
					<div id='char-count-wrapper'>{{#n_characters, "<span id='char-count'></span>"}}</div>
				</div>
				<br>
				<!--
				<center>
					<div id='export-button' class="button" title="{export_desc}">▼ {#export}</div>
					<br>
					<div id='import-button' class="button" title="{import_desc}">▲ {#import}</div>
				</center>
				-->
			</div>
		</div>

	</div><div class='column9'>

		<div class='panel'>

			<div class='content'>

				<div id='editors'></div>

				<div class='search-panel'>
					<img src='{{static}}image/search.png'></img>
					<input type='text' class='query' autocomplete="off"></input>
					<span class='results'></span>
					<img class='previous arrow' src='{{static}}image/icon/grey/collapse.png'>
					<img class='next arrow' src='{{static}}image/icon/grey/expand.png'>
				</div>

			</div>
		</div>

		<div id='compilation'>
			<span id='compiling'>
				<img src='{{static}}/image/loader.gif'></img> {#saving}
			</span>
			<div id='results'>

			</div>
		</div>
	</div>
</div>

@view (delete_popup)

	@if (type == 'ai')
		<div class='title'>{#delete_ai, name}</div>
	@else
		<div class='title'>{#delete_folder, name}</div>
	@end

	<div class='content'>
		{#delete_warning}
	</div>

	<div class='actions'>
		<div class='dismiss'>{#delete_cancel}</div>
		<div id='delete' class='red'>{#delete_validate}</div>
	</div>
@endview

@view (test_popup)

	<div class='title'>{#run_test}</div>

	<div class='content'>
		<div class='tabs'>
			<div class='tab' tab='scenario'>{#test_scenario}</div><div class='tab' tab='leeks'>{#test_leeks}</div><div class='tab' tab='maps'>{#test_map}</div>
		</div>
		<div tab='scenario' class='view'>
			<div class='column lateral-column'>
				<h4>Scénarios</h4>
				<div class='items scenarios'></div>
				<div class='item add'>✚ Ajouter</div>
			</div>
			<div class='column column-scenario'>
				<div class='title'>Poireaux</div>
				<div class='team team1'>
					<div class='leeks'></div>
					<div class='add'>+</div>
				</div>
				<div class='vs'>VS</div>
				<div class='team team2'>
					<div class='leeks'></div>
					<div class='add'>+</div>
				</div>

				<div class='title'>Map</div>
				<div class='map-container'>
					<div class='map'>
						<img src='{{static}}image/map_icon_random.png'>
						<div class='name'></div>
					</div>
				</div>
			</div>
		</div>

		<div tab='leeks' class='view'>
			<div class='column lateral-column'>
				<h4>Poireaux</h4>
				<div class='items leeks'></div>
				<div class='item add'>✚ Ajouter</div>
			</div>
			<div class='column leek-column'>
				<div class='title name'></div>
				<div class='image'></div>
				<table class='stats'>
					<tr><td>
						<div class='stat'>
							<div id='lifespan'>
								<img src='{{static}}image/charac/life.png'></img>
								<span class='color-life' stat='life'></span>
							</div>
						</div>
					</td><td>
						<div class='stat'>
							<div id='sciencespan'>
								<img src='{{static}}image/charac/science.png'></img>
								<span class='color-science' stat='science'></span>
							</div>
						</div>
					</td></tr>
					<tr><td>
						<div class='stat'>
							<div id='strengthspan'>
								<img src='{{static}}image/charac/strength.png'></img>
								<span class='color-strength' stat='strength'></span>
							</div>
						</div>
					</td><td>
						<div class='stat'>
							<div id='magicspan'>
								<img src='{{static}}image/charac/magic.png'></img>
								<span class='color-magic' stat='magic'></span>
							</div>
						</div>
					</td></tr>
					<tr><td>
						<div class='stat'>
							<div id='wisdomspan'>
								<img src='{{static}}image/charac/wisdom.png'></img>
								<span class='color-wisdom' stat='wisdom'></span>
							</div>
						</div>
					</td><td>
						<div class='stat'>
							<div id='frequencyspan'>
								<img src='{{static}}image/charac/frequency.png'></img>
								<span class='color-frequency' stat='frequency'></span>
							</div>
						</div>
					</td></tr>
					<tr><td>
						<div class='stat'>
							<div id='agilityspan'>
								<img src='{{static}}image/charac/agility.png'></img>
								<span class='color-agility' stat='agility'></span>
							</div>
						</div>
					</td><td>
						<div class='stat'>
							<div id='tpspan'>
								<img src='{{static}}image/charac/tp.png'></img>
								<span class='color-tp' stat='tp'></span>
							</div>
						</div>
					</td></tr>
					<tr><td>
						<div class='stat'>
							<div id='resistancespan'>
								<img src='{{static}}image/charac/resistance.png'></img>
								<span class='color-resistance' stat='resistance'></span>
							</div>
						</div>
					</td><td>
						<div class='stat'>
							<div id='mpspan'>
								<img src='{{static}}image/charac/mp.png'></img>
								<span class='color-mp' stat='mp'></span>
							</div>
						</div>
					</td></tr>
				</table>
			</div>
		</div>
		<div tab='maps' class='view'>
			<div class='column lateral-column'>
				<h4>Maps</h4>
				<div class='items maps'></div>
				<div class='item add'>✚ Ajouter</div>
			</div>
			<div class='column map-column'>
				<div class='title name'></div>
				<div class='map' oncontextmenu="return false;">
					<div class='map-wrapper'></div>
				</div>
				<div class='buttons'>
					<div class='button clear'>❌ Clear</div>
					<div class='button random'>❓ Random</div>
				</div>
				<div class='instructions'>
					<div class='instruction'>✔ Clic gauche pour ajouter ou retirer des obstacles</div>
					<div class='instruction'>✔ Clic droit pour sélectionner les cellules de départ</div>
				</div>
			</div>
		</div>
	</div>

	<div class='actions'>
		<div id='cancel-test' class='dismiss'>❌ {#test_cancel}</div>
		<div id='launch' class='green'>▶ {#test_validate}</div>
	</div>
@endview


@view (settings_popup)

	<div class='title'>{#settings}</div>

	<div class='content'>

	<h3>{#display}</h3>
	<br>

	<input type='checkbox' id='setting-size'></input>
	<label for='setting-size'>{#enlarge_window}</label>
	<br>
	<br>
	{#font_size} : <input id='setting-font-size' type='number' value='12' min='6' max='30'></input>

	<br>
	<h3>Thème</h3>
	<br>

	<div id='settings-theme'>
		<input type='radio' name='theme' value='theme-leek-wars' id='theme-leek-wars'></input><label for='theme-leek-wars'>Leek Wars</label>
		<br>
		<input type='radio' name='theme' value='theme-monokai' id='theme-monokai'></input><label for='theme-monokai'>Monokai</label>
	</div>

	<h3>{#settings_editor}</h3>
	<br>

	<input type='checkbox' id='setting-auto-closing'></input>
	<label for='setting-auto-closing'>{#auto_closing}</label>

	<br><br>

	<input type='checkbox' id='setting-autocomplete'></input>
	<label for='setting-autocomplete'>{#autocompletion}</label>

	<br><br>
	<input type='checkbox' id='setting-popups'></input>
	<label for='setting-popups'>{#popups}</label>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#settings_ok}</div>
	</div>
@endview

@view (input_popup)
	<div class='title'>{title}</div>
	<div class='content'>
		<input type='text' class='input' value='{input}'/>
	</div>
	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div class='validate green'>{validate}</div>
	</div>
@endview

@view (info_popup)

	<div class='title'>{#shortcuts}</div>

	<div class='content'>
		<ul>
			<li>{#shortcut_1}</li>
			<li>{#shortcut_2}</li>
			<li>{#shortcut_3}</li>
			<li>{#shortcut_4}</li>
			<li>{#shortcut_5}</li>
			<li>{#shortcut_6}</li>
			<li>{#shortcut_7}</li>
		</ul>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#shortcuts_ok}</div>
	</div>
@endview

@view (folder_content)
	<div class='folder-content' folder='{folder.id}'>
		@if (folder.contents.length == 0)
			<div class='empty'>
				<img src='{{static}}image/empty.png'>
				<br>
				<span class='message'>{#empty_folder}</span>
			</div>
		@else
			@foreach (item in folder.contents)
				<div class='item'>
					{item.name}
				</div>
			@end
		@end
	</div>
@endview

@view (map_popup)
	<div class='title'>Sélectionnez une carte</div>
	<div class='content'>
		<div class='map' map='-1'>
			<img src='{{static}}image/map_icon_random.png'>
			<div class='name'>Random</div>
		</div>
		@foreach (map in maps)
			<div class='map' map='{map.id}'>
				<img src='{{static}}image/map_icon.png'>
				<div class='name'>{map.name}</div>
			</div>
		@end
	</div>
	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div class='validate green'>Choisir</div>
	</div>
@endview
