<div class='page-header page-bar'>

	<div>
		<h1>{farmer.name}</h1>

		<div id='state' class='info'>
			@if (farmer.connected)
				<img src='{{static}}image/connected.png'>{#connected}
			@else
				<img src='{{static}}image/disconnected.png'>{#disconnected}
			@end
		</div>
	</div>

	<div class='tabs'>
		@if (my_farmer)

			@if (farmer.tournament.current)
				<a id='view-tournament' href='/tournament/{farmer.tournament.current}'>
					<div class='tab green'>
						{#see_tournament}
					</div>
				</a>
			@end

			<div class='tab'>
				<img src='{{static}}/image/icon/trophy.png' />

				<span id='register-tournament'>{#register_to_tournament}</span>
				<span id='unregister-tournament'>{#unregister}</span>

				<div class='tooltip' id='tt_register-tournament'>{#tournament_time}</div>
			</div>

			<div class='tab' id='in-garden-button'>
				<span>{#garden}</span>
				@include('main.switch', garden_switch)
			</div>

			<div class='tab' id='logout'>
				{#logout}
			</div>
		@else
			@if (LW.connected)
				<a href='/garden/challenge/farmer/{farmer.id}'>
					<div id='challenge' class='tab'>
						<img src='{{static}}/image/icon/garden.png'></img>
						<span>{#challenge}</span>
					</div>
				</a>
			@end
		@end
	</div>
</div>

<div class='flex-container'>

	<div class='column4'>

		<div class='panel'>

			<div class='content' id='avatar-td'>

				@if (my_farmer)
					<div id='avatar-input'>
						@if (farmer.avatar_changed > 0)
							<img id='avatar' src='{{avatar}}/avatar/{farmer.id}.png?{farmer.avatar_changed}'></img>
						@else
							<img id='avatar' src='{{static}}/image/no_avatar.png'></img>
						@end
						<input type="file">
					</div>
					<div id='tt_avatar-input' class='tooltip'>{#click_to_change_avatar}</div>

				@else
					@if (farmer.avatar_changed > 0)
						<img id='avatar' src='{{avatar}}/avatar/{farmer.id}.png?{farmer.avatar_changed}'></img>
					@else
						<img id='avatar' src='{{static}}/image/no_avatar.png'></img>
					@end
				@end

				<div class='infos'>
					@if (farmer.forum_messages > 0)
						<a href='/search/-/{farmer.name}'>
							<div class='info'>
								<img class='flag' src='{{static}}image/forum.png'/><span>{#forum_messages, farmer.forum_messages}</span>
							</div>
						</a>
					@end
					<div class='info country'>
						@if (farmer.country)
							<img class='flag' src='{{static}}image/flag/32/{farmer.country}.png'/><span class='country'>{_.lang.get('country', farmer.country)}</span>
							@if (my_farmer)
								<span class='edit'></span>
							@end
						@else
							<img class='flag' src='{{static}}image/flag/32/_.png'/><span class='country no'>{#no_country}</span>
						@end
					</div>
					<div class='info website'>
						<img src='{{static}}image/website.png'><a target='_blank' href='{farmer.website}'><span class='text'>{farmer.website}</span></a>
						@if (my_farmer)
							<span class='edit'></span>
						@end
					</div>
					@if (my_farmer)
						<div class='add add-website'>{#add_website}</div>
					@end
					<div class='info github'>
						<img src='{{static}}image/github.png'><a target='_blank' href='https://github.com/{farmer.github}'><span class='text'>{farmer.github}</span></a>
						@if (my_farmer)
							<span class='edit'></span>
						@end
					</div>
					@if (my_farmer)
						<div class='add add-github'>{#add_github}</div>
					@end
				</div>
			</div>
		</div>

	</div><div class='column4'>

		<div class='panel'>

			<div class='content' id='stats'>

				<center><div id='talent' class='talent'>{farmer.talent}</div><div id='talent-more'>({farmer.talent_more >= 0 ? '+' + farmer.talent_more : farmer.talent_more})</div></center>
				<div class='tooltip' id='tt_talent'>{#talent}</div>

				<div class='tooltip' id='tt_talent-more'>
				@if (farmer.talent_more > 0)
					{#report.talent_difference_farmer, farmer.name, farmer.talent_more, farmer.talent_gains + '%'}
				@else
					{#report.talent_difference_farmer_no_gains, farmer.name}
				@end
				</div>

				<table id='fights'>
					<tr>
						<td class='big'>{%farmer.victories}</td>
						<td class='big'>{%farmer.draws}</td>
						<td class='big'>{%farmer.defeats}</td>
					</tr>
					<tr>
						<td class='grey'>{#victories}</td>
						<td class='grey'>{#draws}</td>
						<td class='grey'>{#defeats}</td>
					</tr>
				</table>

				@if (farmer.won_solo_tournaments + farmer.won_farmer_tournaments + farmer.won_team_tournaments > 0)
					<table class='tournaments'>
						<tr>
							<td class='grey'>Tournois</td>
							<td width='25%'><span class='big'>{farmer.won_solo_tournaments}</span><br><span class='small grey'>solo</span></td>
							<td width='25%'><span class='big'>{farmer.won_farmer_tournaments}</span><br><span class='small grey'>éleveur</span></td>
							<td width='25%'><span class='big'>{farmer.won_team_tournaments}</span><br><span class='small grey'>équipe</span></td>
						</tr>
					</table>
				@end

				<div id='tt_fights' class='tooltip'>{#ratio} : {farmer.ratio}</div>

				<div class='log-time grey'>
					@if (LW.connected && LW.farmer.moderator)
						{#registered_the, _.format.dateTime(farmer.register_date)}
					@else
						{#registered_the, _.format.date(farmer.register_date)}
					@end
					<br>
					@if (farmer.connected)
						{#connected}
					@else
						{#last_connection, LW.util.formatDuration(farmer.last_connection)}
					@end
				</div>

				<div class='grades'>
					@if (farmer.admin)
						<div class='grade admin'>{#admin}</div>
					@elseif (farmer.moderator)
						<div class='grade moderator'>{#moderator}</div>
					@end
					@if (farmer.contributor)
						<div class='grade contributor'>{#contributor}</div>
					@end
				</div>

				<div class='godfather grey'>
					<div>{{godfather}}</div>
					@if (godsons)
						<div>{{godsons}}</div>
					@end
					@if (my_farmer)
						<br>
						<div id='godfather-link'>{#godfather_link}</div>
					@end
				</div>

				@if (!my_farmer && LW.connected)
					<br>
					<center><a href='/messages/new/{farmer.id}/{farmer.name}/{farmer.avatar_changed}'><div class='button' id='send-message'>{#send_private_message}</div></a></center>
				@end
			</div>
		</div>

	</div><div class='column4'>

		<div class='panel'>

			<div class='content center' id='team'>

				@if (farmer.team)

					<a href='/team/{farmer.team.id}'>

						@if (farmer.team.emblem_changed > 0)
							<img src='{{avatar}}/emblem/{farmer.team.id}.png'></img>
						@else
							<img src='{{static}}/image/no_emblem.png'></img>
						@end

						<br />
						<h2>{farmer.team.name}</h2>
						{#leek_level_n, farmer.team.level}
					</a>

				@else

					@if (my_farmer)

						<div id='create-team-button' class='button'>{#create_team}</div>

						@if (farmer.candidacy)
							<br>
							<br>
							<br>
							<div id='cancel-candidacy-wrapper'>
								{#candidacy_for_team, farmer.candidacy.team_id, farmer.candidacy.team_name}</a>
								<br>
								<br>
								<div id='cancel-candidacy' class='button'>{#cancel_candidacy}</div>
							</div>
						@end
					@else
						<span class='grey'>{#no_team}</span>
					@end
				@end
			</div>
		</div>

	</div>
</div>

<div class='column12'>

	<div class='panel'>

		<div class='header'>
			<h2>{#trophies} (<span id='trophy-count'></span>)</h2>

			<div class='right'>
				<a href='/trophies/{farmer.id}'>
					<div class='button flat'>
						<img src='{{static}}image/icon/trophy.png'> {#see_all_trophies}
					</div>
				</a>
				<img id='trophies-mode-button' src='{{static}}/image/list.png' />
			</div>
		</div>

		<div class='content' id='trophies'></div>
	</div>
</div>

<div class='column12'>

	<div class='panel'>

		<div class='header'>
			<h2>{#leeks}</h2>
		</div>

		<div class='content' id='leeks'>

			@foreach (leek in farmer.leeks)

				<a href='/leek/{leek.id}'>
					<div id='{leek.id}' class='leek'>

						<div class='image'></div>
						{leek.name} <br>

						<div class='talent'><img src='{{static}}/image/talent.png' />{leek.talent}</div><br>

						<span class='level'>{#leek_level_n, leek.level}</span>
					</div>
				</a>
			@end
		</div>
	</div>
</div>

<div class='flex-container'>
	<div class='column6'>

		@if (farmer.fight_history.length > 0)
			<div id='history' class='panel'>

				<div class='header'>
					<h2>{#fights}</h2>
				</div>

				<div class='content fight-history'>
					@foreach (fight in farmer.fight_history)
						<div class='fight-wrapper'>
							@include('main.fight', fight)
						</div>
					@end
				</div>
			</div>
		@end

	</div><div class='column6'>

		@if (farmer.tournaments.length > 0)
			<div id='tournament-history' class='panel'>

				<div class='header'>
					<h2>{#tournaments}</h2>
				</div>

				<div class='content tournament-history'>

					@foreach (tournament in farmer.tournaments)
						<div class='tournament-wrapper'>
							@include('main.tournament', tournament)
						</div>
				    @end
			    </div>
			</div>
			@end
	</div>
</div>

<div id='farmer-warnings'></div>

<div class='page-footer page-bar'>
	<div class='tabs'>
		@if (LW.connected && !my_farmer && !farmer.admin)
			<div id='report-button-container'>
				<div id='report-button' class='report-button tab'>
					<img src='{{static}}image/icon/flag.png'>
					<span>{#report}</span>
				</div>
			</div>
		@end
	</div>
</div>


@view (create_team_popup)

	<div class='title'>{#create_team}</div>

	<div class='content'>
		{#team_name} <input type='text' id='team-name'></input>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div id='create-team'>{#create}</div>
	</div>
@endview

@view (godfather_popup)

	<div class='title'>{#godfather_link}</div>

	<div class='content'>
		{#godfather_link_description} :
		<br>
		<br>
		<div id='godfather-url'>https://leekwars.com/godfather/{name}</div>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#godfather_link_ok}</div>
	</div>
@endview

@view (country_popup)

	<div class='title'>{#country_selection}</div>

	<div class='content'>
		<div class='country' code='null'>
			<img src='{{static}}image/flag/32/_.png'/>
			<h4>{#no_country}</h4>
		</div>
		@foreach (country in countries)
			<div class='country' code='{country.code}'>
				<img src='{{static}}image/flag/32/{country.code}.png'/>
				<h4>{_.lang.get('country', country.code)}</h4>
			</div>
		@end
	</div>

	<div class='actions'>
		<div class='dismiss'>{#country_ok}</div>
	</div>
@endview


@view (website_popup)
	<div class='title'>{#add_website}</div>
	<div class='content'>
		<input type='text' class='input' value='{website}'/>
	</div>
	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div class='validate green'>{#validate}</div>
	</div>
@endview

@view (github_popup)
	<div class='title'>{#add_github}</div>
	<div class='content'>
		<input type='text' class='input' value='{github}'/>
	</div>
	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div class='validate green'>{#validate}</div>
	</div>
@endview

@view (trophies)

	@if (count > 0)

		<div class='list trophies-container'>

			@foreach (trophy in list)
				@if (trophy != null)
					<div class='trophy' id='trophy-{trophy.id}' >
						<img src='{{static}}image/trophy/{trophy.code}.png'></img>
					</div>
					<div class='tooltip trophy-tt' id='tt_trophy-{trophy.id}'>
						<b>{trophy.name}</b>
						@if (my_farmer)
							<br>{trophy.description}
						@end
						<br><span class='date'>{LW.util.formatDuration(trophy.date)}</span>
					</div>
				@end
			@end
		</div>

		<div class='grid trophies-container'>

			@foreach (trophy in grid)

				@if (trophy != null)
					<div class='trophy' id='trophy-grid-{trophy.id}' >
						<img src='{{static}}image/trophy/{trophy.code}.png'></img>
					</div>
					<div class='tooltip trophy-tt' id='tt_trophy-grid-{trophy.id}'>
						<b>{trophy.name}</b>
						@if (my_farmer)
							<br>{trophy.description}
						@end
						<br><span class='date'>{LW.util.formatDuration(trophy.date)}</span>
					</div>
				@else
					<div class='trophy locked' >
						<img src='{{static}}image/unknown.png'></img>
					</div>
				@end
			@end
		</div>

		@if (bonus_trophies.length > 0)

			<h4 class='trophies-bonus'>{#bonus_trophies}</h4>

			@foreach (trophy in bonus_trophies)
				<div class='trophy' id='trophy-{trophy.id}' >
					<img src='{{static}}image/trophy/{trophy.code}.png'></img>
				</div>
				<div class='tooltip trophy-tt' id='tt_trophy-{trophy.id}'>
					<b>{trophy.name}</b>
					@if (my_farmer)
						<br>{trophy.description}
					@end
					<br><span class='date'>{LW.util.formatDuration(trophy.date)}</span>
				</div>
			@end
		@end

	@else
		<center class='grey'>{#no_trophies_yet}</center>
	@end

@endview

@view(warnings)

<div class='panel'>

	<div class='header'>
		<h2>{#warnings}</h2>
	</div>

	<div class='content' id='warnings'>

		@if (my_farmer)
			@if (warnings.length == 1)
				<h4 id='warning-title'>{#you_have_1_warning}</h4>
			@else
				<h4 id='warning-title'>{#you_have_n_warnings, warnings.length}</h4>
			@end
		@else
			@if (warnings.length == 1)
				<h4 id='warning-title'>{#farmer_have_1_warning}</h4>
			@else
				<h4 id='warning-title'>{#farmer_have_n_warnings, warnings.length}</h4>
			@end
		@end

		@foreach (warning in warnings)

			<div class='warning'>
				<div class='reason'>{_.lang.get('moderation', 'reason_' + warning.reason)} ({#warning_severity_s, warning.severity})</div>
				<div class='message'>&nbsp;<i>{warning.message}</i></div>

				@if (LW.farmer.moderator)
					<div class='date'>{#moderation.given_by_x_the_d, warning.author_id, warning.author_name, _.format.date(warning.date)}</div>
				@else
					<div class='date'>{_.format.date(warning.date)}</div>
				@end
			</div>

		@end
	</div>
</div>
@endview
