<div class='page-header page-bar'>

	<div>
		<h1>{fight.title}</h1>

		<div class='info'>{_.format.date(fight.date)}</div>
	</div>

	<div class='tabs'>
		<div class='tab action' id='sound-setting' icon='volume_up'>
			<img src='{{static}}image/icon/sound.png'><span>{#sound_activated}</span>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='content'>

		<div id='loading'>

			@if (fight.type == LW.FIGHT_TYPE.BATTLE_ROYALE)
				@foreach (i : leek in fight.leeks1)
					<div class='leek' leek='{leek.id}'>
						<div class='image'></div>
						<span class='name'>{leek.name}</span>
						<br>
						<span class='level'>{#leek_level, leek.level}</span>
					</div>
					@if (i == 1 && fight.leeks1.length < 5) <br> @end
					@if (i < fight.leeks1.length - 1)
						<span class='vs'>VS</span>
					@end
				@end
				<br><br>
			@else
			<table><tr>
				<td class='team-td'>
					@foreach (i : leek in fight.leeks1)
						<div class='leek' leek='{leek.id}'>
							<div class='image'></div>
							<span class='name'>{leek.name}</span>
							<br>
							<span class='level'>{#leek_level, leek.level}</span>
						</div>
						@if (i == 1 && fight.leeks1.length < 5) <br> @end
					@end
				</td>

				<td><span class='vs'>VS</span></td>

				<td class='team-td'>
					@foreach (i : leek in fight.leeks2)
						<div class='leek' leek='{leek.id}'>
							<div class='image'></div>
							<span class='name'>{leek.name}</span>
							<br>
							<span class='level'>{#leek_level, leek.level}</span>
						</div>
						@if (i == 1 && fight.leeks2.length < 5) <br> @end
					@end
				</td>
			</tr></table>
			@endif

			<img class='loader' src='{{static}}image/gearing_small.png'></img><br>
			<div class='loading-fight'>{#loading_fight}</div>
			<div class='queue-position'></div>
		</div>

		<div id='error'>

			<h2>{#error_generating_fight}</h2>
			<br>
			<img src='{{static}}/image/notgood.png'></img>
			<br>
			<br>
			<h4><i>{#no_data_received}</i></h4>

			<br>
			<a href='/report/{fight.id}'>
				<div class='button'>{#see_report}</div>
			</a>
			<br>
			<br>
		</div>

		<div id='browser'>

			<h2>{#browser_cannot_display}</h2>
			<br>
			<img src='{{static}}image/notgood.png'></img>
			<br>
			<br>
			<h4><i>{#update_browser}</i></h4>
			<br>

			<div id='browser-list'>
				<div class='browser'>
					<a target='blank' href='https://www.google.com/intl/fr_fr/chrome/browser/'>
						<img src='{{static}}image/chrome.png'></img>
						<h4>Chrome</h4>
					</a>
				</div>
				<div class='browser'>
					<a target='blank' href='http://www.opera.com/fr'>
						<img src='{{static}}image/opera.png'></img>
						<h4>Opera</h4>
					</a>
				</div>
				<div class='browser'>
					<a target='blank' href='http://windows.microsoft.com/fr-fr/internet-explorer/download-ie'>
						<img src='{{static}}image/ie.png'></img>
						<h4>Internet Explorer</h4>
					</a>
				</div>
				<div class='browser'>
					<a target='blank' href='http://www.mozilla.org/fr/firefox/new/'>
						<img src='{{static}}image/firefox.png'></img>
						<h4>Firefox</h4>
					</a>
				</div>
				<div class='browser'>
					<a target='blank' href='http://www.apple.com/fr/safari/'>
						<img src='{{static}}image/safari.png'></img>
						<h4>Safari</h4>
					</a>
				</div>
			</div>

			<br>
			<a href='/report/{fight.id}'>
				<div class='button'>{#see_report}</div>
			</a>
		</div>

		<div id='game'>

			<div id='layers'>
				<canvas id='bg-canvas'></canvas>
				<canvas id='game-canvas'></canvas>

				<div id='progress-bar-wrapper'>
					<div id="progress-bar-turn" class='tooltip fixed top'><span class='content'></span></div>
					<div id='progress-bar'>
						<div class='bar'></div><div class='circle'></div>
					</div>
				</div>

				<div id='hud'>

					<div id='details'></div>

					<div id='life-bar'>
						<div class='wrapper'></div>
					</div>

					<div id='debug'>
						<div>Particles : <span id='debug-particles'></span></div>
						<div>Mouse : <span id='debug-mouse'></span></div>
						<div>Mouse tile : <span id='debug-mouse-tile'></span></div>
						<div>Mouse cell : <span id='debug-mouse-cell'></span></div>
						<div>FPS : <span id='debug-fps'></span></div>
					</div>

					<div id='left-part'>
						<div id='actions'></div>
					</div>

					<div id='timeline'></div>
				</div>
			</div>

			<div id='controls'>

				<div id='turn'></div>

				<img id='play-button' src='{{static}}image/icon/pause.png'></img>
				<div class='tooltip top' id='tt_play-button' >{#pause}</div>

				<img id='speed-button' src='{{static}}image/icon/speed.png'></img>
				<div class='tooltip top' id='tt_speed-button' >{#accelerate}</div>

				<img id='fullscreen-button' src='{{static}}image/icon/fullscreen.png'></img>
				<div class='tooltip top' id='tt_fullscreen-button' >{#fullscreen}</div>

				<img id='fight-settings-button' src='{{static}}image/icon/gearing.png'></img>
				<div class='tooltip top' id='tt_fight-settings-button' >{#settings}</div>

				<img id='quit-button' src='{{static}}image/icon/quit.png'></img>
				<div class='tooltip top' id='tt_quit-button' >{#quit}</div>
				<!--
				<input type='file' id='file-input'>
			-->
			</div>
		</div>
	</div>
</div>

<div id='fight-info'>

	@if (fight.type == LW.FIGHT_TYPE.BATTLE_ROYALE)
		<center>
			@foreach (farmer in fight.farmers1)
				@if (farmer.id != first_farmer)
					<span class='br-versus'>VS</span>
				@end
				<a href='/farmer/{farmer.id}'>
					<div class='farmer'>
						<img src='@include('main.avatar', farmer)'></img>
						<br>
						<span class='name'>{farmer.name}</span>
					</div>
				</a>
			@end
		</center>
	@else
		<table><tr>
			<td>
				@foreach (farmer in fight.farmers1)
					<a href='/farmer/{farmer.id}'>
						<div class='farmer'>
							<img src='@include('main.avatar', farmer)'></img>
							<br>
							<span class='name'>{farmer.name}</span>
						</div>
					</a>
				@end
			</td>
			<td id='versus'>VS</td>
			<td>
				@foreach (farmer in fight.farmers2)
					<a href='/farmer/{farmer.id}'>
						<div class='farmer'>
							<img src='@include('main.avatar', farmer)'></img>
							<br>
							<span class='name'>{farmer.name}</span>
						</div>
					</a>
				@end
			</td>
		</tr></table>
	@end
</div>

<div class='panel'>

	<div class='header'>
		<h2>{#comments}</h2>

		<div class='right'>
			<div id='views-counter'>
				{{#n_views, _.format.number(fight.views)}}
			</div>
		</div>
	</div>

	<div class='content'>

		<div id='comments-wrapper'>
			<div id='comments'>
				@foreach (comment in fight.comments)
					@include('main.comment', comment)
				@end
			</div>
			<div class='chat-input'>
				<div class='chat-input-content' contenteditable="true" placeholder="{#main.chat_placeholder}"></div>
				<div class='chat-input-emoji'></div>
			</div>
		</div>
	</div>
</div>

<div id='fight-settings' class='tooltip top'>
	<div class='fight-setting'><label><input id='fight-size' type='checkbox'> {#enlarge_fight}</label></div>
	<div class='fight-setting'><label><input id='fight-lifes' type='checkbox'> {#display_life_bars}</label></div>
	<div class='fight-setting'><label><input id='fight-debug' type='checkbox'> {#display_debug}</label></div>
	<div class='fight-setting'><label><input id='fight-tactic' type='checkbox'> {#tactic_mode}</label></div>
	<div class='fight-setting'><label><input id='fight-cells' type='checkbox'> {#display_cell_numbers}</label></div>
	<div class='fight-setting'><label><input id='fight-discrete-pause' type='checkbox'> {#discrete_pause}</label></div>
	<div class='fight-setting'><label>{#quality} <select id='fight-quality' >
		<option value="high">{#quality_high}</option>
		<option value="medium" selected>{#quality_medium}</option>
		<option value="low">{#quality_low}</option>
	</select></label></div>
</div>
