<h1>{#title}</h1>

<div class='panel'>
	<div class='content'>

		@if (state == 'change_password')

			<div id='info'>
				{#enter_a_new_password}
			</div>
			
			<form id='reset-form' method='POST'>

				<br>
				
				<h4>{#new_password}</h4>
				<input name="password" type="password" ></input>
				
				<h4>{#confirm}</h4>
				<input name="password2" type="password" ></input>
				
				<input name="login" value="{login}" type="hidden"></input>
				<input name="code" value="{code}" type="hidden"></input>
				
				<br>
				<br>
				
				<center><input type='submit' class='button' value='{#change_password}'></input></center>
				
				<br>
				
				<div id='error'></div>
			</form>

		@elseif (state == 'email_sent')

			<center>
				<img src='{{static}}image/map/nexus_block.png'></img>
				<br>
				<br>
				{#mail_sent, email}
				<br>
				<br>
			</center>

		@else

			<div id='info'>
			{#email_will_be_sent}
			</div>

			<form id='form' method='POST'>

				<br>
				
				<h2>{#email_address}</h2>
				<input type='text' name='email' /> <br><br>
				
				<center>
					<input type='submit' class='button' value='{#ask_new_password}'></input>
				</center>
				<br>
				
				<div id='error'></div>
				
			</form>
		@endif
	</div>
</div>
