<div class='page-header page-bar'>

	<div>
		<h1>{#title}</h1>

		<div class='info' id='forum-language'>
			<img class='flag' />
			<img width='10' src='{{static}}image/selector.png' />
		</div>

		<div id='tt_forum-language' class='tooltip persistent'>
			@foreach (lang in _.lang.languages)
				<div class='lang' lang='{lang.code}'>
					<img src='{{static}}{lang.flag}' />{lang.name}
				</div>
			@end
		</div>
	</div>

	<div class='tabs'>
		<a href='/chat'>
			<div class='tab'>
				<img src='{{static}}image/icon/forum.png'></img>
				<span>{#chat}</span>
			</div>
		</a>
		<div id='search-box' class='tab disabled'>
			<img src='{{static}}image/search.png'></img>
			<input type='text' id='query'></input>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='content'>

		<table id='forum-header' class='category'><tr>
			<td class='seen'></td>
			<td>{#category}</td>
			<td class='num-topics'>{#topics}</td>
			<td class='num-messages'>{#messages}</td>
		</tr></table>

		@foreach (category in categories)

			<a href='/forum/category-{category.id}'>
				<table class='category'><tr>
					<td class='seen'>
						@if (category.seen)
							<img src='{{static}}/image/forum_seen.png'></img>
						@else
							<img src='{{static}}/image/forum_unseen.png'></img>
						@end
					</td>

					<td>
					@if (category.type == 'normal')
						<div class='title'>{_.lang.get('forum', 'category_' + category.name)}</div>
						<div class='description'>{_.lang.get('forum', 'category_' + category.name + '_desc')}</div>
					@elseif (category.type == 'team')
						<div class='title'>{category.name}</div>
						<div class='description'>{#team_forum_description}</div>
					@end
					</td>
					<td class='num-topics'>{%category.topics}</td>
					<td class='num-messages'>{%category.messages}</td>
				</tr></table>
			</a>
		@end
	</div>
</div>

<div class='panel'>

	<div class='header'>

		<h2 id='connected-farmers-title'></h2>

		<div class='right'>
			<img id='expand-connected-farmers' class='expand' src='{{static}}/image/expand.png'></img>
		</div>
	</div>

	<div class='content'>

		<div id='connected-farmers'></div>

		<div id='grades-legend'>
			{#legend} : <span class='admin'>{#main.grade_admin}</span>,
			<span class='moderator'>{#main.grade_moderator}</span>,
			<span class='vip'>{#main.grade_vip}</span>,
			<span>{#main.grade_member}</span>
		</div>
	</div>
</div>

<div id='chat' class='panel'>

	<div class='header'>

		<h2>{#chat}</h2>

	</div>

	<div class='content'>

		<div class='chat-messages' autostopscroll='top'>
			<div class='websocket-loader'><img src='{{static}}/image/loader.gif' /><br>{#loading_chat}</div>
		</div>

		<div class='flex'>
			<div id='chat-language'><img /></div>
			<textarea class='chat-input autogrow' type='text'></textarea>
			<div id='chat-smileys'>
				<button id="chat-smileys-button">
					<img class="smiley" alt="😃" src="{{smileys.url}}/1f603.svg">
				</button>
				<div id="chat-smileys-wrapper">
					@foreach (smiley_category in smileys.list)
						<div class="title">{smiley_category.name}</div>
						<div class="list">
							@foreach (smiley in smiley_category.list)
								<img class="smiley" alt="😃" src="{{smiley.custom ? smiley.image : smileys.url + '/' + smiley.image + '.svg'}}" emoji="{smiley.name}">
							@end
						</div>
					@end
				</div>
			</div>
		</div>

		<div id='chat-languages'>
			@foreach (lang in _.lang.languages)
				<img id='chat-lang-{lang.code}' code='{lang.code}' src='{{static}}/{lang.flag}' />
				<div class='tooltip' id='tt_chat-lang-{lang.code}'>{lang.name}</div>
			@end
		</div>

		<div id='chat-language-selection' class='tooltip'>

			@foreach (lang in _.lang.languages)
				<input type='radio' id='chat-sel-lang-{lang.code}' value="{lang.code}" name='language'></input>
				<label for='chat-sel-lang-{lang.code}'>{lang.name}</label><br>
			@end

		</div>
	</div>
</div>


@view (connected_farmers)

	@foreach (i : farmer in farmers)
		<a href='/farmer/{farmer.id}' class='{farmer.class}'>{farmer.name}</a>@if (i < farmers.length - 1), @end
	@end

@endview

@view (formatting_rules)
	<div id='formating'>
		<h4>Formatage</h4>
		<span class='rule'>Code source ➤ </span> <b>[code]</b>mon code source<b>[/code]</b> <br>
		<span class='rule'>Grand titre ➤ </span> <b>#</b> Titre, ou souligné par des <b>=</b> <br>
		<span class='rule'>Sous-titre ➤ </span> <b>##</b> Sous-titre, ou souligné par des <b>-</b> <br>
		<span class='rule'>Sous-sous-titre ➤ </span> <b>###</b> Sous-sous-titre <br>
		<span class='rule'>Gras ➤ </span> <b>*</b>gras<b>*</b> <br>
		<span class='rule'>Italique ➤ </span> <b>/</b>italique<b>/</b> <br>
		<span class='rule'>Souligné ➤ </span> <b>_</b>souligné<b>_</b> <br>
		<span class='rule'>Barré ➤ </span> <b>~</b>barré<b>~</b> <br>
		<span class='rule'>lien ➤ </span> <b>&lt;</b>https://leekwars.com/<b>&gt;</b>
	</div>
@endview
