<div class='page-header'>
	<h1>{#title}</h1>
</div>

<div class='panel'>

	<div class='content'>

		<div class='wrapper'>

			<center>
				<img src='{{static}}/image/signup_illustration.png'></img>
				<h2>{#welcome}</h2>
			</center>

			<p>{#intro}</p>

			<div id='help-menu'>
				<a href='#farmer'><div class='item'>{#farmer}</div></a>
				<a href='#habs'><div class='item'>{#habs}</div></a>
				<a href='#leeks'><div class='item'>{#leeks}</div></a>
				<a href='#weapons'><div class='item'>{#weapons}</div></a>
				<a href='#chips'><div class='item'>{#chips}</div></a>
				<a href='#teams'><div class='item'>{#teams}</div></a>
				<a href='#fights'><div class='item'>{#fights}</div></a>
				<a href='#challenges'><div class='item'>{#challenges}</div></a>
				<a href='#tournaments'><div class='item'>{#tournaments}</div></a>
				<a href='#trophies'><div class='item'>{#trophies}</div></a>
				<a href='#editor'><div class='item'>{#editor}</div></a>
			</div>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='farmer'>{#farmer}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#farmer_1}</p>

			<p>{#farmer_2}</p>

			<p>{#farmer_3}
			<ul>
				<li>{#farmer_4}</li>
				<li>{#farmer_5}</li>
				<li>{#farmer_6}</li>
				<li>{#farmer_7}</li>
			</ul>
			</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='habs'>{#habs}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#habs_1}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='leeks'>{#leeks}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<!-- intro -->
			<p>{#leeks_1}</p>
			<p>{#leeks_2}</p>
			<p>{#leeks_3}</p>
			<p>{#leeks_4}</p>

			<!-- life -->
			<h3>{#leeks_5}</h3>
			<p>{#leeks_6}</p>

			<!-- force -->
			<h3>{#leeks_11}</h3>
			<p>{#leeks_12}</p>
			<formula>{#leeks_13}</formula>

			<!-- wisdom -->
			<h3>{#leeks_7}</h3>
			<p>{#leeks_8}</p>
			<formula>{#leeks_9}</formula>
			<formula>{#leeks_10}</formula>

			<!-- agility -->
			<h3>{#leeks_14}</h3>
			<p>{#leeks_15}</p>
			<formula>{#leeks_16}</formula>
			<p>{#leeks_34}</p>
			<formula>{#leeks_32}</formula>

			<!-- resistance -->
			<h3>{#leeks_33}</h3>
			<p>{#leeks_36}</p>
			<p>{#leeks_17}</p>
			<formula>{#leeks_18}</formula>
			<formula>{#leeks_19}</formula>
			<p>{#leeks_35}</p>
			<formula>{#leeks_21}</formula>

			<!-- science -->
			<h3>{#leeks_28}</h3>
			<p>{#leeks_29}</p>
			<formula>{#leeks_37}</formula>
			<p>{#leeks_39}</p>
			<formula>{#leeks_40}</formula>

			<!-- magic -->
			<h3>{#leeks_30}</h3>
			<p>{#leeks_31}</p>
			<formula>{#leeks_38}</formula>
			<formula>{#leeks_41}</formula>

			<!-- frequency -->
			<h3>{#leeks_26}</h3>
			<p>{#leeks_27}</p>

			<!-- tp -->
			<h3>{#leeks_22}</h3>
			<p>{#leeks_23}</p>

			<!-- mp -->
			<h3>{#leeks_24}</h3>
			<p>{#leeks_25}</p>

		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='weapons'>{#weapons}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#weapons_1}</p>

			<center>
				<img src='{{static}}/image/weapon/pistol.png'></img> &nbsp; &nbsp;
				<img src='{{static}}/image/weapon/laser.png'></img> &nbsp; &nbsp;
				<img src='{{static}}/image/weapon/electrisor.png'></img>
			</center>

			<p>{#weapons_2}</p>
			<p>{#weapons_3}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='chips'>{#chips}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#chips_1}</p>

			<center>
				<img width='60' src='{{static}}/image/chip/small/flash.png'></img> &nbsp;
				<img width='60' src='{{static}}/image/chip/small/cure.png'></img> &nbsp;
				<img width='60' src='{{static}}/image/chip/small/fortress.png'></img> &nbsp;
				<img width='60' src='{{static}}/image/chip/small/doping.png'></img>
			</center>

			<p>{#chips_2}</p>

			<p>{#chips_3}</p>
			<p>{#chips_4}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='teams'>{#teams}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#teams_1}</p>

			<p>{#teams_2}</p>

			<h3>{#teams_3}</h3>
			<p>{#teams_4}</p>

			<h3>{#teams_5}</h3>
			<p>{#teams_6}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id='fights'>{#fights}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#fights_1}</p>
			<ul>
				<li>{#fights_2}</li>
				<li>{#fights_3}</li>
				<li>{#fights_4}</li>
				<li>{#fights_5}</li>
			</ul>

			<p>{#fights_6}</p>
			<p>{#fights_7}</p>

			<h3>{#fights_8}</h3>

			<p>{#fights_9}</p>

			<p>{#fights_10}</p>


			<h3>{#fights_11}</h3>

			<p>{#fights_12}</p>
			<p>{#fights_13}</p>

			<h3>{#fights_14}</h3>
			<p>{#fights_15}</p>
			<p>{#fights_16}</p>

			<h3>{#fights_17}</h3>
			<p>{#fights_18}</p>
			<p>{#fights_19}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id="challenges">{#challenges}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#challenges_1}</p>
			<p>{#challenges_2}</p>
		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id="tournaments">{#tournaments}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#tournaments_1}</p>
			<ul>
				<li>{#tournaments_2}</li>
				<li>{#tournaments_3}</li>
				<li>{#tournaments_13}</li>
			</ul>

			<h3>{#tournaments_4}</h3>

			<p>{#tournaments_5}</p>
			<p>{#tournaments_6}</p>

			<h3>{#tournaments_7}</h3>

			<p>{#tournaments_8}</p>
			<p>{#tournaments_9}</p>

			<h3>{#tournaments_10}</h3>

			<p>{#tournaments_11}</p>
			<p>{#tournaments_12}</p>
		</div>
	</div>
</div>


<div class='panel'>

	<div class='header'>
		<h2 id="trophies">{#trophies}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#trophies_1}</p>
			<p>{#trophies_2}</p>

		</div>
	</div>
</div>

<div class='panel'>

	<div class='header'>
		<h2 id="editor">{#editor}</h2>
	</div>

	<div class='content'>

		<div class='wrapper'>

			<p>{#editor_1}</p>
			<p>{#editor_2}</p>
			<p>{#editor_3}</p>

		</div>
	</div>
</div>

<div class='panel'>
	<div class='content'>
		<div class='wrapper'>
			<div class='credits'>{#credits}</div>
		</div>
	</div>
</div>
