<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type">

		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'>

		<link id='favicon' rel="icon" type="image/png" href="{{static}}image/favicon.png">
		<link rel="manifest" href="/manifest.json?{{sub_version}}">
		<meta name="theme-color" content="#4b9e06">

		<title>Leek Wars</title>

		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Aref+Ruqaa" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		  ga('create', 'UA-46243041-1', 'leekwars.com'); ga('send', 'pageview');
		</script>

		<script>var __STATIC_URL = "{{static}}";</script>
		<script>var __AVATAR_URL = "https://leekwars.com/static/image/";</script>
		<script>var __API_URL = "{{api}}";</script>
		<script>var __VERSION = {{version}};</script>
		<script>var __SUB_VERSION = {{sub_version}};</script>
		<script>var __CGU_VERSION = 1;</script>
		<script>var __SERVER_TIME = {{time}};</script>
		<script>var __DEFAULT_LANGUAGE = "fr";</script>
		<script>var __LOCAL = {{local}};</script>
		<script>var __FIGHT_DATA = {{fight_data}};</script>
		<script>var __STARPASS_CODE = "{{starpasscode}}";</script>

		<script src="{{static}}libs.min.js?{{sub_version}}" type="text/javascript"></script>
		<link href='{{static}}libs.min.css?{{sub_version}}' rel='stylesheet' type='text/css'>

		<link href='{{static}}{{start_style}}?{{sub_version}}' rel='stylesheet' type='text/css'>
		<script src="{{static}}{{start_script}}?{{sub_version}}" type="text/javascript"></script>

		<script></script>
	</head>

	<body></body>
</html>
