<div class='page-bar page-header'>

	<h1>{#title}</h1>

	<div class='tabs'>
		<div id='show-didactitiel' class='tab'>▶&nbsp; {#rewatch_didactitiel}</div>
	</div>
</div>

<div class='flex-container'>

	<div class='column6'>

		<div class='panel'>

			<div class='content'>
				<a href='/help/general'>	
					<h2>Leek Wars</h2>
					<img src='{{static}}/image/help_general.png'></img>
					<br>
					<span class='description'>{#general_help}</span>
				</a>
			</div>
		</div>

	</div><div class='column6'>

		<div class='panel'>

			<div class='content'>
				<a href='http://leekwarswiki.net/' target='_blank'>
					<h2>{#wiki}</h2>
					<img src='{{static}}/image/wiki.png'></img>
					<br>
					<span class='description'>{#wiki_desc}</span>
				</a>
			</div>
		</div>
	</div>
</div>

<div class='flex-container'>
		
	<div class='column6'>

		<div class='panel'>

			<div class='content'>
				<a href='/help/tutorial'>
					<h2>{#tutorial}</h2>
					<img src='{{static}}/image/interface.png'></img>
					<br>
					<span class='description'>{#tutorial_desc}</span>
				</a>
			</div>
		</div>
		
	</div><div class='column6'>

		<div class='panel'>

			<div class='content'>
				<a href='/help/documentation'>
					<h2>{#documentation}</h2>
					<img src='{{static}}/image/presentation.png'></img>
					<br>
					<span class='description'>{#documentation_desc}</span>
				</a>
			</div>
		</div>
	</div>
</div>

<center>
	<div class='advanced-button'>
		Avancé
		<img src='{{static}}image/expand.png'>
	</div>
</center>

<div class='flex-container advanced'>

	<div class='column6'>

		<div class='panel'>

			<div class='header'>			
				<h2>Leek Wars API</h2>
			</div>

			<div class='content'>
				<a href='/help/api'>
					<h2>API documentation</h2>
					<img src='{{static}}/image/advanced.png'></img>
					<br>
					<span class='description'>Complete API services documentation</span>
				</a>
			</div>
		</div>

	</div><div class='column6'>

		
	</div>
</div>