<h1>{#title_html, entity.name}</h1>

<div class='panel'>

	<div class='content'>

		<div class='summary'>
			<div class='image'><img/></div>

			<div class='periods'>
				<div class='period' period='today'>{#today}</div><div class='period' period='24h'>{#24h}</div><div class='period' period='2days'>{#2days}</div><div class='period selected' period='1week'>{#1week}</div>
			</div>

			<div class='stats'>

				<center><div class='talent'>{entity.talent}</div><div class='talent-more'>({entity.talent_more >= 0 ? '+' + entity.talent_more : entity.talent_more})</div></center>

				<table>
					<tr>
						<td class='big victories'></td>
						<td class='big draws'></td>
						<td class='big defeats'></td>
						<td class='big ratio'></td>
					</tr>
					<tr>
						<td class='grey'>{#victories}</td>
						<td class='grey'>{#draws}</td>
						<td class='grey'>{#defeats}</td>
						<td class='grey'>{#ratio}</td>
					</tr>
				</table>
			</div>
		</div>

		<br>
		<h2 class='n-fights'></h2>

		<div class='fight-history'>
			@foreach (fight in fights)
				<div class='fight-wrapper'>
					@include('main.fight', fight)
				</div>
			@end
		</div>
	</div>
</div>
