<div class='page-bar page-header'>
	<h1>{#title}</h1>
</div>

<div class='panel' id='legal'>

	<div class='content'>
		<h2>{#host}</h2>

		<p>
		<b>OVH</b> <br>
		SAS au capital de 10 000 000 € <br>
		RCS Roubaix – Tourcoing 424 761 419 00045 <br>
		Code APE 6202A <br>
		N° TVA : FR 22 424 761 419 <br>
		Siège social : 2 rue Kellermann - 59100 Roubaix - France
		</p>

		<h2>{#editor}</h2>

		{#editor_message} <br>
		{{#contact, "<a target='_blank' href='mailto:contact@leekwars.com'>contact@leekwars.com</a>"}}
	</div>
</div>
