<div class='page-header page-bar'>

	<h1>{#title}</h1>

	<div class='tabs'>
		<div id='quit-conversation' class='tab action content' icon='clear'>
			{#quit}
		</div>
	</div>
</div>

<div class='column3'>

	<div class='panel'>

		<div class='content' id='conversations-list' autostopscroll='bottom'>

			@foreach (conversation in conversations)
				<div class='conversation-preview' conv='{conversation.id}'>

					{{conversation.avatars}}

					<div class='content'>
						{{conversation.name}}
						<div class='last-message'>{{conversation.last_message}}</div>
					</div>
				</div>
			@end
		</div>
	</div>

</div><div class='column9'>

	<div class='panel'>

		<div classs='content'>

			<div id='conversations'>
				@foreach (conversation in conversations)
					<div class='conversation' id='conversation-{conversation.id}' conv='{conversation.id}' >
						<div class='chat-messages' autostopscroll='bottom'></div>
						<div class='chat-input'>
							<div class='chat-input-content' contenteditable="true" placeholder="{#main.chat_placeholder}"></div>
							<div class='chat-input-emoji'></div>
						</div>
					</div>
				@end
			</div>
		</div>
	</div>
</div>

@view (quit_popup)

	<div class='title'>{#quit_conversation}</div>
	<div class='content'>{#quit_confirm}</div>

	<div class='actions'>
		<div class='dismiss'>{#cancel}</div>
		<div id='quit-conversation-validate' class='red'>{#quit}</div>
	</div>
@endview
