<div class='page-header page-bar'>

	<h1>{#title}</h1>

	<div class='tabs'>
		<div class='tab disabled'>
			{#duration, report.duration}
		</div>
	</div>
</div>

<div class='panel'>

	<div class='content'>

		@if (fight.too_long)
			<div id='too-long'>
				{#generation_too_long}
			</div>
		@endif

		<div id='report-general'>

			@if (fight.type == LW.FIGHT_TYPE.BATTLE_ROYALE)

				<h3>Poireaux</h3>

				<table class='report'>
					<tr>
						<th>{#leek}</th>
						<th>{#level}</th>
						<th>{#xp}</th>
						<th class='gain'>{#money}</th>
						@if (fight.type == LW.FIGHT_TYPE.SOLO)
							<th class='gain'>{#talent}</th>
						@end
					</tr>
					@foreach (leek in leeks)
						@include('leek_tr', leek)
					@end
				</table>

			@else

				<h3>{team1_title}</h3>

				@if (fight.type == LW.FIGHT_TYPE.FARMER)
					@include('farmer_view', farmer1)
				@end
				@if (fight.type == LW.FIGHT_TYPE.TEAM)
					@include('team_view', team1)
				@end

				<div class='flags'>
					@foreach (i : flag in flags1)
						<img id='flag1_{i}' src='{{static}}image/fight_flag/{flag}.png' />
						<div id='tt_flag1_{i}' class='tooltip'>{_.lang.get('fight', 'flag_' + flag)}</div>
					@end
				</div>

				<div class='scroll-x'>
					<table class='report'>
						<tr>
							<th>{#leek}</th>
							<th>{#level}</th>
							<th>{#xp}</th>
							<th class='gain'>{#money}</th>
							@if (fight.type == LW.FIGHT_TYPE.SOLO && fight.context != LW.FIGHT_CONTEXT.TEST && fight.context != LW.FIGHT_CONTEXT.CHALLENGE)
								<th class='gain'>{#talent}</th>
							@end
							@if (LW.farmer.admin)
								<th class='gain'>Time</th>
							@end
						</tr>
						@foreach (leek in leeks1)
							@include('leek_tr', leek)
						@end
						@if (leeks1.length > 1)
							@include('total', total1)
						@end
					</table>
				</div>

				<h3>{team2_title}</h3>

				@if (fight.type == LW.FIGHT_TYPE.FARMER)
					@include('farmer_view', farmer2)
				@end
				@if (fight.type == LW.FIGHT_TYPE.TEAM)
					@include('team_view', team2)
				@end

				<div class='flags'>
					@foreach (i : flag in flags2)
						<img id='flag2_{i}' src='{flag.image}' />
						<div id='tt_flag2_{i}' class='tooltip'>{flag.name}</div>
					@end
				</div>

				<div class='scroll-x'>
					<table class='report'>
						<tr>
							<th>{#leek}</th>
							<th>{#level}</th>
							<th>{#xp}</th>
							<th class='gain'>{#money}</th>
							@if (fight.type == LW.FIGHT_TYPE.SOLO && fight.context != LW.FIGHT_CONTEXT.TEST && fight.context != LW.FIGHT_CONTEXT.CHALLENGE)
								<th class='gain'>{#talent}</th>
							@end
							@if (LW.farmer.admin)
								<th class='gain'>Time</th>
							@end
						</tr>
						@foreach (leek in leeks2)
							@include('leek_tr', leek)
						@end
						@if (leeks2.length > 1)
							@include('total', total2)
						@end
					</table>
				</div>
			@end
		</div>

		<br>
		<center>
			<a href='/fight/{fight.id}'>
				<div class='button'>{#rewatch_fight}</div>
			</a>

			@if (LW.connected)
				@if (fight.context == LW.FIGHT_CONTEXT.GARDEN)
					<a href='/garden'><div class='button'>{#back_to_garden}</div></a>

				@elseif (fight.context == LW.FIGHT_CONTEXT.TEST)

					<a href='/editor'><div class='button'>{#back_to_editor}</div></a>

				@elseif (fight.context == LW.FIGHT_CONTEXT.TOURNAMENT)

					<a href='/tournament/{fight.tournament}'>
						<div class='button'>{#back_to_tournament}</div>
					</a>
				@elseif (fight.context == LW.FIGHT_CONTEXT.CHALLENGE)

					@if (my_fight)
						<a href='/garden/challenge/{["leek", "farmer"][fight.type]}/{enemy}'>
							<div class='button'>
								@if (i_win)
									{#refight}
								@else
									{#take_revenge}
								@end
							</div>
						</a>
					@end
				@end
			@end
		</center>
	</div>
</div>

<div class='panel' name='graph'>

	<div class="header">
		<h2>Évolution des points de vie</h2>
		<div class='right'>
			<div class='button flat' id='graph-type-button'>
				<img src='{{static}}image/icon/graph_smooth.png'>
			</div>
			<div class='button flat expand'>
				<img src='{{static}}image/icon/collapse.png'>
			</div>
		</div>
	</div>

	<div class="content" id='chart-panel'>
		<div id="chart">
			<div class="ct-chart"></div>
		</div>
	</div>
</div>

<div class='panel' name='statistics'>

	<div class="header">
		<h2>Statistiques</h2>
		<div class='right'>
			<div class='button flat expand'>
				<img src='{{static}}image/icon/collapse.png'>
			</div>
		</div>
	</div>

	<div class='content scroll-x'>
		<table class='report' id="statistics-table">
			<tr>
				<th>Poireau</th>
				<th>Niveau</th>
				<th>Dégats reçus</th>
				<th>Dégats infligés</th>
				<th>Soins reçus</th>
				<th>Soins lancés</th>
				<th>Kills</th>
				<th>PT utilisés</th>
				<th>PT/tour utilisés</th>
				<th>PM utilisés</th>
				<th>Tours joués</th>
				<th>Tirs</th>
				<th>Puces utilisées</th>
				<th>Invoc.</th>
				<th>Retours à la vie</th>
				<th>CC</th>
				<th>Bugs</th>
			</tr>
			<tr><td colspan="17" class='header'><b>{#team1}</b></td></tr>
			@foreach (entity in statistics.team1)
				@include('stats_entity', entity)
			@end
			<tr><td colspan="17" class='header'><b>{#team2}</b></td></tr>
			@foreach (entity in statistics.team2)
				@include('stats_entity', entity)
			@end
		</table>
	</div>
</div>

@if (errors.length > 0 || warnings.length > 0)
	<div class='panel' name='warnings-errors' id='warnings-errors'>

		<div class="header">
			<h2>Erreurs et avertissements ({errors.length + warnings.length})</h2>
			<div class='right'>
				<div class='button flat expand'>
					<img src='{{static}}image/icon/collapse.png'>
				</div>
			</div>
		</div>
		<div class='content'>

			<div class='title'><b>{errors.length}</b> erreurs</div>

			@foreach (e in errors)
				<pre class='log error'>[{e.entity}] {{e.data}}</pre>
			@end
			<br>

			<div class='title'><b>{warnings.length}</b> avertissements</div>

			@foreach (w in warnings)
				<pre class='log warning'>[{w.entity}] {{w.data}}</pre>
			@end
		</div>
	</div>
@end

<div class='panel'>

	<div class='header'>
		<h2>Actions</h2>
	</div>

	<div class='content'>

		<div id='report-actions'>

			<div id='actions'>
				{{actionsHTML}}
			</div>
		</div>
	</div>
</div>

@view (farmer_view)
	<table class='report'>
		<tr>
			<th>{#farmer}</th>
			<th></th>
			<th class='gain'>{#talent}</th>
		</tr>
		<tr>
			<td class='name'><span class='alive'><a href='/farmer/{id}'>{name}</a></span></td>
			<td></td>
			<td class='talent'>
				<img src='/static/image/talent.png' />
				{talent}
				@if (talent_gain >= 0) + {talent_gain} @else - {Math.abs(talent_gain)} @end
			</td>
		</tr>
	</table>
@endview

@view (team_view)
	<table class='report'>
		<tr>
			<th>{#team}</th>
			<th>{#level}</th>
			<th>{#xp}</th>
			<th class='gain'>{#talent}</th>
		</tr>
		<tr>
			<td class='name'>
				<span class='alive'>
				<a href='/team/{id}'>{name}</a></span>
			</td>
			<td class='level'>{level}</td>
			<td class='xp'>
				<div id='team-bar{id}' class='bar'>
					<span class='current_xp' style='width:{current_bar}%'></span><span class='new_xp team' style='width:{new_bar}%'></span>
				</div>
				<div class='tooltip fluid' id='tt_team-bar{id}'>{%prev_xp} / {%next_xp}</div>
				<span>{%xp}</span>
			</td>
			<td class='talent'>
				<img src='/static/image/talent.png' />
				{talent}
				@if (talent_gain >= 0) + {talent_gain} @else - {Math.abs(talent_gain)} @end
			</td>
		</tr>
	</table>
@endview

@view (leek_tr)
	<tr>
		<td class='name'>
			@if (dead)
				<span class='dead'></span>
			@else
				<span class='alive'></span>
			@end
			@if (id != -1)
				<a href='/leek/{id}'>{name}</a>
			@else
				{name}
			@end
			</span>
		</td>
		<td class='level'>{level}</td>
		<td class='xp'>
			<div id='bar{id}' class='bar'>
				<span class='current_xp' style='width:{current_bar}%'></span><span class='new_xp' style='width:{new_bar}%'></span>
			</div>
			<div class='tooltip fluid' id='tt_bar{id}'>{%prev_xp} / {%next_xp}</div>
			<span>{%xp}</span>
			@if (bonus > 1)
				<span class='bonus'>x{bonus}</span>
			@end
		</td>
		<td class='money'>
			<span>{%money} <span class='hab' /></span>
		</td>
		@if (talent)
			<td class='talent'>
				<img src='/static/image/talent.png' />
				{talent}
				@if (talent_gain >= 0) + {talent_gain} @else - {Math.abs(talent_gain)} @end
			</td>
		@end
		@if (LW.farmer.admin)
			<td class='gain'>
				{%ai_time} ms
			</td>
		@end
	</tr>
@endview

@view (total)
	<tr class='total'>
		<td class='name'><span class='alive'>{#total}</span>
		<td class='level'>{%level}</td>
		<td class='xp'><div class='bar'></div>{%xp}</td>
		<td class='money'>
			<span>{%money} <span class='hab' /></span>
		</td>
		@if (LW.farmer.admin)
			<td class='money'>
				<span>{%time} ms</span>
			</td>
		@end
	</tr>
@endview

@view (stats_entity)

	<tr class="entity @if (leek.summon) summon @end">
		<td class="name">
			@if (alive)
				<span class="alive"></span>
			@else
				<span class="dead"></span>
			@end
			{name}
		</td>
		<td>{%level}</td>
		<td>@if (dmg_in > 0) {%dmg_in} @end</td>
		<td>@if (dmg_out > 0) {%dmg_out} @end</td>
		<td>@if (heal_in > 0) {%heal_in} @end</td>
		<td>@if (heal_out > 0) {%heal_out} @end</td>
		<td>@if (kills > 0) {%kills} @end</td>
		<td>@if (usedPT > 0) {%usedPT} @end</td>
		<td>@if (usedPTperTurn > 0) {%usedPTperTurn} @end</td>
		<td>@if (usedPM > 0) {%usedPM} @end</td>
		<td>@if (roundsPlayed > 0) {%roundsPlayed} @end</td>
		<td>@if (actionsWeapon > 0) {%actionsWeapon} @end</td>
		<td>@if (actionsChip > 0) {%actionsChip} @end</td>
		<td>@if (invocation > 0) {%invocation} @end</td>
		<td>@if (resurrection > 0) {%resurrection} @end</td>
		<td>@if (critical > 0) {%critical} @end</td>
		<td>@if (crashes > 0) {%crashes} @end</td>
	</tr>
	@foreach (summon in summons)
		@include('report.stats_entity', summon)
	@end
@endview
