<div class='page-header page-bar'>
	<h1>{#title}</h1>

	<div id='tabs' class='tabs'>
		<a href='/forum/category-6/topic-8476'>
			<div class='tab'>
				Sujet sur le forum
			</div>
		</a>
	</div>
</div>

<div class='panel'>
	<div class='content'>
		<div class='wrapper'>
			@foreach (milestone in milestones)
				<div class='milestone @if (milestone.ok) ok @end'>
					<div class='title'>{milestone.title}</div>
					<ul class='changes'>
						@foreach (change in milestone.changes)
							<li class='change'>
								<span class='text'>{change}</span>
							</li>
						@end
					</ul>
				</div>
			@end
		</div>
	</div>
</div>
