<div class='page-bar'>
	<h1>{#title}</h1>
</div>

<div class='panel'>

	<div class='content'>

		<div id='search'>

			<div id='search-box'>
				<div class='label'>{#query}</div>
				<input type='text' id='query' value='{query}'></input> <img src='{{static}}image/search_black.png'></img>
			</div>
			<br>
			<div id='search-box-farmer'>
				<div class='label'>{#author}</div>
				<input type='text' id='farmer-query' value='{farmer_query}'></input>
			</div>

			<div class='results-wrapper'>
				<br>
				<h4>{#results}</h4>

				@if (results.length > 0)
					<div class='results'>
						@foreach (result in results)

							<div class='result'>

								<a href='/forum/category-{result.cid}/topic-{result.tid}'>
									<div class='title'>{{result.formatted_title}}</div>
								</a>

								<div class='info'>{{result.link}}</div>

								<a href='/forum/category-{result.cid}/topic-{result.tid}'>
									<div class='headline'>{{result.message}}</div>
								</a>
							</div>
						@end
					</div>
				@else
					<div id='no-results'>
						<img src='{{static}}image/notgood.png'></img>
						<div>{#no_results_found}</div>
					</div>
				@end
			</div>

			<div class='pagination'>
				{{pagination}}
			</div>

		</div>
	</div>
</div>
