<div class='page-header page-bar'>
	<h1>{#title}</h1>

	<div class='tabs'>
		<div class='tab action' icon='power_settings_new' id='logout'>
			{#logout}
		</div>
	</div>
</div>

<div class='flex-container'>

	<div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>{#language}</h2>
			</div>

			<div class='content'>

				<div id='languages'>
					@foreach (language in languages)
						<div class='language card {language.code == _.lang.current ? "selected" : ''}' lang='{language.code}'>
							<img src='{{static}}/{language.flag}' />
							<br>
							{language.name} ({language.code})
						</div>
					@end
				</div>
			</div>
		</div>

	</div><div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>{#misc_options}</h2>
			</div>

			<div class='content'>
				<table class='misc-settings'>
					<tr id='sfw-button'>
						<td><h4>{#activate_discrete_mode}</h4></td>
						<td>@include('main.switch', sfw_switch)</td>
					</tr>
					<tr id='notifs-results-button'>
						<td><h4>{#notifs_results}</h4></td>
						<td>@include('main.switch', notifs_results_switch)</td>
					</tr>
					@if (mobile)
						<tr id='chat-first-button'>
							<td><h4>{#chat_first}</h4></td>
							<td>@include('main.switch', chat_first_switch)</td>
						</tr>
					@end
				</table>
			</div>
		</div>

	</div><div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>{#change_password}</h2>
			</div>

			<div class='content'>
				<form id='change-password' method='post'>

					<h4>{#old_password}</h4>
					<input name="password" type="password" required></input> <br>

					<h4>{#new_password}</h4>
					<input name="new_password1" type="password" required></input> <br>

					<h4>{#confirm_password}</h4>
					<input name="new_password2" type="password" required></input> <br>

					<center><input type='submit' class='button green' value='{#change}'></input></center>
				</form>
			</div>
		</div>

	</div><div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>Notifications</h2>
				<div class='right'>
					<span id='push-notifs-button'><span>{#push_notifications}</span> @include('main.switch', push_notifs_switch)</span>
				</div>
			</div>

			<div class='content' id='notifications'>
				<table>
				@foreach (category : notifications in mails)
					<tr>
						<td class='category'>
							{_.lang.get('mail', 'notif_' + category)}
						</td>
					</tr>
					<div category='{category}'>
						@foreach (mail in notifications)
							<tr>
								<td class='item'>
									<label for='mails_{category}{mail}'>{_.lang.get('mail', 'notif_' + category + '_' + mail)}</label>
								</td>
								<td class='push'>
									<input type='checkbox' id='cb_push_{category}{mail}' setting='push_{category}{mail}' {settings['push_' + category + '_' + mail] ? 'checked=true' : ''}><label for='cb_push_{category}{mail}'>Push</label>
								</td>
								<td>
									<input type='checkbox' id='cb_mail_{category}{mail}' setting='mail_{category}{mail}' {settings['mail_' + category + '_' + mail] ? 'checked=true' : ''}><label for='cb_mail_{category}{mail}'>Mail</label>
								</td>
							</tr>
						@end
						<tr class='separator'></tr>
					</div>
				@end
				</table>
			</div>
		</div>
	</div>

	<div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>{#delete_account}</h2>
			</div>

			<div class='content'>
				<div id='delete-button' class='button'>{#delete_account}</div>
			</div>
		</div>

	</div><div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>Two factor authentication</h2>
			</div>
			<div class='content' id='two-factor'>

				<div class='step'>
					<div class='button' id='two-factor-button'>Activate two factor authentication</div>
				</div>

				<div class='step'>
					<div class='title'>Step 1 / 3</div>
					<br>
					Download <b>Google Authenticator</b> app
					<br>
					<img width='100' src='{{static}}image/google_auth.png'>
					<br>
					<a href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2' target='_blank'>Android</a>
					or <a href='https://itunes.apple.com/fr/app/google-authenticator/id388497605' target='_blank'>iOS</a>

					<div class='buttons'>
						<div class='back'>Back</div>
						<div class='next' id='two-factor-generate'>Next</div>
					</div>
				</div>
				<div class='step'>
					<div class='title'>Step 2 / 3</div>
					<br>
					Scan this <b>QR Code</b> from Google Authenticator app
					<br>
					<img id='two-factor-qrcode'>
					<br>
					Or enter this <b>secret key</b> in the app:
					<br>
					<span id='two-factor-secret'/>
					<br>
					(don't give it to anyone!)
					<div class='buttons'>
						<div class='back'>Back</div>
						<div class='next' id='two-factor-generate'>Next</div>
					</div>
				</div>
				<div class='step'>
					<div class='title'>Step 3 / 3</div>
					<br>
					Test a code to finish the activation:
					<br><br>
					<input type='text' autocomplete="off" autocorrect="off" autocapitalize="off" id='two-factor-code' placeholder="XXX XXX">

					<div class='buttons'>
						<div class='back'>Back</div>
					</div>
				</div>
				<div class='step final'>
					Two factor authentication enabled! Congratulations!
					<br><br>
					<div class='button' id='two-factor-disable'>Disable</div>
				</div>
			</div>
		</div>
	</div>
</div>

<center>
	<div class='advanced-button'>
		Avancé
		<img src='{{static}}image/expand.png'>
	</div>
</center>

<div class='flex-container advanced'>

	<div class='column6'>

		<div class='panel'>

			<div class='header'>
				<h2>Vider le localStorage</h2>
			</div>

			<div class='content'>

				<div class='clear-localstorage button'>Vider</div>
			</div>
		</div>

	</div><div class='column6'>


	</div>
</div>

@view (delete_popup)
	<div class='title'>{#delete_account}</div>

	<div class='content'>
		{#delete_message}
		<br>
		<br>
		<input type='checkbox' id='delete-forum-messages'><label for='delete-forum-messages'>{#delete_forum_messages}</label>
	</div>

	<div class='actions'>
		<div class='action dismiss'>{#delete_cancel}</div>
		<div id='delete' class='action red'>{#delete_confirm}</div>
	</div>
@endview

@view (delete_confirm_popup)

	<div class='title'>{#delete_confirmation}</div>

	<div class='content'>{#delete_confirmation_password} : <br><br>

	{#delete_password} : <input type='password' id='delete-confirm-password'></input>
	</div>

	<div class='actions'>
		<div class='action dismiss'>{#delete_cancel}</div>
		<div id='delete-final' class='action red'>{#delete_finalize}</div>
	</div>
@endview

@view (delete_success_popup)

	<div class='title'>{#delete_success}</div>

	<div class='content'>{#delete_success_message}</div>
@endview

@view (delete_failed_popup)

	<div class='title'>{#delete_failed}</div>

	<div class='content'>
		<div id='delete-error'></div>
	</div>

	<div class='actions'>
		<div class='action dismiss'>{#delete_ok}</div></center>
	</div>
@endview

@view (two_factor_confirm_popup)

	<div class='title'>Enter your password to validate</div>

	<div class='content'>Password : <input type='password' id='two-factor-confirm-password'></input>
	</div>

	<div class='actions'>
		<div class='action dismiss'>Cancel</div>
		<div id='two-factor-validate' class='action green'>Validate</div>
	</div>
@endview
