<div class='page-header page-bar'>

	<h1 id='team-name'>{team.name}</h1>

	@if (team_member)
		<div id='tabs' class='tabs'>

			<a href='/forum/category-{team.forum}'>
				<div class='tab action' link='/forum/category-{team.forum}' icon='question_answer'>{#forum}</div>
			</a>

			<div class='tab' id='opened-button'>
				<span>{#opened}</span>
				@include('main.switch', recrutement_switch)
			</div>
			<div id='tt_opened-button' class='tooltip'>{#recrutment_mode}</div>
		</div>
	@end
</div>

<div class='flex-container'>

	<div class='column4'>

		<div class='panel' id='team-emblem'>

			<div class='content'>

				@if (team_member)

					<div id='emblem-input'>
						@if (team.emblem_changed > 0)
							<img id='emblem' src='{{avatar}}/emblem/{team.id}.png?{team.emblem_changed}'></img>
						@else
							<img id='emblem' src='{{static}}/image/no_emblem.png'></img>
						@end
						<input type="file">
					</div>
					<div id='tt_emblem-input' class='tooltip'>{#change_emblem}</div>
				@else
					@if (team.emblem_changed > 0)
						<img id='emblem' src='{{avatar}}/emblem/{team.id}.png?{team.emblem_changed}'></img>
					@else
						<img id='emblem' src='{{static}}/image/no_emblem.png'></img>
					@end
				@end
			</div>
		</div>

	</div><div class='column4'>

		<div class='panel' id='description'>

			<div class='content'>

				<div class='{team_status_class}'>
					<span class='guillemet'>«</span>
					<span id='team-status' class='text' @if(team_owner) contenteditable @end>{team.description}</span>
					<span class='guillemet'>»</span>

					<span class='edit-pen'></span>
				</div>

				@if (LW.connected && !team_member && LW.farmer.team == null)
					<br>
					<br>
					<center>
						@if (team.opened)

							<div id='send-candidacy' class='button'>{#join_team}</div>
							<div id='cancel-candidacy' class='button'>{#cancel_candidacy}</div>

						@else
							<i>{#closed_team}</i>
						@end
					</center>
				@end
			</div>
		</div>

	</div><div class='column4'>

		<div class='panel'>

			<div class='content'>
				<h2>{#level_n, team.level}</h2>

				<div id='bar'>
					<span id='xp-bar' class='striked {xp_bar_class}' style='width:{xp_bar_width}%'></span>
				</div>
				<div class='tooltip fluid' id='tt_bar'>
					@if (max_level)
						<b>{#max_level}</b> <br>
						{#xp, team.xp}
					@else
						<b>{{#remaining_xp, _.format.number(team.remaining_xp)}}</b> <br>
						{{#xp, _.format.number(team.xp) + " / " + _.format.number(team.up_xp)}}
					@end
				</div>

				<center><div id='talent' class='talent'>{team.talent}</div></center>
				<div class='tooltip' id='tt_talent'>{#talent}</div>

				<br />
				<table id='fights'>
					<tr>
						<td class='big'>{team.victories}</td>
						<td class='big'>{team.draws}</td>
						<td class='big'>{team.defeats}</td>
					</tr>
					<tr>
						<td class='grey'>{#victories}</td>
						<td class='grey'>{#draws}</td>
						<td class='grey'>{#defeats}</td>
					</tr>
				</table>
				<div id='tt_fights' class='tooltip'>{#ratio, team.ratio}</div>
			</div>
		</div>
	</div>
</div>

@if (team_member)
	<div class='panel' id='team-chat'>

		<div class='header'>
			<h2>{#chat}</h2>

			<div class='right'>
				<div class='button flat expand'>
					<img src='{{static}}image/icon/collapse.png'>
				</div>
			</div>
		</div>

		<div class='content'>
			<div class='chat-messages' autostopscroll='bottom'></div>
			<div class='chat-new-messages'>{#main.unread_messages}</div>
			<div class='chat-disconnected'>{#main.disconnected}</div>
			<div class='chat-input'>
				<div class='chat-input-content' contenteditable="true" placeholder="{#main.chat_placeholder}"></div>
				<div class='chat-input-emoji'></div>
			</div>
		</div>
	</div>

	@if (team.candidacies.length > 0)
		<div class='panel'>

			<div class='header'>
				<h2>{#candidacies} ({team.candidacies.length})</h2>
			</div>

			<div class='content'>
				<div id='candidacies'>

					@foreach (candidacy in team.candidacies)
						<div class='farmer'>
							<a href='/farmer/{candidacy.farmer.id}'>
								<img src='@include('main.avatar', candidacy.farmer)'></img>
								<div class='name'>{candidacy.farmer.name}</div>
							</a>
							<span class='accept' candidacy='{candidacy.id}'>{#candidacy_accept}</span>
							<span class='reject' candidacy='{candidacy.id}'>{#candidacy_refuse}</span>
						</div>
					@end
				</div>
			</div>
		</div>
	@end
@endif

<div class='panel' id='farmers'>

	<div class='header'>
		<h2>{#farmers, team.member_count}</h2>
	</div>

	<div class='content'>

		@foreach (member in team.members)
			<div class='farmer'>
				<a href='/farmer/{member.id}'>

					<img class='avatar' src="@include('main.avatar', member)">

					<div class='name'>
						@if (member.grade == 'owner')
							<span id="member-star-{member.id}">★</span>
							<div id='tt_member-star-{member.id}' class='tooltip'>{#owner}</div>
						@else
							@if (member.grade == 'captain')
								<span id="member-star-{member.id}">☆</span>
								<div id='tt_member-star-{member.id}' class='tooltip'>{#captain}</div>
							@end
						@end
						{member.name}
						@if (member.connected)
							<img class='status' src="{{static}}image/connected.png">
						@else
							<img class='status' src="{{static}}image/disconnected.png">
						@end
					</div>
				</a>
				@if (team_owner)
					@if (member.grade == 'owner')
						<i>{#owner}</i>
					@else
						<select class='level' name='level' farmer='{member.name}' member='{member.id}'>
							<option value='captain' {member.grade == 'captain' ? 'selected' : ''}>{#captain}</option>
							<option value='member' {member.grade == 'member' ? 'selected' : ''}>{#member}</option>
						</select>
					@end
					<br>
					<div class='ban button' member='{member.id}' name='{member.name}'>{#ban}</div>
				@end
			</div>
		@end
	</div>
</div>

@if (team_member)
	<div class='panel'>
		<div class='header'>

			<h2>{#compositions}</h2>

			@if (team_captain)
				<div class='right'>
					<div id='create-compo-button' class='button flat'>{#create_composition}</div>
				</div>
			@end
		</div>
	</div>

	<div class='no-compos'>{#no_compositions}</div>

	@foreach (c : compo in team.compositions)

		<div class='panel compo @if (compo.tournament.registered) in-tournament @end' compo='{compo.id}'>

			<div class='header'>

				<h2>{compo.name}</h2>

				<div class='talent'>
					<span>{#level_n, compo.total_level}</span>
					<img src='{{static}}image/icon/talent.png'>
					<span>{compo.talent}</span>
				</div>

				<div class='right'>

					@if (compo.tournament.current)
						<a class='view-tournament' href='/tournament/{compo.tournament.current}'>
							<div class='button flat'>
								{#see_tournament}
							</div>
						</a>
					@end
					@if (team_captain)
						<div class='button flat' id='compo-tournament-{c}'>
							<img src='{{static}}image/icon/trophy.png'>
							<span class='register-tournament' >{#register_tournament}</span>
							<span class='unregister-tournament' >{#unregister}</span>
						</div>
						<div class='tooltip' id='tt_compo-tournament-{c}'>{#tournament_time}</div>
					@end
					@if (team_captain)
						<div class='delete-compo button flat' compo='{compo.id}'>❌</div>
					@end
				</div>
			</div>

			<div class='content leeks'>

				<div class='empty'>{#empty_compo}</div>

				@foreach (leek in compo.leeks)

					<a href='/leek/{leek.id}'>
						<div class='leek' leek='{leek.id}' draggable='true'>
							<span class='image'></span><br>
							<div class='name'>{leek.name} ({leek.level})</div><br>
							<div class='fights'>
								<img src='{{static}}image/icon/grey/garden.png' />
								<span>{leek.team_fights}</span>
							</div>
						</div>
					</a>
				@end
			</div>
		</div>
	@end

	<div class='panel compo' compo='-1'>

		<div class='header'>
			<h2 class='compo-title' compo='-1'>{#unsorted_leeks}</h2>
		</div>

		<div class='content leeks'>
			<div class='empty'>{#empty_compo}</div>

			@foreach (leek in team.unengaged_leeks)
				<a href='/leek/{leek.id}'>
					<div class='leek' leek='{leek.id}' draggable='true'>
						<span class='image'></span><br>
						<div class='name'>{leek.name} ({leek.level})</div><br>
						<div class='fights'>
							<img src='{{static}}image/icon/grey/garden.png' />
							<span>{leek.team_fights}</span>
						</div>
					</div>
				</a>
			@end
		</div>
	</div>

@else

	<div class='panel'>
		<div class='header'>
			<h2>{#leeks, team.leek_count}</h2>
		</div>
		<div class='content'>

			@foreach (leek in team.leeks)
				<a class='leek' href='/leek/{leek.id}' leek='{leek.id}'>
					<span class='image'></span><br>
					<div class='name'>{leek.name} ({leek.level})</div>
				</a>
			@end
		</div>
	</div>
@end

<div class='container'>

	<div class='column6'>

		<div class='panel' id='history'>

			<div class='header'>
				<h2>{#history}</h2>
			</div>

			<div class='content fight-history'>
				@foreach (fight in team.fights)
					<div class='fight-wrapper'>
						@include('main.fight', fight)
					</div>
				@end
			</div>
		</div>

	</div><div class='column6'>

		<div id='tournament-history' class='panel'>

			<div class='header'>
				<h2>{#tournaments}</h2>
			</div>

			<div class='content tournament-history'>

				@foreach (tournament in team.tournaments)
					<div class='tournament-wrapper'>
						@include('main.tournament', tournament)
					</div>
			    @end
		    </div>
		</div>
	</div>
</div>

<div class='page-footer page-bar'>
	<div class='tabs'>
		@if (team_member)
			<div class='tab' id='quit-team-button'>{#quit_team}</div>
		@end
		@if (team_owner)
			<div class='tab' id='change-owner-button'>{#change_owner}</div>
		@end
		@if (team_owner)
			<div class='tab' id='dissolve-team-button'>{#disolve_team}</div>
		@end
		@if (!team_member)
			@if (LW.connected)
				<div id='report-button-container'>
					<div id='report-button' class='report-button tab'>
						<img src='{{static}}image/icon/flag.png'>
						<span>{#report}</span>
					</div>
				</div>
			@end
		@end
	</div>
</div>

@view (create_compo_popup)

	<div class='title'>{#create_composition}</div>

	<div class='content'>
		<h4>{#compo_name}</h4>
		<input type='text' id='compo-name'></input>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#compo_cancel}</div>
		<div id='create-compo' class='green' >{#compo_create}</div>
	</div>
@endview

@view (quit_team_popup)

	<div class='title'>{#quit_team_confirm_title, team.name}</div>

	<div class='content'>
		{#quit_team_confirm}
	</div>

	<div class='actions'>
		<div class='dismiss'>{#quit_cancel}</div>
		<div id='quit-team' class='red'>{#quit_confirm}</div>
	</div>
@endview

@view (dissolve_popup)

	<div class='title'>{#disolve_confirm_title, team.name}</div>

	<div class='content'>
		{#disolve_confirm}
	</div>

	<div class='actions'>
		<div class='dismiss'>{#disolve_cancel}</div>
		<div id='dissolve-team' class='red'>{#disolve_disolve}</div>
	</div>
@endview

@view (ban_popup)

	<div class='title'>{#ban_confirm_title, name}</div>

	<div class='content'>
		{#ban_confirm, name}
	</div>

	<div class='actions'>
		<div class='dismiss'>{#ban_cancel}</div>
		<div class='ban red'>{#ban_ban}</div>
	</div>
@endview

@view (change_owner_popup)

	<div class='title'>{#change_owner_title, "<span class='change-owner-farmer'></span>"}</div>

	<div class='content'>
		{#change_owner_select}

		@foreach (member in members)

			<div class='farmer {member.grade == "owner" ? "selected" : ""}' farmer-id='{member.id}'>

				<img class='avatar' src="@include('main.avatar', member)">

				<div class='name'>
					@if (member.grade == 'owner')
						<span id="member-star-{member.id}">★</span>
						<div id='tt_member-star-{member.id}' class='tooltip'>{#owner}</div>
					@else
						@if (member.grade == 'captain')
							<span id="member-star-{member.id}">☆</span>
							<div id='tt_member-star-{member.id}' class='tooltip'>{#captain}</div>
						@end
					@end
					{member.name}
				</div>
			</div>
		@end
	</div>

	<div class='actions'>
		<div class='dismiss'>{#change_owner_cancel}</div>
		<div id='change-owner' class='green'>{#change_owner_change}</div>
	</div>
@endview

@view (change_owner_confirm_popup)

	<div class='title'>{#change_owner_confirm_title, "<span class='change-owner-farmer'></span>"}</div>

	<div class='content'>
		{#change_owner_confirm, new_owner.name}
		<br>
		<br>
		{#enter_password_to_confirm}
		<br>
		<br>

		<input id='change-owner-password' type='password'>
	</div>

	<div class='actions'>
		<div class='dismiss'>{#change_owner_cancel}</div>
		<div id='change-owner-confirm' class='green'>{#change_owner_change}</div>
	</div>
@endview
