<div class='page-header page-bar'>
<h1>{title}</h1>
	<div class='tabs'>
		@if (!tournament.finished)
			<div id='next-round-time' class='tab disabled'></div>
		@endif
	</div>
</div>

<div class='panel'>
	<div class='content'>

		<svg id='tournament' viewBox="-485 -400 970 800">

			<!-- Gauche -->
			<a xlink:href='{sixteenths[0].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="-350" me='{sixteenths[0].contestants[0].me}' />
				<image win='{sixteenths[0].contestants[0].win}' id='seize1' width='48' height='48' x="-469" y="-349" xlink:href='{sixteenths[0].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[0].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="-340" />
			</a>
			<a xlink:href='{sixteenths[0].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="-350" me='{sixteenths[0].contestants[1].me}' />
				<image win='{sixteenths[0].contestants[1].win}' id='seize2' width='48' height='48' x="-389" y="-349" xlink:href='{sixteenths[0].contestants[1].image}' />
			</a>

			<a xlink:href='{sixteenths[1].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="-280" me='{sixteenths[1].contestants[0].me}' />
				<image win='{sixteenths[1].contestants[0].win}' id='seize3' width='48' height='48' x="-469" y="-279" xlink:href='{sixteenths[1].contestants[0].image}' />
			</a>
			<a xlink:href='{sixteenths[1].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="-270" />
			</a>
			<a xlink:href='{sixteenths[1].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="-280" me='{sixteenths[1].contestants[1].me}' />
				<image win='{sixteenths[1].contestants[1].win}' id='seize4' width='48' height='48' x="-389" y="-279" xlink:href='{sixteenths[1].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[2].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="-150" me='{sixteenths[2].contestants[0].me}' />
				<image win='{sixteenths[2].contestants[0].win}' id='seize5' width='48' height='48' x="-469" y="-149"  xlink:href='{sixteenths[2].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[2].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="-140" />
			</a>
			<a xlink:href='{sixteenths[2].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="-150" me='{sixteenths[2].contestants[1].me}' />
				<image win='{sixteenths[2].contestants[1].win}' id='seize6' width='48' height='48' x="-389" y="-149" xlink:href='{sixteenths[2].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[3].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="-80" me='{sixteenths[3].contestants[0].me}' />
				<image win='{sixteenths[3].contestants[0].win}' id='seize7' width='48' height='48' x="-469" y="-79" xlink:href='{sixteenths[3].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[3].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="-70" />
			</a>
			<a xlink:href='{sixteenths[3].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="-80" me='{sixteenths[3].contestants[1].me}' />
				<image win='{sixteenths[3].contestants[1].win}' id='seize8' width='48' height='48' x="-389" y="-79" xlink:href='{sixteenths[3].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[4].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="30" me='{sixteenths[4].contestants[0].me}' />
				<image win='{sixteenths[4].contestants[0].win}' id='seize9' width='48' height='48' x="-469" y="31" xlink:href='{sixteenths[4].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[4].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="40" />
			</a>
			<a xlink:href='{sixteenths[4].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="30" me='{sixteenths[4].contestants[1].me}' />
				<image win='{sixteenths[4].contestants[1].win}' id='seize10' width='48' height='48' x="-389" y="31" xlink:href='{sixteenths[4].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[5].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="100" me='{sixteenths[5].contestants[0].me}' />
				<image win='{sixteenths[5].contestants[0].win}' id='seize11' width='48' height='48' x="-469" y="101" xlink:href='{sixteenths[5].contestants[0].image}' />
			</a>
			<a xlink:href='{sixteenths[5].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="110" />
			</a>
			<a xlink:href='{sixteenths[5].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="100" me='{sixteenths[5].contestants[1].me}' />
				<image win='{sixteenths[5].contestants[1].win}' id='seize12' width='48' height='48' x="-389" y="101" xlink:href='{sixteenths[5].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[6].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="230" me='{sixteenths[6].contestants[0].me}' />
				<image win='{sixteenths[6].contestants[0].win}' id='seize13' width='48' height='48' x="-469" y="231" xlink:href='{sixteenths[6].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[6].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="240" />
			</a>
			<a xlink:href='{sixteenths[6].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="230" me='{sixteenths[6].contestants[1].me}' />
				<image win='{sixteenths[6].contestants[1].win}' id='seize14' width='48' height='48' x="-389" y="231" xlink:href='{sixteenths[6].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[7].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="-470" y="300" me='{sixteenths[7].contestants[0].me}' />
				<image win='{sixteenths[7].contestants[0].win}' id='seize15' width='48' height='48' x="-469" y="301" xlink:href='{sixteenths[7].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[7].fight}'>
				<rect class='fight' width='30' height='30' x="-420" y="310" />
			</a>
			<a xlink:href='{sixteenths[7].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="-390" y="300" me='{sixteenths[7].contestants[1].me}' />
				<image win='{sixteenths[7].contestants[1].win}' id='seize16' width='48' height='48' x="-389" y="301" xlink:href='{sixteenths[7].contestants[1].image}'/>
			</a>

			<polyline class='line' points="-405 -340, -405 -370, -320 -370, -320 -335, -300 -335" />
			<polyline class='line' points="-405 -240, -405 -210, -320 -210, -320 -245, -300 -245" />
			<polyline class='line' points="-405 -140, -405 -170, -320 -170, -320 -135, -300 -135" />
			<polyline class='line' points="-405 -40, -405 -10, -320 -10, -320 -45, -300 -45" />

			<polyline class='line' points="-405 40, -405 10, -320 10, -320 45, -300 45" />
			<polyline class='line' points="-405 340, -405 370, -320 370, -320 335, -300 335" />
			<polyline class='line' points="-405 240, -405 210, -320 210, -320 245, -300 245" />
			<polyline class='line' points="-405 140, -405 170, -320 170, -320 135, -300 135" />

			<a xlink:href='{eighths[0].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="-365" me='{eighths[0].contestants[0].me}' />
				<image win='{eighths[0].contestants[0].win}' id='huit1' width='58' height='58' x="-299" y="-364" xlink:href='{eighths[0].contestants[0].image}'/>
			</a>
			<a xlink:href='{eighths[0].fight}'>
				<rect class='fight' width='30' height='30' x="-285" y="-305" />
			</a>
			<a xlink:href='{eighths[0].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="-275" me='{eighths[0].contestants[1].me}'/>
				<image win='{eighths[0].contestants[1].win}' id='huit2' width='58' height='58' x="-299" y="-274" xlink:href='{eighths[0].contestants[1].image}'/>
			</a>

			<a xlink:href='{eighths[1].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="-165" me='{eighths[1].contestants[0].me}'/>
				<image win='{eighths[1].contestants[0].win}' id='huit3' width='58' height='58' x="-299" y="-164" xlink:href='{eighths[1].contestants[0].image}' />
			</a>
			<a xlink:href='{eighths[1].fight}'>
				<rect class='fight' width='30' height='30' x="-285" y="-105" />
			</a>
			<a xlink:href='{eighths[1].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="-75" me='{eighths[1].contestants[1].me}'/>
				<image win='{eighths[1].contestants[1].win}' id='huit4' width='58' height='58' x="-299" y="-74" xlink:href='{eighths[1].contestants[1].image}'/>
			</a>

			<a xlink:href='{eighths[2].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="15" me='{eighths[2].contestants[0].me}'/>
				<image win='{eighths[2].contestants[0].win}' id='huit5' width='58' height='58' x="-299" y="16" xlink:href='{eighths[2].contestants[0].image}'/>
			</a>
			<a xlink:href='{eighths[2].fight}'>
				<rect class='fight' width='30' height='30' x="-285" y="75" />
			</a>
			<a xlink:href='{eighths[2].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="105" me='{eighths[2].contestants[1].me}'/>
				<image win='{eighths[2].contestants[1].win}' id='huit6' width='58' height='58' x="-299" y="106" xlink:href='{eighths[2].contestants[1].image}'/>
			</a>

			<a xlink:href='{eighths[3].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="215" me='{eighths[3].contestants[0].me}'/>
				<image win='{eighths[3].contestants[0].win}' id='huit7' width='58' height='58' x="-299" y="216" xlink:href='{eighths[3].contestants[0].image}'/>
			</a>
			<a xlink:href='{eighths[3].fight}'>
				<rect class='fight' width='30' height='30' x="-285" y="275" />
			</a>
			<a xlink:href='{eighths[3].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="-300" y="305" me='{eighths[3].contestants[1].me}'/>
				<image win='{eighths[3].contestants[1].win}' id='huit8' width='58' height='58' x="-299" y="306" xlink:href='{eighths[3].contestants[1].image}'/>
			</a>

			<polyline class='line' points="-255 -290, -175 -290, -175 -275" />
			<polyline class='line' points="-255 -90, -175 -90, -175 -105" />
			<polyline class='line' points="-255 290, -175 290, -175 275" />
			<polyline class='line' points="-255 90, -175 90, -175 105" />

			<a xlink:href='{quarters[0].contestants[0].link}'>
				<rect class='entry' width='70' height='70' x="-210" y="-275" me='{quarters[0].contestants[0].me}'/>
				<image win='{quarters[0].contestants[0].win}' id='quart1' width='68' height='68' x="-209" y="-274" xlink:href='{quarters[0].contestants[0].image}'/>
			</a>
			<a xlink:href='{quarters[0].fight}'>
				<rect class='fight' width='30' height='30' x="-190" y="-205" />
			</a>
			<a xlink:href='{quarters[0].contestants[1].link}'>
				<rect class='entry' width='70' height='70' x="-210" y="-175" me='{quarters[0].contestants[1].me}'/>
				<image win='{quarters[0].contestants[1].win}' id='quart2' width='68' height='68' x="-209" y="-174" xlink:href='{quarters[0].contestants[1].image}'/>
			</a>

			<a xlink:href='{quarters[1].contestants[0].link}'>
				<rect class='entry' width='70' height='70' x="-210" y="105" me='{quarters[1].contestants[0].me}'/>
				<image win='{quarters[1].contestants[0].win}' id='quart3' width='68' height='68' x="-209" y="106" xlink:href='{quarters[1].contestants[0].image}'/>
			</a>
			<a xlink:href='{quarters[1].fight}'>
				<rect class='fight' width='30' height='30' x="-190" y="175" />
			</a>
			<a xlink:href='{quarters[1].contestants[1].link}'>
				<rect class='entry' width='70' height='70' x="-210" y="205" me='{quarters[1].contestants[1].me}'/>
				<image win='{quarters[1].contestants[1].win}' id='quart4' width='68' height='68' x="-209" y="206" xlink:href='{quarters[1].contestants[1].image}'/>
			</a>

			<polyline class='line' points="-160 -190, -122.2 -190, -122.5 -110, -80 -110, -80, -95" />
			<polyline class='line' points="-160 190, -122.2 190, -122.5 110, -80 110, -80, 95" />

			<a xlink:href='{semifinals[0].contestants[0].link}'>
				<rect class='entry' width='80' height='80' x="-120" y="-95" me='{semifinals[0].contestants[0].me}'/>
				<image win='{semifinals[0].contestants[0].win}' id='demi1' width='78' height='78' x="-119" y="-94" xlink:href='{semifinals[0].contestants[0].image}'/>
			</a>
			<a xlink:href='{semifinals[0].fight}'>
				<rect class='fight' width='30' height='30' x="-95" y="-15" />
			</a>
			<a xlink:href='{semifinals[0].contestants[1].link}'>
				<rect class='entry' width='80' height='80' x="-120" y="15" me='{semifinals[0].contestants[1].me}'/>
				<image win='{semifinals[0].contestants[1].win}' id='demi2' width='78' height='78' x="-119" y="16" xlink:href='{semifinals[0].contestants[1].image}'/>
			</a>

			<polyline class='line' points="-65 0, -25 0, -25 -145, -60 -145, -60 -165" />

			<!-- Droite -->
			<a xlink:href='{sixteenths[8].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="-350" me='{sixteenths[8].contestants[0].me}' />
				<image win='{sixteenths[8].contestants[0].win}' id='seize17' width='48' height='48' x="341" y="-349" xlink:href='{sixteenths[8].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[8].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="-340" />
			</a>
			<a xlink:href='{sixteenths[8].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="-350" me='{sixteenths[8].contestants[1].me}' />
				<image win='{sixteenths[8].contestants[1].win}' id='seize18' width='48' height='48' x="421" y="-349" xlink:href='{sixteenths[8].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[9].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="-280" me='{sixteenths[9].contestants[0].me}' />
				<image win='{sixteenths[9].contestants[0].win}' id='seize19' width='48' height='48' x="341" y="-279" xlink:href='{sixteenths[9].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[9].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="-270" />
			</a>
			<a xlink:href='{sixteenths[9].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="-280" me='{sixteenths[9].contestants[1].me}' />
				<image win='{sixteenths[9].contestants[1].win}' id='seize20' width='48' height='48' x="421" y="-279" xlink:href='{sixteenths[9].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[10].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="-150" me='{sixteenths[10].contestants[0].me}' />
				<image win='{sixteenths[10].contestants[0].win}' id='seize21' width='48' height='48' x="341" y="-149" xlink:href='{sixteenths[10].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[10].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="-140" />
			</a>
			<a xlink:href='{sixteenths[10].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="-150" me='{sixteenths[10].contestants[1].me}' />
				<image win='{sixteenths[10].contestants[1].win}' id='seize22' width='48' height='48' x="421" y="-149" xlink:href='{sixteenths[10].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[11].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="-80" me='{sixteenths[11].contestants[0].me}' />
				<image win='{sixteenths[11].contestants[0].win}' id='seize23' width='48' height='48' x="341" y="-79" xlink:href='{sixteenths[11].contestants[0].image}' />
			</a>
			<a xlink:href='{sixteenths[11].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="-70" />
			</a>
			<a xlink:href='{sixteenths[11].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="-80" me='{sixteenths[11].contestants[1].me}' />
				<image win='{sixteenths[11].contestants[1].win}' id='seize24' width='48' height='48' x="421" y="-79" xlink:href='{sixteenths[11].contestants[1].image}' />
			</a>

			<a xlink:href='{sixteenths[12].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="30" me='{sixteenths[12].contestants[0].me}' />
				<image win='{sixteenths[12].contestants[0].win}' id='seize25' width='48' height='48' x="341" y="31" xlink:href='{sixteenths[12].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[12].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="40" />
			</a>
			<a xlink:href='{sixteenths[12].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="30" me='{sixteenths[12].contestants[1].me}' />
				<image win='{sixteenths[12].contestants[1].win}' id='seize26' width='48' height='48' x="421" y="31" xlink:href='{sixteenths[12].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[13].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="100" me='{sixteenths[13].contestants[0].me}' />
				<image win='{sixteenths[13].contestants[0].win}' id='seize27' width='48' height='48' x="341" y="101" xlink:href='{sixteenths[13].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[13].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="110" />
			</a>
			<a xlink:href='{sixteenths[13].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="100" me='{sixteenths[13].contestants[1].me}' />
				<image win='{sixteenths[13].contestants[1].win}' id='seize28' width='48' height='48' x="421" y="101" xlink:href='{sixteenths[13].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[14].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="230" me='{sixteenths[14].contestants[0].me}' />
				<image win='{sixteenths[14].contestants[0].win}' id='seize29' width='48' height='48' x="341" y="231" xlink:href='{sixteenths[14].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[14].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="240" />
			</a>
			<a xlink:href='{sixteenths[14].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="230" me='{sixteenths[14].contestants[1].me}'/>
				<image win='{sixteenths[14].contestants[1].win}' id='seize30' width='48' height='48' x="421" y="231" xlink:href='{sixteenths[14].contestants[1].image}'/>
			</a>

			<a xlink:href='{sixteenths[15].contestants[0].link}'>
				<rect class='entry' width='50' height='50' x="340" y="300" me='{sixteenths[15].contestants[0].me}'/>
				<image win='{sixteenths[15].contestants[0].win}' id='seize31' width='48' height='48' x="341" y="301" xlink:href='{sixteenths[15].contestants[0].image}'/>
			</a>
			<a xlink:href='{sixteenths[15].fight}'>
				<rect class='fight' width='30' height='30' x="390" y="310" />
			</a>
			<a xlink:href='{sixteenths[15].contestants[1].link}'>
				<rect class='entry' width='50' height='50' x="420" y="300" me='{sixteenths[15].contestants[1].me}'/>
				<image win='{sixteenths[15].contestants[1].win}' id='seize32' width='48' height='48' x="421" y="301" xlink:href='{sixteenths[15].contestants[1].image}'/>
			</a>

			<polyline class='line' points="405 -340, 405 -370, 320 -370, 320 -335, 300 -335" />
			<polyline class='line' points="405 -240, 405 -210, 320 -210, 320 -245, 300 -245" />
			<polyline class='line' points="405 -140, 405 -170, 320 -170, 320 -135, 300 -135" />
			<polyline class='line' points="405 -40, 405 -10, 320 -10, 320 -45, 300 -45" />

			<polyline class='line' points="405 40, 405 10, 320 10, 320 45, 300 45" />
			<polyline class='line' points="405 340, 405 370, 320 370, 320 335, 300 335" />
			<polyline class='line' points="405 240, 405 210, 320 210, 320 245, 300 245" />
			<polyline class='line' points="405 140, 405 170, 320 170, 320 135, 300 135" />

			<a xlink:href='{eighths[4].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="240" y="-365" me='{eighths[4].contestants[0].me}'/>
				<image win='{eighths[4].contestants[0].win}' id='huit9' width='58' height='58' x="241" y="-364" xlink:href="{eighths[4].contestants[0].image}" />
			</a>
			<a xlink:href='{eighths[4].fight}'>
				<rect class='fight' width='30' height='30' x="255" y="-305" />
			</a>
			<a xlink:href='{eighths[4].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="240" y="-275" me='{eighths[4].contestants[1].me}'/>
				<image win='{eighths[4].contestants[1].win}' id='huit10' width='58' height='58' x="241" y="-274" xlink:href="{eighths[4].contestants[1].image}"/>
			</a>

			<a xlink:href='{eighths[5].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="240" y="-165" me='{eighths[5].contestants[0].me}'/>
				<image win='{eighths[5].contestants[0].win}' id='huit11' width='58' height='58' x="241" y="-164" xlink:href="{eighths[5].contestants[0].image}"/>
			</a>
			<a xlink:href='{eighths[5].fight}'>
				<rect class='fight' width='30' height='30' x="255" y="-105" />
			</a>
			<a xlink:href='{eighths[5].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="240" y="-75" me='{eighths[5].contestants[1].me}'/>
				<image win='{eighths[5].contestants[1].win}' id='huit12' width='58' height='58' x="241" y="-74" xlink:href="{eighths[5].contestants[1].image}"/>
			</a>

			<a xlink:href='{eighths[6].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="240" y="15" me='{eighths[6].contestants[0].me}'/>
				<image win='{eighths[6].contestants[0].win}' id='huit13' width='58' height='58' x="241" y="16" xlink:href="{eighths[6].contestants[0].image}"/>
			</a>
			<a xlink:href='{eighths[6].fight}'>
				<rect class='fight' width='30' height='30' x="255" y="75" />
			</a>
			<a xlink:href='{eighths[6].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="240" y="105" me='{eighths[6].contestants[1].me}'/>
				<image win='{eighths[6].contestants[1].win}' id='huit14' width='58' height='58' x="241" y="106" xlink:href="{eighths[6].contestants[1].image}"/>
			</a>

			<a xlink:href='{eighths[7].contestants[0].link}'>
				<rect class='entry' width='60' height='60' x="240" y="215" me='{eighths[7].contestants[0].me}'/>
				<image win='{eighths[7].contestants[0].win}' id='huit15' width='58' height='58' x="241" y="216" xlink:href="{eighths[7].contestants[0].image}"/>
			</a>
			<a xlink:href='{eighths[7].fight}'>
				<rect class='fight' width='30' height='30' x="255" y="275" />
			</a>
			<a xlink:href='{eighths[7].contestants[1].link}'>
				<rect class='entry' width='60' height='60' x="240" y="305" me='{eighths[7].contestants[1].me}'/>
				<image win='{eighths[7].contestants[1].win}' id='huit16' width='58' height='58' x="241" y="306" xlink:href="{eighths[7].contestants[1].image}"/>
			</a>

			<polyline class='line' points="255 -290, 175 -290, 175 -275" />
			<polyline class='line' points="255 -90, 175 -90, 175 -105" />
			<polyline class='line' points="255 290, 175 290, 175 275" />
			<polyline class='line' points="255 90, 175 90, 175 105" />

			<a xlink:href='{quarters[2].contestants[0].link}'>
				<rect class='entry' width='70' height='70' x="140" y="-275" me='{quarters[2].contestants[0].me}'/>
				<image win='{quarters[2].contestants[0].win}' id='quart5' width='68' height='68' x="141" y="-274" xlink:href='{quarters[2].contestants[0].image}' />
			</a>
			<a xlink:href='{quarters[2].fight}'>
				<rect class='fight' width='30' height='30' x="160" y="-205" />
			</a>
			<a xlink:href='{quarters[2].contestants[1].link}'>
				<rect class='entry' width='70' height='70' x="140" y="-175" me='{quarters[2].contestants[1].me}'/>
				<image win='{quarters[2].contestants[1].win}' id='quart6' width='68' height='68' x="141" y="-174" xlink:href='{quarters[2].contestants[1].image}'/>
			</a>

			<a xlink:href='{quarters[3].contestants[0].link}'>
				<rect class='entry' width='70' height='70' x="140" y="105" me='{quarters[3].contestants[0].me}'/>
				<image win='{quarters[3].contestants[0].win}' id='quart7' width='68' height='68' x="141" y="106" xlink:href='{quarters[3].contestants[0].image}'/>
			</a>
			<a xlink:href='{quarters[3].fight}'>
				<rect class='fight' width='30' height='30' x="160" y="175" />
			</a>
			<a xlink:href='{quarters[3].contestants[1].link}'>
				<rect class='entry' width='70' height='70' x="140" y="205" me='{quarters[3].contestants[1].me}'/>
				<image win='{quarters[3].contestants[1].win}' id='quart8' width='68' height='68' x="141" y="206" xlink:href='{quarters[3].contestants[1].image}'/>
			</a>

			<polyline class='line' points="160 -190, 122.2 -190, 122.5 -110, 80 -110, 80, -95" />
			<polyline class='line' points="160 190, 122.2 190, 122.5 110, 80 110, 80, 95" />

			<a xlink:href='{semifinals[1].contestants[0].link}'>
				<rect class='entry' width='80' height='80' x="40" y="-95" me='{semifinals[1].contestants[0].me}'/>
				<image win='{semifinals[1].contestants[0].win}' id='demi3' width='78' height='78' x="41" y="-94" xlink:href="{semifinals[1].contestants[0].image}" />
			</a>
			<a xlink:href='{semifinals[1].fight}'>
				<rect class='fight' width='30' height='30' x="65" y="-15" />
			</a>
			<a xlink:href='{semifinals[1].contestants[1].link}'>
				<rect class='entry' width='80' height='80' x="40" y="15" me='{semifinals[1].contestants[1].me}'/>
				<image win='{semifinals[1].contestants[1].win}' id='demi4' width='78' height='78' x="41" y="16" xlink:href="{semifinals[1].contestants[1].image}"/>
			</a>

			<polyline class='line' points="65 0, 25 0, 25 -145, 60 -145, 60 -165" />

			<!-- Finale -->
			<a xlink:href='{finals[0].contestants[0].link}'>
				<rect class='entry' width='90' height='90' x="-105" y="-250" me='{finals[0].contestants[0].me}'/>
				<image win='{finals[0].contestants[0].win}' id='final1' width='88' height='88' x="-104" y="-249" xlink:href="{finals[0].contestants[0].image}"/>
			</a>
			<a xlink:href='{finals[0].fight}'>
				<rect class='fight' width='30' height='30' x="-15" y="-220" />
			</a>
			<a xlink:href='{finals[0].contestants[1].link}'>
				<rect class='entry' width='90' height='90' x="15" y="-250" me='{finals[0].contestants[1].me}'/>
				<image win='{finals[0].contestants[1].win}' id='final2' width='88' height='88' x="16" y="-249" xlink:href="{finals[0].contestants[1].image}"/>
			</a>
			<polyline class='line' points="0 -220, 0 -295" />

			<a xlink:href='{winner.link}'>
				<rect class='entry' width='120' height='120' x="-60" y="-395" me='{winner.me}'/>
				<image class='{winner.class}' id='winner' width='118' height='118' x="-59" y="-394" xlink:href="{winner.image}" />
			</a>
		</svg>

		@if (sixteenths[0].contestants[0])
			<div id='tt_seize1' class='tooltip fluid top'>{sixteenths[0].contestants[0].name}</div>
			<div id='tt_seize2' class='tooltip fluid top'>{sixteenths[0].contestants[1].name}</div>
			<div id='tt_seize3' class='tooltip fluid'>{sixteenths[1].contestants[0].name}</div>
			<div id='tt_seize4' class='tooltip fluid'>{sixteenths[1].contestants[1].name}</div>
			<div id='tt_seize5' class='tooltip fluid top'>{sixteenths[2].contestants[0].name}</div>
			<div id='tt_seize6' class='tooltip fluid top'>{sixteenths[2].contestants[1].name}</div>
			<div id='tt_seize7' class='tooltip fluid'>{sixteenths[3].contestants[0].name}</div>
			<div id='tt_seize8' class='tooltip fluid'>{sixteenths[3].contestants[1].name}</div>
			<div id='tt_seize9' class='tooltip fluid top'>{sixteenths[4].contestants[0].name}</div>
			<div id='tt_seize10' class='tooltip fluid top'>{sixteenths[4].contestants[1].name}</div>
			<div id='tt_seize11' class='tooltip fluid'>{sixteenths[5].contestants[0].name}</div>
			<div id='tt_seize12' class='tooltip fluid'>{sixteenths[5].contestants[1].name}</div>
			<div id='tt_seize13' class='tooltip fluid top'>{sixteenths[6].contestants[0].name}</div>
			<div id='tt_seize14' class='tooltip fluid top'>{sixteenths[6].contestants[1].name}</div>
			<div id='tt_seize15' class='tooltip fluid'>{sixteenths[7].contestants[0].name}</div>
			<div id='tt_seize16' class='tooltip fluid'>{sixteenths[7].contestants[1].name}</div>
			<div id='tt_seize17' class='tooltip fluid top'>{sixteenths[8].contestants[0].name}</div>
			<div id='tt_seize18' class='tooltip fluid top'>{sixteenths[8].contestants[1].name}</div>
			<div id='tt_seize19' class='tooltip fluid'>{sixteenths[9].contestants[0].name}</div>
			<div id='tt_seize20' class='tooltip fluid'>{sixteenths[9].contestants[1].name}</div>
			<div id='tt_seize21' class='tooltip fluid top'>{sixteenths[10].contestants[0].name}</div>
			<div id='tt_seize22' class='tooltip fluid top'>{sixteenths[10].contestants[1].name}</div>
			<div id='tt_seize23' class='tooltip fluid'>{sixteenths[11].contestants[0].name}</div>
			<div id='tt_seize24' class='tooltip fluid'>{sixteenths[11].contestants[1].name}</div>
			<div id='tt_seize25' class='tooltip fluid top'>{sixteenths[12].contestants[0].name}</div>
			<div id='tt_seize26' class='tooltip fluid top'>{sixteenths[12].contestants[1].name}</div>
			<div id='tt_seize27' class='tooltip fluid'>{sixteenths[13].contestants[0].name}</div>
			<div id='tt_seize28' class='tooltip fluid'>{sixteenths[13].contestants[1].name}</div>
			<div id='tt_seize29' class='tooltip fluid top'>{sixteenths[14].contestants[0].name}</div>
			<div id='tt_seize30' class='tooltip fluid top'>{sixteenths[14].contestants[1].name}</div>
			<div id='tt_seize31' class='tooltip fluid'>{sixteenths[15].contestants[0].name}</div>
			<div id='tt_seize32' class='tooltip fluid'>{sixteenths[15].contestants[1].name}</div>
		@end
		@if (eighths[0].contestants[0])
			<div id='tt_huit1' class='tooltip fluid top'>{eighths[0].contestants[0].name}</div>
			<div id='tt_huit2' class='tooltip fluid'>{eighths[0].contestants[1].name}</div>
			<div id='tt_huit3' class='tooltip fluid top'>{eighths[1].contestants[0].name}</div>
			<div id='tt_huit4' class='tooltip fluid'>{eighths[1].contestants[1].name}</div>
			<div id='tt_huit5' class='tooltip fluid top'>{eighths[2].contestants[0].name}</div>
			<div id='tt_huit6' class='tooltip fluid'>{eighths[2].contestants[1].name}</div>
			<div id='tt_huit7' class='tooltip fluid top'>{eighths[3].contestants[0].name}</div>
			<div id='tt_huit8' class='tooltip fluid'>{eighths[3].contestants[1].name}</div>
			<div id='tt_huit9' class='tooltip fluid top'>{eighths[4].contestants[0].name}</div>
			<div id='tt_huit10' class='tooltip fluid'>{eighths[4].contestants[1].name}</div>
			<div id='tt_huit11' class='tooltip fluid top'>{eighths[5].contestants[0].name}</div>
			<div id='tt_huit12' class='tooltip fluid'>{eighths[5].contestants[1].name}</div>
			<div id='tt_huit13' class='tooltip fluid top'>{eighths[6].contestants[0].name}</div>
			<div id='tt_huit14' class='tooltip fluid'>{eighths[6].contestants[1].name}</div>
			<div id='tt_huit15' class='tooltip fluid top'>{eighths[7].contestants[0].name}</div>
			<div id='tt_huit16' class='tooltip fluid'>{eighths[7].contestants[1].name}</div>
		@end
		@if (quarters[0].contestants[0])
			<div id='tt_quart1' class='tooltip fluid top'>{quarters[0].contestants[0].name}</div>
			<div id='tt_quart2' class='tooltip fluid'>{quarters[0].contestants[1].name}</div>
			<div id='tt_quart3' class='tooltip fluid top'>{quarters[1].contestants[0].name}</div>
			<div id='tt_quart4' class='tooltip fluid'>{quarters[1].contestants[1].name}</div>
			<div id='tt_quart5' class='tooltip fluid top'>{quarters[2].contestants[0].name}</div>
			<div id='tt_quart6' class='tooltip fluid'>{quarters[2].contestants[1].name}</div>
			<div id='tt_quart7' class='tooltip fluid top'>{quarters[3].contestants[0].name}</div>
			<div id='tt_quart8' class='tooltip fluid'>{quarters[3].contestants[1].name}</div>
		@end
		@if (semifinals[0].contestants[0])
			<div id='tt_demi1' class='tooltip fluid top'>{semifinals[0].contestants[0].name}</div>
			<div id='tt_demi2' class='tooltip fluid'>{semifinals[0].contestants[1].name}</div>
			<div id='tt_demi3' class='tooltip fluid top'>{semifinals[1].contestants[0].name}</div>
			<div id='tt_demi4' class='tooltip fluid'>{semifinals[1].contestants[1].name}</div>
		@end
		@if (finals[0].contestants[0])
			<div id='tt_final1' class='tooltip fluid'>{finals[0].contestants[0].name}</div>
			<div id='tt_final2' class='tooltip fluid'>{finals[0].contestants[1].name}</div>
		@end
		@if (winner.name)
			<div id='tt_winner' class='tooltip fluid top'>{winner.name}</div>
		@end

		<div id='comments-wrapper'>
			<h2>{#comments}</h2>

			<div id='comments'>
				@foreach (comment in tournament.comments)
					@include('main.comment', comment)
				@end
			</div>
			<div class='chat-input'>
				<div class='chat-input-content' contenteditable="true" placeholder="{#main.chat_placeholder}"></div>
				<div class='chat-input-emoji'></div>
			</div>
		</div>
	</div>
</div>
