<div class='page-bar page-header'>
	<h1><a href='/admin/translation'>Traductions</a> > Traduction de <b>{file.name}</b></h1>
</div>

<div class='panel'>

	<div class='content'>

		<table id='translation-keys'>
			<tr>
				@if (LW.farmer.admin)
					<th class='locked first'></th>
					<th class='locked first'></th>
				@end
				<th class='locked'>Clé</th>
				
				@foreach (l : lang in langs)

					<th width='50%' class='lang-title locked' lang='{l}'>

						{l} <img src='{{static}}{lang.flag}' />

						@if (LW.farmer.admin)
							<div class='deploy button green'>Déployer</div>

							<div class='respo'>
								Respo : <a href='/farmer/{file.respos[l].id}'>{file.respos[l].name}</a>
								(id <input id='respo' value='{file.respos[l].id}'/> )
								Référence : <select>
								@foreach (l : lang in langs)
									@if (lang != l)
										<option value='{l}'>{lang.name}</option>
									@end
								@end
								</select>
								<div class='button change-respo'>Changer</div>
							</div>
						@end
					</th>
				@end
			</tr>

			@foreach (key : translations in file.keys)
				<tr key='{key}'>

					@if (LW.farmer.admin)
						<td class='arrows' width='30'></td>
						<td class='delete' width='30'></td>
					@endif

					<td class='locked key'>{key}</td>

					@foreach (l : lang in langs)
				
						@if (file.rights[l])
							<td width='50%' class='translation' contenteditable='true' key='{key}' lang='{l}'>
								{{_.protect(translations[l]).replace(/\n/g, '<br>')}}
							</td>
						@else
							<td width='50%' class='translation locked' key='{key}' lang='{l}'>
								{{_.protect(translations[l]).replace(/\n/g, '<br>')}}
							</td>
						@end
					@end
				</tr>
			@end
		</table>

		@if (LW.farmer.admin)
			<br>
			<center>
				<input type='text' id='add-key'></input>
				<div id='add-value' class='button'>Ajouter une valeur</div>
			</center>
			<br>
		@end
	</div>
</div>
