{
	"ignoreFiles": "**/*.ts",
	"processors": ["stylelint-processor-html"],
	"extends": "stylelint-config-standard",
	"rules": {
		"indentation": "tab",
		"rule-empty-line-before": null,
		"no-empty-source": null,
		"selector-list-comma-newline-after": null
	}
}