{
	"ignoreFiles": "**/*.ts",
	"processors": ["stylelint-processor-html"],
	"extends": "stylelint-config-recommended",
	"rules": {
		"indentation": "tab",
		"no-descending-specificity": null,
		"no-empty-source": null
	}
}