#admin {
	margin: 10px;
	padding: 10px;
}

#admin #categories {
	width: 100%;
	background: white;
	margin: 10px;
	
}

#admin #categories td, #admin #categories th {
	padding: 5px; 
	border-top: 5px solid #eee;
	border-bottom: 5px solid #eee;
}

#admin .name { 
	font-weight: 300;
	font-size: 16px;
	padding: 5px;
}
#admin .description { 
	color: #777;
	padding: 5px;
}
#admin .admin {
	width: 80px;
	text-align: center;
}
#admin .delete { 
	width: 80px; 
	text-align: center;
	cursor: pointer;
}

#admin .arrows {
	width: 30px;
	cursor: row-resize; 
	background-image: url('../image/arrows.png');
	background-repeat: no-repeat; 
	background-position: center;
}
#admin .tDnD_whileDrag {
	background-color: #95FF95;
}
