#admin-wrapper {
	margin: 10px;
	padding: 10px;
	text-align: center;
}
body.app #admin-wrapper {
	margin: 0;
	padding: 0;
}

#admin-wrapper .section {
	display: inline-block;
	padding: 8px;
	margin: 15px;
	text-align: center;
	width: 170px;
	height: 130px;
	vertical-align: bottom;
}
body.app #admin-wrapper .section {
	margin: 8px;
	width: 150px;
}

#admin-wrapper .section img {
	margin: 10px 0;
	max-height: 70px;
}

#admin-wrapper .section h2 {
	font-size: 18px;
	margin: 0;
}
