#app-page .steps {
	display: flex;
	margin: 10px 0;
}

#app-page .step {
	flex: 1;
	text-align: center;
}

#app-page .step img {
	padding: 5px;
	width: calc(100% - 10px);
}

#app-page .legend {
	font-style: italic;
}

#app-page .previews {
	display: flex;
	flex-wrap: wrap;
}

#app-page .preview {
	flex: 1 0 25%;
	text-align: center;
	margin-bottom: 20px;
}

#app-page .preview img {
	padding: 5px;
	width: calc(100% - 10px);
}
