#forum_topic-page h1 {
	font-size: 22px;
	line-height: 35px;
}

#unsubscribe {
	display: none;
}

body.app #forum_topic-page .panel .content {
	padding: 0;
}

#forum_topic-page .message-wrapper {
	border-radius: 2px;
	width: 100%;
	margin-bottom: 25px;
	height: 100%;
	flex-wrap: nowrap;
	display: flex;
}

#forum_topic-page .profile-td {
	width: 130px;
	vertical-align: top;
	display: flex;
}

#forum_topic-page .profile {
	text-align: center;
	margin-right: 8px;
	background: white;
	padding-bottom: 8px;
	height: 100%;
}

#forum_topic-page .profile .pseudo {
	font-size: 15px;
	margin-bottom: 2px;
	white-space: nowrap;
	max-width: 120px;
	padding: 0 5px;
	text-overflow: ellipsis;
	overflow: hidden;
}

#forum_topic-page .profile img {
	width: 130px;
	height: 130px;
}

#forum_topic-page .grade {
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 2px 4px;
	margin-bottom: 5px;
	font-weight: normal;
	font-size: 13px;
}
#forum_topic-page .grade.admin {
	background: #FF3333;
}
#forum_topic-page .grade.moderator {
	background: #FFA900;
}
#forum_topic-page .grade.contributor {
	background: #009c1d;
}

#forum_topic-page .profile .messages-count, #forum_topic-page .profile .trophy-count {
	font-size: 12px;
	color: #999;
}

#forum_topic-page .profile .messages-count b, #forum_topic-page .profile .trophy-count b {
	color: #555;
}

#forum_topic-page .profile .status {
	width: 15px;
	height: 15px;
	vertical-align: middle;
	margin-bottom: 2px;
}

#forum_topic-page .message {
	padding: 10px;
	vertical-align: top;
	text-align: left;
	color: #444;
	width: 100%;
	position: relative;
	background: white;
	display: flex;
	margin-left: 10px;
}

#forum_topic-page .message .deleted {
	font-style: italic;
	color: #aaa;
}

#forum_topic-page .message a {
	word-break: break-all;
}

#forum_topic-page .message .wrapper {
	height: 100%;
	width: 100%;
}

#forum_topic-page .message .wrapper .link {
	position: absolute;
	top: 5px;
	right: 7px;
	color: #ccc;
	font-size: 18px;
	display: none;
}

#forum_topic-page .message:hover .wrapper .link {
	display: block;
}

#forum_topic-page .edit-wrapper > span:hover {
	color: #777;
}

#forum_topic-page .message .text {
	padding: 5px;
	padding-right: 10px;
	margin-bottom: 40px;
	word-break: break-word;
}

#forum_topic-page .message .text a {
	color: #5FAD1B;
}

#forum_topic-page .message .original {
	display: none;
	width: 100%;
	min-height: 80px;
	margin-bottom: 40px;
}

#forum_topic-page .message .date {
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #aaa;
	font-size: 12px;
	text-align: right;
}

#forum_topic-page .edit-wrapper {
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: #aaa;
	font-size: 14px;
	cursor: pointer;
}

#forum_topic-page .edit-buttons {
	position: absolute;
	bottom: 0px;
	left: 0px;
	display: none;
}

#editor {
	margin-left: 140px;
	padding: 10px;
}

#forum_topic-page #response {
	width: calc(100% - 15px);
	height: 170px;
	max-width: 100%;
	margin-top: 5px;
	padding: 7px;
	font-size: 15px;
	font-family: "Roboto", sans-serif;
	color: #555;
	border-radius: 2px;
	border: 1px solid #CECECE;
}

#forum_topic-page .attrs img {
	margin: 0 6px;
	opacity: 0.9;
}

#forum_topic-page .votes {
	display: inline-block;
}
#forum_topic-page .votes:not(.active) {
	opacity: 0.4;
}
#forum_topic-page .votes:not(.active):hover {
	opacity: 1;
}

#forum_topic-page .vote {
	display: inline-block;
	font-size: 16px;
	margin-right: 6px;
	padding: 2px 6px;
	border-radius: 6px;
}
#forum_topic-page .vote .image {
	width: 20px;
	height: 13px;
	display: inline-block;
	vertical-align: bottom;
	margin-bottom: 3px;
}

#forum_topic-page .vote.active {
	font-weight: bold;
}
#forum_topic-page .vote.up {
	color: #5FAD1B;
}
#forum_topic-page .vote.down {
	color: red;
	margin-right: 20px;
}
#forum_topic-page .vote.up .image {
	background-image: url('image/vote_up.png');
}
#forum_topic-page .vote.down .image {
	background-image: url('image/vote_down.png');
}

#forum_topic-page .vote.up.active {
	color: white;
	background: #5FAD1B;
}
#forum_topic-page .vote.down.active {
	color: white;
	background: red;
}

#forum_topic-page .vote.up.active .image {
	background-image: url('image/vote_up_white.png');
}
#forum_topic-page .vote.down.active .image {
	background-image: url('image/vote_down_white.png');
}

.tooltip.votes-tooltip .content img {
	margin: 3px 40px;
	display: block;
}

#forum_topic-page code pre {
	overflow: auto;
	word-break: break-all;
}


/*
 * Message style
 */
#forum_topic-page .message h1 {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 28px;
	margin-top: 10px;
	display: block;
	background: transparent;
	color: #555;
	padding: 0px;
	text-shadow: none;
}
#forum_topic-page .message h1:after {
	display: none;
}
#forum_topic-page .message h1:before {
	display: none;
}

#forum_topic-page .message h2 {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 23px;
	margin-top: 10px;
}

#forum_topic-page .message h3 {
	margin-left: 0;
	margin-bottom: 10px;
	font-size: 18px;
	margin-top: 10px;
	display: block;
	background: transparent;
	color: #555;
	padding: 0px;
	text-shadow: none;
}

#forum_topic-page .message h3:after {
	display: none;
}
#forum_topic-page .message h3:before {
	display: none;
}

@media screen and (max-width: 599px) {
	#forum_topic-page .message-wrapper {
		flex-wrap: wrap;
	}
	#forum_topic-page .profile img {
		width: 80px;
		height: 80px;
	}
	#forum_topic-page .message-wrapper {
		margin-bottom: 10px;
	}
	#forum_topic-page .message {
		margin-left: 0;
	}
	#forum_topic-page .profile {
	    padding: 0 10px;
	}
	#forum_topic-page #editor {
		margin-left: 0;
	}
}
