#forum-page .panel:nth-of-type(n + 3) {
	margin-top: 20px;
}

#forum-page .panel:last-child {
	margin-bottom: 0;
}

#forum-language {
	display: inline-block;
	padding: 0 4px;
	border-radius: 2px;
	cursor: pointer;
	vertical-align: bottom;
}

#forum-language img.flag {
	vertical-align: top;
}
#forum-language img:not(.flag) {
	vertical-align: middle;
	margin-bottom: 3px;
	margin-left: 2px;
}

#tt_forum-language .lang img {
	width: 22px;
	margin-right: 4px;
	vertical-align: middle;
	margin-bottom: 2px;
}

#tt_forum-language .lang {
	padding: 4px;
	cursor: pointer;
}

#tt_forum-language .lang:hover {
	background: black;
}

#team-forum {
	float: right;
	margin-right: 55px;
	margin-top: -30px
}

#forum-header {
	font-size: 17px;
	font-weight: 300;
	background: none;
	margin: 0;
}

#forum-page .category {
	margin-bottom: 12px;
	background-color: #FAFAFA;
	width: 100%;
}

#forum-page .category td {
	padding: 8px;
}

#forum-page .category:hover {
	background-color: white;
}

#forum-page .category .seen {
	width: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
}
#forum-page .category .seen img {
	height: 40px;
}

#forum-page .category .title {
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 5px;
	color: #333;
}

#forum-page .category .description {
	color: #999;
	font-size: 14px;
}

#forum-page .category .num-topics {
	width: 80px;
	color: #777;
	text-align: center;
}
#forum-page .category .num-messages {
	width: 80px;
	color: #777;
	text-align: center;
}
#forum-page .category .last-message {
	width: 80px;
	color: #777;
	text-align: center;
}

#connected-farmers {
	height: 92px;
	overflow-y: hidden;
	text-align: justify;
}

#expand-connected-farmers {
	padding: 10px;
	cursor: pointer;
}

#connected-farmers.expanded {
	height: auto;
}

#grades-legend {
	font-size: 12px;
	text-align: right;
	padding-right: 10px;
	margin-top: 10px;
}

#forum-page .chat-messages {
	max-height: 400px;
	min-height: 400px;
}


#formating {
	color: #333;
}
#formating h4 {
	margin-bottom: 4px;
}
#formating .rule {
	color: #888;
	font-weight: bold;
	margin-right: 6px;
}
#formating b {
	color: #5FAD1B;
	font-size: 16px;
}
