/*
 * Partie gauche
 */
#garden-left .tab {
	cursor: pointer;
	text-align: center;
	margin: 10px;
	padding: 10px;
}

#garden-left .tab.active {
	border-bottom: 3px solid #5FAD1B;
}
#garden-left .tab:not(.enabled) {
	opacity: 0.5;
}
#garden-left .tab h2 {
	margin: 0;
	margin-bottom: 5px;
}
#garden-farmer, #garden-team {
	display: none;
}

#garden-page .fights {
	font-size: 20px;
	color: #444;
}
#garden-page .fights img {
	vertical-align: middle;
	margin-right: 3px;
	margin-bottom: 4px;
	width: 24px;
}
#garden-page .player-count {
	font-size: 20px;
	color: #999;
}
#garden-page .sword {
	height: 20px;
	margin: 0 10px;
	vertical-align: middle;
	margin-bottom: 6px;
}
#garden-page .player {
	height: 20px;
	vertical-align: middle;
	margin-bottom: 7px;
}

/*
 * Partie droite
 */

#garden-right {
	vertical-align: top;
	text-align: center;
}

#garden-page .leek, #garden-page .compo-wrapper, #garden-page .farmer {
	display: inline-block;
	padding: 4px;
}

#garden-page .leek:hover,
#garden-page .compo-wrapper:hover,
#garden-page .opponents .farmer:hover  {
	background-color: white;
	cursor: pointer;
}

#garden-page .level {
	color: #aaa;
	margin-bottom: 6px;
}

#garden-page .talent {
	font-size: 22px;
	color: #555;
	display: inline-block;
	font-weight: 300;
	margin: 3px;
}

#page .talent-icon {
	width: 28px;
	vertical-align: bottom;
	margin-bottom: 2px;
}

#garden-page .avatar,
#garden-page .emblem {
	width: 120px;
	height: 120px;
	border-radius: 2px;
}

.myleek:not(.selected), #my-compos .compo:not(.selected) {
	opacity: 0.4;
}

#garden-page .no-opponents, #garden-page .no-more-fights, #garden-page .no-ai-equipped, #garden-page .ai-invalid {
	display: none;
}

#garden-page .title {
	margin-bottom: 10px;
}
body.app #garden-page .title {
	display: none;
}

#garden-page .versus {
	margin: 10px 0;
}

#garden-page .enemies {
	/*display: none;*/
}

#garden-page .enemies .opponents {
	min-height: 300px;
	display: none;
}


#garden-battle-royale {
	position: relative;
}

#garden-battle-royale #br-room {
	display: none;
}

#br-return {
	display: none;
	position: absolute;
	margin-left: 0;
	left: 0;
}

#garden-battle-royale .leek-count {
	font-size: 22px;
}

#garden-battle-royale .leek.disabled {
	opacity: 0.15;
	cursor: auto;
}

.popup.battle_royale_popup {
	border-radius: 3px;
}

.popup.battle_royale_popup .title .options .option.dismiss {
    border-top-right-radius: 3px;
}

.popup.battle_royale_popup .leeks {
	white-space: nowrap;
}

.popup.battle_royale_popup .leek {
	display: inline-block;
	text-align: center;
	margin: 0 3px;
}
.popup.battle_royale_popup .leek .level {
	color: #aaa;
}
