#general_help-page h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

#general_help-page p {
	margin-bottom: 10px;
	margin-left: 20px; 
	margin-right: 20px;
	text-align: justify;
	font-size: 16px;
}

#general_help-page ul {
	font-size: 16px;
}

#general_help-page a {
	color: #5FAD1B;
}

#help-menu {
	margin-top: 20px;
	text-align: center;
}

#help-menu .item {
	display: inline-block;
	vertical-align: bottom;
	margin: 10px;
	padding: 10px;
	text-align: center;
	width: 130px;
	border: 2px solid #ddd;
	background: white;
	font-weight: 300;
	color: #555;
	font-size: 18px;
	cursor: pointer;
}

#help-menu .item:hover {
	border: 2px solid #5FAD1B;
	color: #5FAD1B;
}

#general_help-page formula {
	background: white;
	font-family: monospace;
	padding: 8px 10px;
	margin: 5px 15px;
	border-radius: 3px;
	display: block;
	border-bottom: 2px solid #ddd;
}

#general_help-page .credits {
	text-align: right;
	color: #999;
	font-style: italic;
}

#general_help-page .panel .content { 
	background: rgba(100,100,100,0.1);
	padding: 0;
}

#general_help-page .panel .wrapper { 
	max-width: 800px;
	margin: 0 auto;
	background: #f2f2f2;
	padding: 15px;
}