.item-preview {
	margin: auto;
	text-align: center;
}

.item-preview .header {
	background-color: #ddd;
	padding: 2px 5px;
	height: 25px;
	
} 
.item-preview .name { 
	float: left;
	font-size: 19px;
	color: black;
	margin: 0;
}

.item-preview .level {
	float: right;
	margin-top: 4px;
	font-size: 16px; 
	color: #777;
}

.item-preview .image {
	height: 90px;
	position: relative;
	cursor: help;
}
.item-preview .image img {
	position: absolute;
	top:0;
	bottom:0;
	left: 0; right: 0; 
	margin: auto;
	max-height: 80px;
}

.item-preview .desc {
	text-align: justify;
	font-size: 14px;
	color: #777;
	padding: 5px;
}

.item-preview .stats div { 
	padding: 4px;
}
.item-preview .stats div img {
	vertical-align: bottom;
}

.item-preview .stats div:nth-child(2n+1) {
	background-color: white;
}

.item-preview .ennemies, 
.item-preview .allies, 
.item-preview .player, 
.item-preview .not-player,
.item-preview .summons,
.item-preview .not-summons
{
	width: 14px;
	height: 14px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	border-radius: 2px;
}
.item-preview .ennemies {
	background-color: red;
}	
.item-preview .allies {
	background-color: blue;
}
.item-preview .player {
	background-color: black;
} 
.item-preview .not-player {
	background-color: white;
	border: 2px solid #555;
	width: 10px;
	height: 10px;
}
.item-preview .summons {
	background-color: #00dfff;
}
.item-preview .not-summons {
	background-color: white;
	border: 2px solid #00dfff;
	width: 10px;
	height: 10px;
}

.item-preview .constant {
	text-align: left;
	color: #555;
	font-size: 13px; 
	padding: 4px;
}

.item-preview .area {
	border-collapse: separate;
	border-spacing: 1px;
	margin: 3px auto;
}

.item-preview .area td {
	width: 6px;
	height: 6px;
	background: #eee;
}
.item-preview .area td.full {
	background: #999;
}

.item-preview .stats .leek-preview {
	padding: 10px;
}

.item-preview .summon h4 {
	margin: 8px;
	text-align: left;
	font-size: 15px;
}

.item-preview .summon table {
	width: auto;
	margin: 0 auto;
}

.item-preview .summon .summon-image {
	display: inline-block;
	margin-right: 20px;
	margin-left: 10px;
}

.item-preview .summon .characs {
	text-align: left;
}

.item-preview .summon .charac {
	text-align: left;
	padding: 0px 4px;
}

.item-preview .summon .charac span {
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
	margin-left: 2px;
}

.item-preview .summon .charac img {
	width: 20px;
}

.item-preview .summon .chips .chip {
	width: 50px;
	margin: 3px;
}