body.app #moderation-page .panel.first .header {
	display: none;
}

#faults {
	padding: 5px;
}

#faults .fault {
	padding: 4px;
	background: white;
	border-radius: 2px;
	margin: 10px;
	cursor: pointer;
	opacity: 0.6;
	border: 2px solid white;
}
body.app #faults .fault {
	margin: 0;
	margin-bottom: 10px;
}

#faults .fault.selected {
	border: 2px solid #ddd;
	opacity: 1;
}

#faults .fault img {
	width: 80px;
	float: left;
	margin-right: 10px;
	margin-top: -4px;
	margin-left: -4px;
	margin-bottom: 4px;
}

#faults .fault .target-name {
	font-weight: 300;
	font-size: 20px;
	margin-bottom: 5px;
}

#faults .fault .reporting-count {
	margin-bottom: 9px;
}

#faults .fault .reporting {
	margin-bottom: 5px;
}


#faults .fault .reporter {
	color: #666;
	font-size: 14px;
}



#warning-wrapper {
	width: 400px;
	display: inline-block;
	vertical-align: top;
}

#warning-avatar {
	width: 140px;
	height: 140px;
}

#warning {
	text-align: center;
	background: white;
	padding: 10px;
}

#warning .details a {
	color: #5FAD1B;
}

#warning-message {
	width: 400px;
	max-width: 460px;
}

#thugs {
	padding: 10px;
}

#thugs .thug {
	margin: 3px;
	vertical-align: top;
}

#thugs .thug a, #thugs {
	vertical-align: top;
}

.thug .button {
	vertical-align: top;
	margin: 0;
	margin-top: -3px;
	float: right;
}

#thugs .thug img {
	margin-right: 5px;
	width: 25px;
	height: 25px;
}

#thug .thug .ban {
	float: right;
}
