#report-page #page h3 {
	text-align: left;
	margin-left: 30px;
	margin-bottom: 10px;
}

#report-general .flags {
	margin: 0 auto;
	padding-bottom: 4px;
}

#report-general .flags img {
	width: 26px;
}

#report-page .report {
	width: 100%;
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 10px;
	background: #F8F8F8;
}

#report-page .report td {
	border: 1px solid #ddd;
	text-align: center;
	padding: 4px 8px;
}

#report-page .report th {
	border: 1px solid #ddd;
	padding: 6px;
	background: white;
	font-weight: normal;
	color: #777;
}

#report-page .report .total {
	color: #888;
	font-style: italic;
}

#report-page .report .name {
	text-align: left;
	width: 180px;
	text-overlow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

#report-page .report .level {
	width: 80px;
}

#report-page .report .talent img {
	width: 18px;
	vertical-align: top;
}

#report-page .report .gain {
	width: 110px;
}

#report-page .report .alive {
	margin-left: 27px;
}

#report-page .report .dead {
	background-image: url('image/cross.png');
	width: 15px;
	height: 20px;
	display: inline-block;
	margin-right: 8px;
	vertical-align: bottom;
}

#report-page .report .xp {
	text-align: left;
	min-width: 180px;
}

#report-page .report .money {
	min-width: 100px;
}

#report-page .report .bar {
	width: 60%;
	height: 14px;
	display: inline-block;
	background: #ddd;
	margin-right: 10px;
	margin-bottom: 3px;
	vertical-align: bottom;
}

#report-page .report .bar span {
	height: 14px;
	display: inline-block;
	vertical-align: top;
}

#report-page .report .current_xp {
	background-color: #BDBDBD;
}

#report-page .report .new_xp {
	background-color: #5FAD1B;
}
#report-page .report .new_xp.team {
	background-color: #00AAA8;
}

#report-page .report .bonus {
	background-color: #0075DF;
	color: white;
	font-weight: bold;
	padding: 0 4px;
	margin-left: 10px;
	border-radius: 3px;
}

#report-page .report .talent-bonus {
	background-color: #888;
	color: white;
	font-weight: bold;
	padding: 0 4px;
	margin-left: 10px;
	border-radius: 3px;
}

#report-page #actions {
	padding: 0 30px;
}

#report-page .action {
	padding-top: 2px;
}
#report-page .turn {
	font-size: 18px;
	color: #888;
	margin-left: -20px;
}
#report-page .log {
	font-size: 13px;
	font-family: monospace;
	color: #555;
	margin: 0;
	font-family: monospace;
	word-break: break-all;
	white-space: pre-wrap;
}
#report-page .log.first {
	margin-top: 3px;
}
#report-page .log.last {
	margin-bottom: 5px;
}
#report-page .log.pause {
	color: #999;
}
#report-page .warning {
	color: #FF5F00;
}
#report-page .error {
	color: #FF1900;
}

#report-page #too-long {
	padding: 10px;
	margin: 20px 100px;
	background: #FFB6B6;
	border-radius: 2px;
}

/*
 * Statistics chart
 */
#report-page #chart {
	margin-left: -10px;
	margin-right: -4px;
	margin-bottom: -16px;
	position: relative;
}

#report-page #chart  .ct-line {
	stroke: rgba(95,173,27,0.7);
	stroke-width: 3px;
}

#report-page #chart  .ct-area {
	fill: rgba(95,173,27,1);
	fill-opacity: 0.2;
}
#report-page #chart  .ct-label.ct-horizontal {
  text-align: center;
}

#report-page #chart .tooltip {
	pointer-events: none;
}

/*
 * Statistics table
 */
#statistics-table td.header {
	text-align: left;
	background: white;
}

#statistics-table .summon .name {
	padding-left: 30px;
}

#statistics-table .best {
	font-weight: bold;
	font-size: 16px;
	background: white;
}

#warnings-errors .title {
	font-size: 18px;
	margin-bottom: 5px;
}
