#change-password {
	display: inline-block;
}

#languages .language {
	display: inline-block;
	padding: 8px;
	text-align: center;
	font-weight: 300;
	margin: 10px;
	cursor: pointer;
}

#languages .language.selected {
	border: 2px solid #5FAD1B;
}

#settings-page .panel .content {
	text-align: center;
}

#settings-page .misc-settings {
	width: 100%;
}

#settings-page .misc-settings td {
	text-align: left;
	padding: 2px;
}

#settings-page #change-password {
	text-align: left;
}

#settings-page #change-password .title {
	font-size: 18px;
	font-weight: bold;
	color: #777;
}

#settings-page #change-password input {
	margin-top: 3px;
	margin-bottom: 8px;
}

#settings-page .advanced-button {
	color: white;
	background: rgba(150, 150, 150, 0.2);
	padding: 5px 12px;
	display: inline-block;
	margin: 15px 0;
	cursor: pointer;
}

#settings-page .advanced-button img {
	width: 16px;
	margin-left: 6px;
}

#settings-page .advanced {
	display: none;
}

#push-notifs-button {
	display: inline-block;
	margin-top: 8px;
	margin-right: 12px;
	cursor: pointer;
}
#push-notifs-button > span {
	vertical-align: bottom;
	padding-bottom: 6px;
	display: inline-block;
}

#settings-page #notifications {
	text-align: left;
}

#settings-page #notifications .category {
	color: #888;
	font-size: 16px;
}
#settings-page #notifications .item {
	padding-left: 18px;
}
#settings-page #notifications .push {
	padding-right: 5px;
	padding-left: 5px;
}
#settings-page #notifications .separator {
	height: 7px;
}
#settings-page #notifications .category.off {
	opacity: 0.6;
}

#settings-page #two-factor .title {
	margin-bottom: 15px;
}

#settings-page #two-factor .buttons {
	display: flex;
	padding: 0;
	margin-bottom: -15px;
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 10px;
}
#settings-page #two-factor .buttons div {
	flex: 1;
	cursor: pointer;
	padding: 8px 0;
	text-transform: uppercase;
	font-weight: bold;
}
#settings-page #two-factor .buttons div:hover {
	background: white;
}

#settings-page .step .title {
	background: #5FAD1B;
	color: white;
	font-weight: bold;
	padding: 5px 10px;
	display: inline-block;
}

#settings-page #two-factor-code {
	font-size: 26px;
	padding: 5px 10px;
	max-width: 120px;
}
#settings-page #two-factor-code::-webkit-input-placeholder {
	color: #ddd;
}
