#page .top .panel {
	margin-right: 15px;
}

@media screen and (max-width: 900px) {
	#page .top .column6:nth-child(2) .panel {
		margin-top: 15px;
	}
}

@media screen and (min-width: 900px) {
	#page .top {
		display: flex;
	}
	#page .top .column6 .panel {
		width: 100%;
	}
	#page .top .column6 {
		display: flex;
	}
}

#introduction {
	text-align: justify;
}

#page .desc {
	font-size: 18px;
	font-weight: 300;
	padding: 10px;
}

#page .desc b {
	font-weight: 400;
}

#leek-rect {
	text-align: center;
}

#leek-count {
	display: none;
}

#signup, #login {
	vertical-align: top;
}

#signup {
	width: 60%;
}

#login {
	width: 40%;
}

#login-left {
}

.align-right {
	text-align: right;
	padding: 10px;
	width: 50%;
}

.align-left {
	text-align: left;
	width: 50%;
}

#signup-form {
	width: 100%;
	margin: 0 auto;
}

#signup-form table {
	width: 100%;
}

#signup-form td.align-right {
	vertical-align: top;
}

/* Input */
#signup-form input[type=text], #signup-form input[type=password] {
	width: 170px;
	padding: 0 7px;
	border: 2px solid #ddd;
	background: white;
}

#signup-form input[type=text]:focus, #signup-form input[type=password]:focus {
	border: 2px solid #555;
}

/* Erreur */
#signup-form input.error, #signup-form input.error:focus {

	border: 2px solid red;
}

#signup-form .error-msg {
	color: red;
	font-size: 12px;
}

/* Good */
#signup-form input.good, #signup-form input.good:focus {

	border: 2px solid #5FAD1B;
}

.error-msg {
	font-size: 12px;
	color: #FF5800;
}

.signup-message {
	padding: 20px;
}

#screenshots .screenshot {
	padding: 10px;
}

#screenshots img {
	width: 100%;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	border-radius: 4px;
}

#screenshots .legend {
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	color: #333;
}

#signup-page #dark {
	opacity: 0.8;
}

#bigscreen {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 50px;
	bottom: 100px;
	left: 50px;
	right: 50px;
	text-align: center;
}

#bigscreen img {
	max-width: 1000px;
	box-shadow: 0px 0px 80px black;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}

#biglegend {
	padding-top: 10px;
	color: white;
	font-size: 20px;
	text-shadow: 0px 0px 20px black;
}

#cgu {
	font-size: 11px;
	text-align: center;
}

#cgu a {
	color: #5FAD1B;
}


/* Classements */

#page .ranking {
	margin: 0 auto;
}

#page .ranking td {
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	text-align: center;
	padding: 4px 12px;
	background: white;
}

#page .ranking td:last-child {
	border-right: none;
}

#page .ranking tr.header {
	background: #e5e5e5;
	text-align: center;
}

#page .ranking th {
	padding: 5px 12px;
	font-weight: normal;
	color: #222;
	font-size: 16px;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

#page .ranking th:last-child {
	border-right: none;
}

.ranking .first a {
	color: #FFA900;
	font-weight: bold;
}
.ranking .second a {
	color: #9C9C9C;
	font-weight: bold;
}
.ranking .third a {
	color: #AE4E00;
	font-weight: bold;
}
