#tournament-page #tournament {
	width: 100%;
}
body.app #tournament-page #tournament.zoomed {
	width: auto;
}
body.app #tournament-page .page-header {
	display: none;
}

#tournament-page #join {
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}
#tournament-page .fight {
	fill: #666;
	stroke: #bbb;
	stroke-width: 2;
}
#tournament-page .entry {
	fill: white;
	stroke: #bbb;
	stroke-width: 2;
}
#tournament-page .entry[me='true'] {
	stroke: #5FAD1B;
	fill: #C8FFC7;
}
#tournament-page .line {
	stroke: #aaa;
	stroke-width: 3;
	fill: none;
}
#tournament-page image[win='false'] {
	opacity: 0.4;
	fill: #f5f5f5;
}
#tournament-page .no-fight {
	stroke-dasharray: 5,5;
}
