#global-percent {
	font-size: 40px;
}

#global-count {
	font-size: 30px;
	color: #888;
	float: right;
	line-height: 55px;
}

#global-bar {
	height: 12px;
	position: relative;
	background: white;
	border-radius: 3px;
	margin: 5px;
}

#global-bar .bar {
	height: 12px;
	background: #008FBB;
	position: absolute;
	border-radius: 3px;
}

.category-bar-wrapper {
	width: 70%;
	text-align: right;
	white-space: nowrap;
}

.category-bar-wrapper .stats {
	display: inline-block;
	color: white;
	font-size: 16px;
	margin: 0 10px;
}

.category-bar {
	display: inline-block;
	height: 12px;
	position: relative;
	background: white;
	border-radius: 3px;
	width: calc(80% - 100px);
	max-width: 300px;
	margin-left: auto;
	margin-top: 12px;
}

.category-bar .bar {
	height: 12px;
	background: #30BB00;
	position: absolute;
	border-radius: 3px;
}

body.app #trophies-page .content:nth-child(2) {
	padding: 4px;
}

#trophies-page .trophy {
	display: inline-block;
	margin: 5px;
	width: 253px;
	vertical-align: top;
	border-radius: 3px;
	padding: 5px 8px;
}
body.app #trophies-page .trophy {
	width: calc(50% - 25px);
	margin: 3px;
}

#trophies-page .trophy.unlocked {
	background: white;
	border-bottom: 3px solid #eee;
}

#trophies-page .trophy.locked {
	border-bottom: 3px solid transparent;
	opacity: 0.7;
}

#trophies-page .trophy .image {
	width: 55px;
	height: 55px;
	float: left;
	margin-right: 12px;
}
body.app #trophies-page .trophy .image {
	width: 38px;
	height: 38px;
}
#trophies-page .trophy.locked .image {
	opacity: 0.4;
}

#trophies-page .trophy .name {
	font-size: 16px;
	margin-bottom: 2px;
}

#trophies-page .trophy .description {
	color: #888;
	font-size: 14px;
}

#trophies-page .trophy .trophy-bar {
	height: 6px;
	position: relative;
	background: white;
	width: 150px;
	margin-left: 67px;
	margin-top: 6px;
}
body.app #trophies-page .trophy .trophy-bar {
	margin-left: 0;
}
#trophies-page .trophy .trophy-bar .bar {
	height: 6px;
	position: absolute;
	background: #30BB00;
}
