#admin_services-page .service {
	padding: 10px;
	margin: 5px;
	vertical-align: top;
}

#admin_services-page .service {
	font-size: 20px;
	color: #ccc;
}

#admin_services-page .service .module {
	color: #5FAD1B;
}

#admin_services-page .service .function, #admin_services-page .service .returns {
	color: black;
}

#admin_services-page .service .parameter {
	color: #777;
}
#admin_services-page .service .parameter-type {
	font-size: 12px;
}

#admin_services-page .service .label {
	color: white;
	background: #999;
	border-radius: 2px;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: bold;
}

#admin_services-page .service .not-implemented {
	background: red;
}

#admin_services-page .service .implemented {
	background: #5FAD1B;
}

#admin_services-page .service .admin {
	background: #009AFF;
}