#api-page .title {
	font-size: 20px;
	color: #aaa;
}

#api-page .module {
	color: #009AFF;
}

#api-page .function {
	color: #111;
}

#api-page .parameter {
	color: #888;
}

#api-page .description {
	margin-top: 5px;
}

#api-page .service .label {
	display: inline-block;
	color: white;
	background: #aaa;
	border-radius: 2px;
	padding: 2px 5px;
	font-size: 12px;
	font-weight: bold;
	margin-top: 4px;
}

#api-page .parameters {
	margin-top: 5px;
}