#chat .content {
	padding: 0;
}

#chat .chat-messages {
	/*background: white;*/
	padding: 5px;
	overflow-y: scroll;
}

#chat .chat-messages .websocket-loader {
	text-align: center;
	margin-top: 150px;
}

.chat-input {
	width: 100%;
	position: relative;
}

.chat-input .chat-input-content {
	background: white;
	padding: 8px;
	border: 2px solid #eee;
	padding-right: 36px;
	cursor: text;
	word-wrap: break-word;
}

.chat-input .chat-input-content:empty:before {
	content: attr(placeholder);
	display: block;
	color: #aaa;
}

.chat-input .chat-input-content:focus {
    outline: 0px solid transparent;
	border: 2px solid #ccc;
}

.chat-input .chat-input-emoji {
	position: absolute;
	width: 24px;
	height: 24px;
	right: 8px;
	top: 7px;
	background: url("https://twemoji.maxcdn.com/2/svg//1f603.svg");
	cursor: pointer;
}

#chat-languages img {
	width: 28px;
	opacity: 0.3;
	margin-right: 5px;
	cursor: pointer;
}

#chat-language {
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	margin-top: 4px;
}

#chat-languages {
	text-align: center;
	padding: 3px;
}

#chat-languages img.activated {
	opacity: 1;
}

#chat-language img {
	width: 30px;
	margin: 0 8px;
}

#chat-language-selection input, #chat-language-selection label {
	cursor: pointer;
}

#chat-smileys, #chat-commands {
	position: absolute;
	z-index: 600;
	display: none;
}

#chat-smileys-button {
	margin-top: 10px;
	margin-right: 10px;
	height: 32px;
	background-color: #f2f2f2;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	outline: none;
}

#messages-page #chat-smileys-button {
	margin-top: 4px;
}

#chat-smileys-button:hover {
	background-color: #dedede;
	border-color: #8c8c8c;
	cursor: pointer;
}

#chat-smileys-wrapper {
	padding: 0 10px;
	width: 420px;
	height: 300px;
	background-color: #f2f2f2;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	cursor: default;
	overflow-y: scroll;
}

#chat-commands-wrapper {
	width: 570px;
	height: 300px;
	background-color: #f2f2f2;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	cursor: default;
	overflow-y: scroll;
}

#chat-smileys-wrapper .title {
	display: block;
	margin-top: 10px;
	padding-bottom: 8px;
	padding-left: 10px;
	font-weight: bold;
}

#chat-commands-wrapper .title {
	display: block;
	margin-top: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-weight: bold;
}

#chat-smileys-wrapper .list, #chat-commands-wrapper .list {
	text-align: center;
}

#chat-smileys-wrapper .list .smiley, #chat-smileys-wrapper .list .smiley-option {
	margin-top: 0;
	padding: 4px;
	width: 25px !important;
	height: 25px !important;
}

#chat-commands-wrapper .list .command, #chat-commands-wrapper .list .sub-command {
	background-color: #fcfcfc;
	margin-top: 3px;
	padding: 4px;
}

#chat-commands-wrapper .list .command .cmd, #chat-commands-wrapper .list .sub-command .cmd {
	float: left;
	text-align: left;
	font-weight: bold;
	margin-top: 0;
	padding: 4px;
	width: 195px;
}

#chat-commands-wrapper .list .command .description, #chat-commands-wrapper .list .sub-command .description {
	text-align: left;
	margin-top: 0;
	padding: 4px;
}

#chat-commands-wrapper .list .cmd, #chat-commands-wrapper .list .description {
	font-size: 14px;
}

#chat-smileys-wrapper .list .smiley:hover, #chat-smileys-wrapper .list .smiley-option:hover , #chat-commands-wrapper .list .command:hover, #chat-commands-wrapper .list .sub-command:hover  {
	background-color: #dcdcdc;
	cursor: pointer;
}
