#chat .content {
	padding: 0;
}

#chat .chat-messages {
	background: white;
	padding: 5px;
	overflow-y: scroll;
}

#chat .chat-messages .websocket-loader {
	text-align: center;
	margin-top: 150px;
}

.chat-new-messages {
	display: none;
	height: 30px;
	line-height: 30px;
	background-color: #bbb;
	text-align: center;
}

.chat-new-messages:hover {
	cursor: pointer;
}

.chat-messages.new-messages + .chat-new-messages {
	display: block;
}

.chat-input {
	margin-top: 10px;
	width: 100%;
	margin-right: 10px;
}

#chat-send {
	vertical-align: top;
}

#chat-languages img {
	width: 28px;
	opacity: 0.3;
	margin-right: 5px;
	cursor: pointer;
}

#chat-language {
	display: inline-block;
	cursor: pointer;
	vertical-align: top;
	margin-top: 10px;
}

#chat-languages {
	text-align: center;
	padding: 3px;
}

#chat-languages img.activated {
	opacity: 1;
}

#chat-language img {
	width: 30px;
	margin: 0 10px;
}

#chat-language-selection input, #chat-language-selection label {
	cursor: pointer;
}

#chat-smileys {
	position: relative;
}

#chat-smileys-button {
	margin-top: 10px;
	margin-right: 10px;
	height: 32px;
	background-color: #f2f2f2;
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	outline: none;
}

#messages-page #chat-smileys-button {
	margin-top: 4px;
}

#chat-smileys-button:hover {
	background-color: #dedede;
	border-color: #8c8c8c;
	cursor: pointer;
}

#chat-smileys-wrapper {
	position: absolute;
	bottom: 40px;
	right: 20px;
	padding: 0 10px;
	width: 400px;
	height: 300px;
	background-color: #f2f2f2;
	border: 1px solid #bbbbbb;
	border-radius: 2px;
	cursor: default;
	overflow-y: scroll;
	display: none;
}

#chat-smileys-wrapper .title {
	display: block;
	margin-top: 10px;
	padding-bottom: 8px;
	font-weight: bold;

}

#chat-smileys-wrapper .list {
	padding-bottom: 10px;
	text-align: center;
}

#chat-smileys-wrapper .list .smiley {
	margin-top: 0;
	padding: 4px;
	width: 25px !important;
	height: 25px !important;
}

#chat-smileys-wrapper .list .smiley:hover {
	background-color: #dcdcdc;
	border-radius: 6px;
	cursor: pointer;
}
