#documentation-page .panel > .content {
	padding: 0;
}

#items-list {
	overflow-y: auto;
	overflow-x: hidden;
	padding: 10px;
	position: relative;
}

#items-list h2 {
	margin-top: 8px;
	margin-bottom: 5px;
	font-size: 20px;
}

#items-list h2:first-child {
	margin-top: 0;
}

#items-list div {
	cursor: pointer;
	padding: 1px 10px;
}	

#items-list div:last-child {
	margin-bottom: 10px;
}

#items-list div:hover {
	color: #5FAD1B;
	background: white;
}

#items {
	padding: 10px;
	overflow-y: auto;
}

#items .item {
	margin-bottom: 20px;
	position: relative;
	padding-bottom: 20px;
	max-height: 999999px;
}

#items .item:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

#items .item .content {
	padding-right: 100px;
	padding-left: 10px;
}

#items .item a {
	color: #5FAD1B;
}

#items .item h2 {
	margin-bottom: 10px;
	font-size: 20px;
}

#items .item ul {
	margin: 5px 0;
}

#items .function-name {
	color: black;
}

#items .item h4 {
	font-weight: 300;
	margin: 0;
	color: #666;
	margin-top: 8px;
}

#items .item.deprecated {
	opacity: 0.6;
}

#items .item .deprecated-message {
	color: #ff7f00;
	font-weight: bold;
	margin: 10px;
}

#items .item .min-stats {
	position: absolute;
	top: 40px;
	right: 0;
	text-align: right;
	color: #777;
}

#items .argument {
	color: #5FAD1B;
}

#tabs #min-level, #tabs #max-level {
	width: 50px;
}

#documentation pre {
	max-width: 500px;
}