#state img {
	margin-right: 6px;
	width: 20px;
	margin-bottom: -3.5px;
}

#unregister-tournament {
	display: none;
}

body.app #farmer-page .panel.first .content {
	padding-top: 0;
}

#farmer-table {
	width: 100%;
	margin-top: 20px;
}

#farmer-table tr > td:nth-child(n+2) {
	border-left: 2px solid #ddd;
}

#avatar-td {
	text-align: center;
	vertical-align: top;
}

#avatar {
	width: 200px;
	height: 200px;
	border-radius: 2px;
}
#avatar-input {
	cursor: pointer;
	text-align: center;
}

#avatar-input input {
	display: none;
}

#farmer-page .country.no {
	font-style: italic;
}

.country_popup .country {
	display: inline-block;
	text-align: center;
	width: 145px;
	margin: 1px;
	padding: 4px;
	cursor: pointer;
	vertical-align: top;
}
.country_popup .country img {
	width: 32px;
}

.country_popup .country:hover {
	background: white;
}

.country_popup .country h4 {
	font-size: 14px;
	font-weight: normal;
}

#farmer-page .infos {
	text-align: left;
	width: 200px;
	margin: 0 auto;
	margin-top: 6px;
}

#farmer-page .infos .add {
	font-size: 13px;
	color: #999;
	cursor: pointer;
	margin: 3px 0;
}

#farmer-page .infos .info {
	padding: 1px;
	color: #888;
	font-size: 14px;
	word-break: break-all;
}
#farmer-page .infos .info a {
	color: #888;
}

#farmer-page .infos .info img {
	width: 20px;
}

#farmer-page .infos .info span {
	line-height: 22px;
	vertical-align: top;
	margin-left: 5px;
	font-weight: bold;
}

#farmer-page .infos .info .edit {
	background-image: url('../image/edit_pen.png');
	background-size: cover;
	display: inline-block;
	cursor: pointer;
	width: 12px;
	height: 12px;
	margin-left: 5px;
	display: none;
	margin-top: 4px;
}

#farmer-page .infos .info:hover .edit {
	display: inline-block;
}

.popup.website_popup input, .popup.github_popup input {
	width: 90%;
}

#team img {
	width: 150px;
	height: 150px;
	border-radius: 2px;
}

#farmer-page #send-message {
	margin-top: 10px;
}
body.app #farmer-page #send-message {
	display: none;
}

#trophies {}

#talent {
	font-size: 25px;
	color: #555;
	display: inline-block;
	font-weight: 300;
}

#talent:before {
	background-image: url('../image/talent.png');
	width: 28px;
	height: 28px;
	margin-right: 6px;
	content: " ";
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 4px;
}

#farmer-page #talent-more {
	display: inline-block;
	font-weight: 300;
	font-size: 20px;
	margin-left: 5px;
	margin-top: 6px;
	vertical-align: top;
	color: #888;
}

#farmer-page #stats {
	vertical-align: top;
}

#farmer-page #stats .tournaments td {
	padding: 0 10px;
}

#farmer-page #stats .small {
	font-size: 13px;
	vertical-align: top;
}

#farmer-page #stats table {
	margin: 10px auto;
}

#farmer-page #stats tr > td:nth-child(n+2) {
	border-left: 2px solid #ddd;
}

#farmer-page #stats td {
	padding: 0 20px;
	text-align: center;
}

#farmer-page #stats .big {
	font-size: 22px;
	font-weight: 300;
	color: #555;
}
#farmer-page .grey {
	color: #999;
}

#farmer-page #stats .log-time, #stats .godfather {
	margin-top: 10px;
	padding: 0 20px;
	font-size: 13px;
}
#farmer-page #stats .log-time {
	margin-top: 20px;
}

#farmer-page .grades {
	margin-left: 20px;
}

#farmer-page #stats .grade {
	border-radius: 5px;
	color: white;
	display: inline-block;
	padding: 3px 6px;
	margin-top: 5px;
	font-weight: normal;
	font-size: 14px;
}
#farmer-page #stats .grade.admin {
	background: #FF3333;
}
#farmer-page #stats .grade.moderator {
	background: #FFA900;
}
#farmer-page #stats .grade.contributor {
	background: #009c1d;
}

/*
 * Partie milieu
 */

#leeks-ais {
	width: 100%;
	margin-top: 30px;
}
#leeks-ais td {
	width: 50%;
	vertical-align: top;
}

#farmer-page .leek {
	text-align: center;
	display: inline-block;
	padding: 5px;
}

#farmer-page .leek:hover {
	background: white;
}

#farmer-page .leek .level {
	color: #aaa;
}

#farmer-page .leek img {
	margin-bottom: 5px;
}

#farmer-page .talent {
	font-size: 22px;
	color: #555;
	display: inline-block;
	font-weight: 300;
	margin: 3px;
}

#farmer-page .talent img {
	width: 22px;
	vertical-align: bottom;
	margin-right: 4px;
	margin-bottom: 2px;
}

/*
 * Trophées
 */
#trophies {
	text-align: left;
}

#trophies-mode-button {
	padding: 8px 10px;
	cursor: pointer;
}

#farmer-page .trophies-container {
	display: inline-block;
}

#farmer-page .trophy {
	display: inline-block;
	margin: 4px 2.2px;
	padding: 4px;
	border: 1px solid transparent;
	vertical-align: bottom;
}
#farmer-page .trophy img {
	width: 38px;
	height: 38px;
	vertical-align: bottom;
}
#farmer-page .trophy-tt .date {
	padding-top: 4px;
	font-size: 13px;
	font-style: italic;
	color: #ddd;
}

#trophies.list .grid {
	display: none;
}
#trophies.grid .list {
	display: none;
}

#trophies.grid .trophy {
	background: white;
	border: 1px solid #ddd;
}

#farmer-page .trophies-bonus {
	margin: 5px 0;
}

#history .content {
	padding: 10px;
}

#tournament-history .content {
	padding: 10px;
}

/*
 * Warnings
 */
#warnings {
	text-align: center;
	padding-bottom: 20px;
}

#warning-title {
	color: red;
	margin-bottom: 15px;
}

#warnings .warning {
	padding: 5px;
	background: white;
	border-radius: 2px;
	width: 250px;
	display: inline-block;
	margin: 6px;
	vertical-align: top;
}
#warnings .warning .reason {
	font-size: 15px;
}
#warnings .warning .date {
	font-size: 12px;
	color: #666;
}
#warnings .warning .author {
	font-size: 12px;
	color: #666;
}

#godfather-link {
	cursor: pointer;
}

#godfather-url {
	font-size: 20px;
	font-family: monospace;
	text-align: center;
	word-break: break-all;
}
