#fight-page .panel > .content {
	padding: 0;
}

#fight-page #loading {
	text-align: center;
}

#fight-page #loading table {
	width: 100%;
	height: 400px;
}

#fight-page #loading table td {
	text-align: center;
}

#fight-page #loading .loader {
	vertical-align: middle;
	margin-right: 5px;
	width: 40px;
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to   {-webkit-transform: rotate(359deg);}
}

#fight-page #error, #fight-page #error-client {
	display: none;
	padding-top: 70px;
	text-align: center;
}

#fight-page #error-client-message {
	color: red;
}

#fight-page #browser {
	display: none;
	padding-top: 70px;
	text-align: center;
	padding-bottom: 30px;
}
#fight-page #browser-list {
	padding: 20px;
}

#fight-page #browser .browser {
	width: 160px;
	display: inline-block;
	text-align: center;
}

/*
 * Loading
 */

#fight-page .team-td {
	width: 470px;
}

#fight-page .leek {
	display: inline-block;
	margin: 6px;
	width: 140px;
}

#fight-page .leek img {
	max-width: 90%;
}

#fight-page .vs {
	font-size: 30px;
}

#fight-page .loading-fight {
	padding: 10px;
	padding-bottom: 20px;
	font-size: 18px;
}

#fight-page .queue-position {
	display: none;
	padding: 6px;
	font-size: 18px;
	color: #aaa;
}

#fight-page .leek .name {
	font-size: 18px;
}

#fight-page .level {
	color: #555;
}

/*
 * Game
 */
#fight-page #game {
	display: none;
}

#fight-page #layers {
	position: relative;
}

#fight-page #bg-canvas {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#bg-canvas:full-screen { max-height: 100%; }
#bg-canvas:-webkit-full-screen { max-height: 100%; }
#bg-canvas:-moz-full-screen { max-height: 100%; }

#game-canvas {
	position: absolute;
	top: 0; bottom: 0;
	left: 0; right: 0;
}

#game-canvas:full-screen { max-height: 100%; }
#game-canvas:-webkit-full-screen { max-height: 100%; }
#game-canvas:-moz-full-screen { max-height: 100%; }


#fight-page #actions {
	text-align: left;
	padding: 6px;
	width: 190px;
	overflow: hidden;
	background-color: rgba(255,255,255, 0.2);
	transition: margin-top 0.5s ease;
}

#fight-page #actions:hover {
	width: 500px;
	background-color: rgba(255,255,255, 0.6);
}

#fight-page #actions .action {
	padding: 1px 0;
	font-size: 14px;
	width: 500px;
}

#fight-page #actions .action.log {
	padding: 2px 0;
	font-size: 11px;
}

#fight-page #actions .action.log pre {
	margin: 0;
	font-family: monospace;
	word-break: break-all;
	white-space: pre-wrap;
}

#controls {
	text-align: center;
	line-height: 36px;
	height: 36px;
	background-image: url('../image/background.png');
}

#controls.large {
	line-height: 50px;
	height: 50px;
}

#controls > div {
	line-height: 36px;
	color: white;
	display: inline-block;
	vertical-align: top;
	padding-top: 2px;
	padding: 0 8px;
}

#controls.large > div {
	line-height: 50px;
}

#controls img {
	width: 20px;
	padding: 8px 10px;
	cursor: pointer;
}

#controls.large img {
	width: 26px;
	padding: 12px 16px;
}

#controls img:hover {
	background: rgba(150,150,150,0.4)
}

/*
 * Logs
 */
#fight-page #logs-wrapper {
	position: absolute;
	bottom: 0;
	right: 150px; width: 500px;
	overflow: hidden;
	height: 100px;
}

#fight-page #logs-wrapper2 {
	position: relative;
	text-align: right;
	width: 100%;
	height: 100%;
}

#fight-page #logs {
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	overflow: hidden;
}

#fight-page #logs .log {
	display: inline-block;
	font-family: monospace;
	padding: 0 6px;
	text-align: left;
	font-size: 12px;
}

#fight-page #logs:hover .log {
	background-color: rgba(255,255,255, 0.5);
}


#fight-page #debug {
	position: absolute;
	top: 0;	left: 150px;
	text-align: left;
	display: none;
}

#game:full-screen { max-height: 100%; }
#game:-webkit-full-screen { max-height: 100%; }
#game:-moz-full-screen { max-height: 100%; }


/*
 * Hud
 */
#hud {

}

#top-part-wrapper {
	background-color: #d1d1d1;
	position: absolute;
	top: -8px;
	left: 50%;
	right: 50%;
	width: 170px;
	margin-left: -85px;
}

#top-part {
	position: relative;
	height: 25px;
}

#top-part:before {
	position: absolute;
	right: -25px;
	top: 0;
	content: "";
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-left: 25px solid #D1D1D1;
}
#top-part:after {
	position: absolute;
	left: -25px;
	top: 0;
	content: "";
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-right: 25px solid #D1D1D1;
}

#turn {
	font-size: 18px;
	color: #555;
}

/*
 * Life bar
 */
#life-bar {
	position: absolute;
	top: 0; left: 0; right: 0;
	text-align: center;
}

#life-bar .wrapper {
	display: inline-block;
	background: rgba(255,255,255,0.2);
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	padding-top: 3px;
	padding-left: 4px;
	padding-bottom: 0px;
	padding-right: 1px;
}

#life-bar .bar {
	display: inline-block;
	height: 15px;
	margin-right: 3px;
}

#life-bar .bar.dead {
	margin-right: 0px;
}

#life-bar .bar:not(.dead):first-of-type {
	/*border-top-left-radius: 10px;*/
	border-bottom-left-radius: 10px;
}
#life-bar .bar:not(.dead):last-of-type {
	/*border-top-right-radius: 10px;*/
	border-bottom-right-radius: 10px;
}

/*
 * Left part : actions
 */
#left-part {
	position: absolute;
	top: 0; left: 0; bottom: 0;
	text-align: left;
	overflow: hidden;
}

#timeline {
	position: absolute;
	bottom: 5px;
	left: 0; right: 0;
	text-align: center;
}

#timeline .entity {
	display: inline-block;
	width: 50px;
	height: 70px;
	margin: 0 5px;
	padding: 3px;
	padding-left: 9px;
	position: relative;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#timeline .entity.current {
	border-top: 5px solid black;
	border-left: 5px solid black;
	border-right: 5px solid black;
	margin: 0 0px;
}

#timeline .entity.dead {
	opacity: 0.3;
}

#timeline .entity .bar {
	position: absolute;
	bottom: 0;
	width: 6px;
	border-top-left-radius: 3px;
	/*border-bottom-left-radius: 3px;*/
	border: 1px solid black;
}

#timeline .entity .bar {
	left: 0;
}

#timeline .entity .image {
	max-width: 100%;
	max-height: 100%;
}

#timeline .entity .image svg {
	max-width: 50px;
	max-height: 70px;
}

#timeline .entity.summon {
	width: 30px;
	height: 50px;
}
#timeline .entity.summon img {
	max-width: 30px;
	max-height: 50px;
}

#team1-rect {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #0000AB;
}
#team1-life, #team2-life {
	display: inline-block;
	vertical-align: bottom;
	font-size: 17px;
	margin-bottom: 2px;
}

#right-part {
	position: absolute;
	top: 20px; right: 0;
	text-align: right;
}

#team2-rect {
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #DC0000;
}

#team1-leeks, #team2-leeks {
	padding-top: 10px;
	width: 135px;
}
#team2-leeks {
	text-align: right;
}

.leek-info {
	width: 130px;
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
	overflow: hidden;
	height: 60px;
}

.leek-info[summon='true'] {
	width: 110px;
	margin-top: -5px;
}
.leek-info.left[summon='true'] {
	margin-left: 20px;
}
.leek-info.right[summon='true'] {
	margin-right: 20px;
}

.leek-info.left .background {
	position: absolute;
	width: 300%;
	height: 300%;
	top: -50px;
	right: -65px;
	content: "";
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: rgba(209, 209, 209, 0.6);
}
.leek-info.right .background {
	position: absolute;
	width: 300%;
	height: 300%;
	top: -50px;
	left: -65px;
	content: "";
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	background: rgba(209, 209, 209, 0.6);
}
.leek-info.current {
	width: 135px;
}
.leek-info[summon='true'].current {
	width: 110px;
}
.leek-info.left.current .background {
	right: -60px;
}
.leek-info.right.current .background {
	left: -60px;
}
.leek-info.current .background {
	background: rgba(209, 209, 209, 1);
	border: 5px solid #0a0;
}
.leek-info.dead {
	opacity: 0.4;
}
.leek-info.left .infos {
	padding-left: 8px;
}
.leek-info.right .infos {
	padding-right: 8px;
}

.leek-info .infos {
	z-index: 10;
	position: absolute;
	top: 0; right: 0; left: 0;
}

.leek-info[summon='true'] .name {
	font-size: 13px;
	padding: 2px 0;
}

.leek-info img {
	width: 16px;
}


.leek-info .life {
	color: red;
	vertical-align: bottom;
	margin-bottom: 3px;
	display: inline-block;
}
.leek-info .total-life {
	color: red;
	font-size: 12px;
	vertical-align: bottom;
	margin-bottom: 5px;
	display: inline-block;
}
.leek-info.left .life {
	margin-left: 4px;
}
.leek-info.right .total-life {
	margin-right: 4px;
}

.leek-info .tp {
	color: #FF7F01;
	vertical-align: bottom;
	margin-bottom: 3px;
	display: inline-block;
}
.leek-info.left .tp {
	margin-left: 4px;
	margin-right: 10px;
}
.leek-info.right .tp {
	margin-right: 4px;
	margin-left: 10px;
}

.leek-info .mp {
	color: green;
	vertical-align: bottom;
	margin-bottom: 3px;
	display: inline-block;
}
.leek-info.left .mp {
	margin-left: 4px;
}
.leek-info.right .mp {
	margin-right: 4px;
}

#details {
	position: absolute;
	bottom: 100px;
	left: 0;
	right: 0;
	z-index: 100;
}

.entity-details {
	display: none;
	width: 320px;
	text-align: left;
	padding-top: 6px;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
	background-color: rgba(242, 242, 242, 0.8);
	/*border: 4px solid #ddd;*/
	border-radius: 3px;
}

.entity-details:after {
	position: absolute;
	content: " ";
	bottom: -10px;
	border-bottom: none;
	left: 50%;
	margin-left: -20px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgba(242,242,242, 0.8);
}

.entity-details .name {
	margin: 0;
	color: black;
	font-size: 22px;
}

.entity-details .bar-wrapper {
	height: 8px;
	background: #ddd;
	padding: 2px;
	margin-bottom: 5px;
}
.entity-details .bar {
	background: red;
	height: 8px;
}

.entity-details .farmer-avatar {
	width: 42px;
	float: right;
}
.entity-details .stat {
	vertical-align: bottom;
	margin-bottom: 3px;
	display: inline-block;
	margin-right: 10px;
	margin-left: 2px;
	font-size: 17px;
	font-weight: bold;
}

.entity-details .effects {
	padding-top: 4px;
}

.entity-details .effects img {
	width: 40px;
	margin-right: 4px;
	margin-bottom: 4px;
}

/*
 * Fight info
 */
#fight-info {

}

#fight-info table {
	width: 100%;
}

#versus {
	width: 80px;
	font-size: 20px;
	text-align: center;
	color: #eee;
}

#fight-info td:nth-child(1) {
	text-align: right;
}

#fight-info td:nth-child(1), #fight-info td:nth-child(3) {
	width: 46%;
}

#fight-info .farmer {
	display: inline-block;
	text-align: center;
	color: #eee;
	margin-top: 8px;
	margin-bottom: 16px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 13px;
}

#fight-info .farmer .name {
	max-width: 75px;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
}

#fight-info .farmer img {
	width: 75px;
	height: 75px;
	border-radius: 2px;
}

#fight-info .br-versus {
	line-height: 75px;
	display: inline-block;
	padding-top: 10px;
    vertical-align: top;
}

#fight-settings {
	position: absolute;
	max-width: 300px;
	display: none;
}

#fight-settings .fight-setting {
	padding: 6px;
}

#fight-settings .fight-setting:hover {
	background: black;
}

#progress-bar-wrapper {
	height: 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

#progress-bar-turn {
	width: 4em;
	position: absolute;
	display: inline-block;
	margin-top: -2em;
	padding: 0.5em 1em;
	text-align: center;
	font-size: 1.2em;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
}

#progress-bar {
	height: 6px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	cursor: pointer;
	background: #eee;
	transition: all 0.2s;
	white-space: nowrap;
}

#progress-bar-wrapper:hover #progress-bar {
	height: 12px;
}

#progress-bar .bar {
	height: 100%;
	background-color: #5FAD1B;
	transition: all 0.3s;
	display: inline-block;
	vertical-align: top;
}

#progress-bar .circle {
	width: 8px;
	height: 8px;
	margin-top: -4px;
	margin-left: -7px;
	display: inline-block;
	border-radius: 50%;
	background: #ccc;
	vertical-align: top;
	border: 4px solid #f2f2f2;
	transition: all 0.2s;
}

#progress-bar-wrapper:hover .circle {
	width: 14px;
	height: 14px;
}

@media screen and (max-width: 799px) {

	#timeline {
		display: none;
	}
	#life-bar {
		display: none;
	}
	#left-part {
		display: none;
	}
}

#views-counter {
	color: white;
	font-size: 20px;
	padding: 6px 12px;
}
