/*
 * Preview
 */
#preview-td {
	vertical-align: top;
}

#preview {
	text-align: center;
}

#preview.content {
	padding: 0;
}

#preview > div {
	display: none;
}

#market-page .content.items {
	padding: 0px;
}

/*
 * Items
 */
#market-page .items {
	padding-bottom: 50px;
}
#market-page .items .item {
	border: 2px solid #ddd;
}
#market-page .items .item.selected {
	background: white;
	border: 2px solid #999;
}

#market-page .buy-label {
	display: inline-block;
}

#market-page .items .item:hover {
	background: white;
}

#market-page .items .item {
	position: relative;
}

#market-page .items .item:not([leek-count='0']):before {
	position: absolute;
	bottom: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	content: attr(leek-count);
	text-align: center;
	color: #eee;
	border-radius: 20px;
	background-color: #0a0;
	font-weight: bold;
}

#market-page .items .item:not([farmer-count='0']):after {
	position: absolute;
	bottom: -5px;
	right: -5px;
	width: 20px;
	height: 20px;
	content: attr(farmer-count);
	text-align: center;
	color: #eee;
	border-radius: 20px;
	font-weight: bold;
	background-color: #777;
}
#market-page .items .item:not([farmer-count='0']):not([leek-count='0']):before {
	border-radius: 20px 0 0 20px;
	right: 16px;
}
#market-page .items .item:not([farmer-count='0']):not([leek-count='0']):after {
	border-radius: 0 20px 20px 0;
}

#market-page .items .item.too-expensive img {
	opacity: 0.4;
}

/*
 * Fights
 */
#market-page .fights {
	width: 140px;
	display: inline-block;
	margin: 10px 5px;
	padding: 10px;
	font-size: 18px;
	color: #777;
	cursor: pointer;
}

#market-page .fights img {
	width: 60px;
}

/*
 * Armes
 */
#weapons {
	text-align: center;
}

#weapons .weapon {
	padding: 10px;
	width: 178px;
	height: 50px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-align: center;
	vertical-align: bottom;
	margin: 8px;
}
body.app #weapons .weapon {
	width: 150px;
	margin: 5px;
}
#weapons .weapon img {
	max-height: 52px;
	max-width: 160px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


/*
 * Chips
 */
#chips {
	padding: 0 10px;
}
#chips[sort-mode='level'] {
	text-align: center;
}

#chips .chip {
	width: 73px;
	padding: 6px 9px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-align: center;
	margin: 6px;
}
body.app #chips .chip {
	width: 50px;
	margin: 3px;
}
#chips .chip img {
	height: 68px;
	vertical-align: bottom;
}
body.app #chips .chip img {
	height: 50px;
}
#chips h3 {
	margin-left: 0px;
}

/*
 * Potions
 */
#potions {
	text-align: center;
}

#potions .potion {
	width: 90px;
	padding: 5px 3px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-align: center;
	margin: 8px;
}

#potions .potion img {
	width: 90px;
}

/*
 * Hats
 */
#hats {
	text-align: center;
}

#hats .hat {
	width: 110px;
	height: 80px;
	padding: 5px 3px;
	display: inline-block;
	position: relative;
	cursor: pointer;
	text-align: center;
	vertical-align: bottom;
	margin: 8px;
}
body.app #hats .hat {
	margin: 4px;
}
#hats .hat img {
	max-width: 100px;
	max-height: 70px;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.buy-buttons {
	padding-top: 10px;
	padding-bottom: 10px;
}

.buy-button img {
	vertical-align: top;
	margin-top: 1px;
	margin-left: 5px;
}

.buy-crystals-button img {
	vertical-align: middle;
	margin-top: -15px;
	margin-bottom: -15px;
	margin-left: 5px;
}
