#roadmap-page .milestone  {
	margin-bottom: 20px;
}

#roadmap-page .milestone .title {
	font-family: 'Courgette', cursive;
	font-size: 24px;
}

#roadmap-page .panel .content {
    background: rgba(100,100,100,0.1);
    padding: 0;
}

#roadmap-page .wrapper {
    max-width: 800px;
    margin: 0 auto;
    background: #f2f2f2;
    padding: 15px 25px;
}

#roadmap-page .milestone .changes {
	font-family: 'Aref Ruqaa', serif;
	font-size: 18px;
	margin-top: 5px;
}
