@font-face {
	font-family: 'blenda';
	src: url('../R/font/Blenda_Script.ttf');
	font-weight: normal;
	font-style: normal;
}

h2 {
	font-family: 'blenda';
	text-align: center;
	font-size: 42px;
	margin-top: 10px;
	
}
h2:before, h2:after {
	height: 5px;
	width: 150px;
	vertical-align: middle;
	margin: 0 15px;
	display: inline-block;
	content: "";
}
h2:before {
	background: linear-gradient(to left, #aaa, rgba(0,0,0,0));
}
h2:after {
	background: linear-gradient(to right, #aaa, rgba(0,0,0,0));
}
h2.blue {
	color: #0079DE;
}
h2.green {
	color: #0a0;
}
h2.red {
	color: #DC0006;
}
h2.orange {
	color: #FF7600;
}
h2.pink {
	color: #FF00A4;
}

.stats {
	padding-top: 10px;
	padding-bottom: 20px;
	text-align: center;
}

stat {
	text-align: center;
	height: 100%;
	vertical-align: top;
	display: inline-block;
	padding: 6px 10px;
	padding-bottom: 10px;
	margin: 10px;
	background: white;
	border-radius: 3px;
	border-bottom: 3px solid #ddd;
}

stat:hover value {
	color: #222;
}
stat:hover label {
	color: #333;
}

unit {
	display: inline-block;
	margin-left: 4px;
}

value {
	font-size: 32px;
	display: block;
	color: #888;
	margin-bottom: 4px;
	display: inline-block;
}

label {
	text-align: center;
	font-size: 18px;
	color: #888;
	display: block;
	font-weight: 300;
	max-width: 120px;
	margin: 0 auto;
}
