#tournament {
	width: 100%;
}

#join {
	float: right;
	margin-top: -30px;
	margin-right: 30px;
}

.fight {
	fill: #666;
	stroke: #bbb;
	stroke-width: 2;
}
.entry {
	fill: white;
	stroke: #bbb;
	stroke-width: 2;
}

.entry[me='true'] {
	stroke: #5FAD1B;
	fill: #C8FFC7;
}

.line { 
	stroke: #aaa;
	stroke-width: 3;
	fill: none;
}

image[win='false'] {
	opacity: 0.4; 
	fill: #f5f5f5;
}
.no-fight {
	stroke-dasharray: 5,5;
}
