#translation-page .panel .content {
	padding: 0;
}

#translation-keys {
	border: 1px solid #ddd;
	max-width: 100%;
}

#translation-keys th img {
	vertical-align: middle;
}

#translation-keys td, #translation-keys th {
	padding: 3px 6px;
	background: white;
	border: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}

#translation-keys td {
	padding: 3px 6px;
	background: white;
	border: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: px solid #ddd;
	vertical-align: top;
	word-wrap: break-word;
}

#translation-keys .first {
	padding: 0 15px;
}

#translation-keys .arrows {
	width: 30px;
	cursor: row-resize; 
	background-image: url('../image/arrows.png');
	background-repeat: no-repeat; 
	background-position: center;
}

#translation-keys .delete {
	width: 30px;
	cursor: pointer; 
	background-image: url('../image/delete.png');
	background-repeat: no-repeat; 
	background-position: center;
}

#translation-keys .key {
	max-width: 180px;
	word-wrap: break-word;
}

#translation-keys td.locked, #translation-keys th.locked {
	background: #efefef;
}

.translation {
	vertical-align: top;
	font-family: monospace;
}

.respo input {
	width: 60px;
}

.respo {
	font-size: 18px;
	font-weight: normal;
}

.respo a {
	color: #0a0;
}