.theme-monokai .CodeMirror {
	background: #272822;
	color: #f8f8f2;
}
.theme-monokai .CodeMirror-gutters {
	background: #303029;
	border-right: 1px solid #444;
}
.theme-monokai .cm-number {
	color: #ae81ff;
}
.theme-monokai .cm-string {
	color: #e6db74;
}
.theme-monokai .cm-variable-declaration,
.theme-monokai .cm-function-declaration {
	color: #66d9ef;
	font-weight: normal;
	font-style: italic;
}
.theme-monokai .cm-keyword {
	color: #f92672;
	font-weight: normal;
}
.theme-monokai .cm-atom {
	color: #ae81ff;
	font-weight: normal;
}
.theme-monokai .cm-comment {
	color: #75715e;
}
.theme-monokai .cm-variable {
	color: #f8f8f2;
}
.theme-monokai .cm-variable-2 {
	color: #f8f8f2;
}
.theme-monokai .CodeMirror-lines .activeline {
	background: #222;
}
.theme-monokai .cm-operator {
	color: #f92672;
}
.theme-monokai .cm-function {
	color: #a6e22e;
}
.theme-monokai .cm-def {
	color: #fd971f;
}
.theme-monokai .cm-lsconst {
	color: white;
	font-weight: bold;
}
.theme-monokai .cm-lsfunc {
	color: white;
	font-style: italic;
}
.theme-monokai .cm-lsfunc-deprec {
	color: white;
}
.theme-monokai .cm-matchhighlight {
	border: 1px solid #aaa;
	border-radius: 2px;
	margin: -1px;
}
.theme-monokai .cm-matchhighlight-green {
	background: #5fad1b;
}
.theme-monokai .CodeMirror-selected,
.theme-monokai .CodeMirror-focused .CodeMirror-selected {
	background: #555;
}
.theme-monokai .CodeMirror-matchingbracket {
	color: #f8f8f2;
	border-bottom: 1px solid #f8f8f2;
}
.theme-monokai .CodeMirror-nonmatchingbracket {
	color: #f00;
	font-weight: bold;
}
.theme-monokai .CodeMirror div.CodeMirror-cursor {
	border-left: 1px solid #eee;
}
.theme-monokai ::-webkit-scrollbar-thumb {
	background: #555;
}
.theme-monokai ::-webkit-scrollbar-thumb:hover {
	background: #666;
}
.theme-monokai .item.selected > .label {
	background: #666;
}
.theme-monokai .tab {
	background: #555;
	color: #eee;
}
.theme-monokai .tab.selected {
	background: #272822;
}
.theme-monokai .tab.selected .name {
	color: white;
}