.cm-number {
	color: #007f00;
}
.cm-string {
	color: #ff901e;
}
.cm-keyword, .cm-variable-declaration, .cm-function-declaration {
	color: #00007f;
	font-weight: bold;
}
.cm-atom {
	color: #0086bc;
	font-weight: bold;
}
.cm-comment {
	color: #ce1400;
}
.cm-def {
	color: black;
}
.cm-variable-2 {
	color: black;
}
.CodeMirror-lines .activeline {
	background: #f2f2f2;
}
.cm-lsconst {
	color: black;
	font-weight: bold;
}
.cm-lsfunc {
	color: black;
	font-style: italic;
}
.cm-lsfunc-deprec {
	color: black;
	font-style: italic;
	text-decoration: line-through;
	opacity: 0.6;
}
.cm-matchhighlight {
	border: 1px solid #444;
	border-radius: 2px;
	margin: -1px;
}
.cm-matchhighlight-green {
	background: #76d820;
	padding: 3px 0;
}
.cm-highlight-error {
	background: #ff9e9e;
	padding: 3px 0;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	color: #00f;
	font-weight: bold;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #f00;
	font-weight: bold;
}
