.cm-number {
	color: #007f00;
}
.cm-string {
	color: #ff781e;
}
.cm-keyword, .cm-variable-declaration, .cm-function-declaration {
	color: #00007f;
	font-weight: bold;
}
.cm-atom {
	color: #0086bc;
	font-weight: bold;
}
.cm-comment {
	color: #999;
}
.cm-def {
	color: black;
}
.cm-variable-2 {
	color: black;
}
.CodeMirror-lines .activeline {
	background: #f2f2f2;
}
.cm-lsconst {
	color: black;
	font-weight: bold;
}
.cm-lsfunc {
	color: black;
	font-style: italic;
}
.cm-lsfunc-deprec {
	color: black;
	font-style: italic;
	text-decoration: line-through;
	opacity: 0.6;
}
.cm-lsclass {
	color: #0000D0;
	font-weight: bold;
}
.cm-matchhighlight {
	border: 1px solid #444;
	border-radius: 2px;
	margin: -1px;
}
.cm-matchhighlight-green {
	background: #76d820;
	padding: 3px 0;
}
.cm-error {
	background: rgba(255, 0, 0, 0.15);
	padding: 3px 0;
	position: relative;
}
.cm-error:after {
	position: absolute;
	top: 0;
	bottom: -3px;
	left: 0;
	right: 0;
	content: "";
	width: 100%;
	background-image: url("/image/squiggle.gif");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.cm-warning {
	background: #ffe3be;
	padding: 3px 0;
	position: relative;
}
.cm-warning:after {
	position: absolute;
	top: 0;
	bottom: -3px;
	left: 0;
	right: 0;
	content: "";
	width: 100%;
	background-image: url("/image/squiggle_w.gif");
	background-repeat: repeat-x;
	background-position: left bottom;
}
.cm-hover {
	// background: rgba(119, 255, 0, 0.5);
	background: rgba(0, 204, 255, 0.5);
	// background: #d2e9ff;
	padding: 3px 0;
}
div.CodeMirror span.CodeMirror-matchingbracket {
	color: #00f;
	font-weight: bold;
}
div.CodeMirror span.CodeMirror-nonmatchingbracket {
	color: #f00;
	font-weight: bold;
}

.cm-underlined {
	color: #3169b1;
	position: relative;
	padding: 3px 0;
}
.cm-comment-multi {
	color: #639be2;
}
.cm-comment-multi.cm-at {
	font-weight: bold;
	color: #6385e2;
}
.cm-comment-multi.cm-ref {
	color: #5fad1b;
}
.cm-comment-multi.cm-todo, .cm-comment.cm-todo {
	font-weight: bold;
}
.cm-underlined:after {
	position: absolute;
	top: 0;
	bottom: 0px;
	left: 0;
	right: 0;
	content: "";
	width: 100%;
	border-bottom: 1.5px solid #3169b1;
}
.CodeMirror-foldmarker {
	color: blue;
	text-shadow: #5fad1b 1px 1px 2px, #5fad1b -1px -1px 2px, #5fad1b 1px -1px 2px, #5fad1b -1px 1px 2px;
	font-family: arial;
	line-height: .3;
	cursor: pointer;
}
.CodeMirror-foldgutter {
	width: .7em;
}
.CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded {
	cursor: pointer;
}
.CodeMirror-foldgutter-open:after {
	content: "\25BE";
}
.CodeMirror-foldgutter-folded:after {
	content: "\25B8";
}

.cm-s-leekwars {
	div.CodeMirror-selected { background: #ddd; }
}