.item-preview {
	margin: auto;
	text-align: center;
	.header {
		background-color: #ddd;
		padding: 2px 5px;
		height: 25px;
	}
	.name {
		float: left;
		font-size: 19px;
		color: black;
		margin: 0;
	}
	.level {
		float: right;
		margin-top: 4px;
		font-size: 16px;
		color: #777;
	}
	.image {
		height: 90px;
		position: relative;
	}
	.image.sound img {
		cursor: help;
	}
	.image img {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0; right: 0;
		margin: auto;
		max-height: 80px;
	}
	.desc {
		text-align: justify;
		font-size: 14px;
		color: #777;
		padding: 5px;
	}
	.stats div {
		padding: 4px;
	}
	.stats div img {
		vertical-align: bottom;
	}
	.stats div:nth-child(2n+1) {
		background-color: white;
	}
	.ennemies,
	.allies,
	.player,
	.not-player,
	.summons,
	.not-summons {
		width: 14px;
		height: 14px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 10px;
		border-radius: 2px;
	}
	.ennemies {
		background-color: red;
	}
	.allies {
		background-color: blue;
	}
	.player {
		background-color: black;
	}
	.not-player {
		background-color: white;
		border: 2px solid #555;
		width: 10px;
		height: 10px;
	}
	.summons {
		background-color: #00dfff;
	}
	.not-summons {
		background-color: white;
		border: 2px solid #00dfff;
		width: 10px;
		height: 10px;
	}
	.constant {
		text-align: left;
		color: #555;
		font-size: 13px;
		padding: 4px;
	}
	.area {
		border-collapse: separate;
		border-spacing: 1px;
		margin: 3px auto;
	}
	.area td {
		width: 6px;
		height: 6px;
		background: #eee;
	}
	.area td.full {
		background: #999;
	}
	.stats .leek-preview {
		padding: 10px;
	}
}