.item-preview {
	margin: auto;
	text-align: center;
	position: relative;
	.header {
		color: #eee;
		background: #2a2a2a;
		padding: 0 8px;
		height: 36px;
		display: flex;
		align-items: center;
		gap: 7px;
		h2.name {
			color: #eee;
		}
	}
	.name {
		font-size: 17px;
		white-space: nowrap;
	}
	.rarity {
		color: white;
		font-size: 13px;
		font-weight: 500;
		padding: 4px 6px;
		border-radius: 5px;
	}
	.level {
		font-size: 15px;
		white-space: nowrap;
	}
	.image {
		max-height: 140px;
		background: var(--background);
		padding: 15px;
		img {
			max-width: 100%;
			max-height: 110px;
			object-fit: contain;
		}
	}
	&.chip .image img {
		max-height: 80px;
	}
	&.hat .image img {
		max-height: 90px;
	}
	&.pomp .image img {
		max-height: 90px;
	}
	.image.sound img {
		cursor: help;
	}
	.desc {
		background: var(--background-secondary);
		text-align: justify;
		font-size: 14px;
		color: var(--text-color-secondary);
		padding: 8px;
	}
	.stats div {
		padding: 5px;
	}
	.stats > div > img {
		vertical-align: bottom;
		margin-right: 4px;
	}
	.stats > div:nth-child(2n+1) {
		background-color: var(--pure-white);
	}
	.stats > div:nth-child(2n) {
		background-color: var(--background-secondary);
	}
	.ennemies,
	.allies,
	.player,
	.not-player,
	.summons,
	.not-summons {
		width: 14px;
		height: 14px;
		display: inline-block;
		vertical-align: middle;
		margin-left: 8px;
		border-radius: 2px;
	}
	.ennemies {
		background-color: red;
	}
	.allies {
		background-color: blue;
	}
	.player {
		background-color: black;
	}
	.not-player {
		background-color: white;
		border: 2px solid #555;
	}
	.summons {
		background-color: #00dfff;
	}
	.not-summons {
		background-color: white;
		border: 2px solid #00dfff;
	}
	.constant {
		text-align: left;
		color: var(--text-color-secondary);
		font-size: 13px;
		padding: 4px 6px;
		background: var(--background-secondary);
	}
	.area {
		border-collapse: separate;
		border-spacing: 1px;
		margin: 3px auto;
	}
	.area td {
		width: 6px;
		height: 6px;
		background: var(--background-secondary);
	}
	.area td.full {
		background:var(--background-disabled);
	}
	.stats .leek-preview {
		padding: 10px;
		display: flex;
		justify-content: center;
	}
}