@font-face {
	font-family: 'Noto Color Emoji';
	src: url("/NotoColorEmoji.ttf");
}
.theme--light.v-icon {
	color: inherit;
}
.v-tooltip {
	display: none;
}
.v-tooltip__content {
	background: #333 !important;
	font-size: 14px !important;
	pointer-events: none;
	max-width: 250px !important;
	transition: none !important;
	position: absolute;
	color: white;
	padding: 5px 16px;
	border-radius: 4px;
	line-height: 20px;
	.v-icon {
		font-size: 20px;
		vertical-align: top;
	}
}
.v-tooltip__content::before {
	position: absolute;
	top: -4px;
	left: 50%;
	margin-left: -4px;
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid rgba(51,51,51, 0.9);
	content: " ";
}
.v-tooltip__content.top::before {
	top: auto;
	bottom: -7px;
	border-bottom: none;
	border-top: 7px solid rgba(0,0,0, 0.7);
}
.v-dialog {
	margin: 12px !important;
}
.dialog-transition-enter, .dialog-transition-leave-to {
	transform: scale(0.5);
	opacity: 0;
}
.dialog-transition-enter-to, .dialog-transition-leave {
	opacity: 1;
}
.accent--text, .primary--text {
	color: #5fad1b !important;
	caret-color: #5fad1b !important;
}
.v-input.v-input--selection-controls {
	margin-top: 0;
	padding-top: 0;
}
.v-input--switch {
	display: inline-block !important;
}
.v-input--selection-controls__input {
	margin-right: 8px;
}
.v-snack__wrapper.success {
	background-color: #4caf50 !important;
	border-color: #4caf50 !important;
}
.v-snack__wrapper.error {
	background-color: #ff5252 !important;
	border-color: #ff5252 !important;
}
.v-snack__content {
	box-sizing: border-box;
}
.v-menu__activator, .v-menu {
	position: static !important;
}
.v-menu__content.theme--light {
	background: white;
}
.tab-transition-enter {
	transform: translate(100%, 0);
}
.tab-transition-leave,
.tab-transition-leave-active {
	position: absolute;
	top: 0;
}
.tab-transition-leave-to {
	position: absolute;
	transform: translate(-100%, 0);
}
.tab-reverse-transition-enter {
	transform: translate(-100%, 0);
}
.tab-reverse-transition-leave,
.tab-reverse-transition-leave-to {
	top: 0;
	position: absolute;
	transform: translate(100%, 0);
}
.theme--light.v-tabs-items {
	background-color: inherit;
}
.v-input--switch.v-input--is-dirty .v-input--selection-controls__ripple, .v-input--switch.v-input--is-dirty .v-input--switch__thumb {
    transform: translate(18px, 0);
}
.v-list--dense {
    padding-top: 4px;
    padding-bottom: 4px;
}
.primary {
    background-color: #5fad1b !important;
    border-color: #5fad1b !important;
}
button {
	border-style: none;
	cursor: pointer;
}
.v-btn {
	text-transform: none;
	font-size: 17px;
	margin: 0 3px;
	color: #333;
	border-radius: 4px;
	font-weight: normal;
	letter-spacing: normal;
}
.v-btn.v-size--default {
	font-size: 17px;
}
.v-btn.v-size--large, .v-btn:not(.v-btn--round).v-size--large {
	font-size: 18px;
	height: 40px;
	padding: 0 32px;
}
.theme--light.v-btn:not(.v-btn--flat):not(.v-btn--text):not(.v-btn--outlined) {
	background-color: white;
}
.v-btn.error {
    background-color: #ca0000 !important;
    border-color: #ca0000 !important;
}

html {
	box-sizing: border-box;
	overflow-y: scroll;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
	color: #111;
	background: #333;
}
::selection {
	background: #61b01c;
	color: white;
}
table {
	border-collapse: collapse;
}
td {
	padding: 0;
}
img {
	border-width: 0;
}
h1, h2, h3, h4 {
	font-weight: 400;
	margin: 0;
	color: #777;
}
h1 {
	font-size: 25px;
	line-height: 34px;
	display: inline-block;
	height: 36px;
	padding: 0 15px;
	color: white;
	position: relative;
	background: #5fad1b;
	text-shadow: 0px 2px 3px rgba(0,0,0,0.2), 0px 1px 3px rgba(0,0,0,0.1), 0px 3px 6px rgba(0,0,0,0.1);
	border-top-left-radius: 3px;
	white-space: nowrap;
	text-overflow: ellipsis;
}
h1 a, h1 a:visited {
	color: white;
}
h1::after {
	content: "";
	position: absolute;
	right: -19px;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 36px 0 0 19px;
	border-color: transparent transparent transparent #5fad1b;
}
h2 {
	font-size: 25px;
}
h3 {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -15px;
	background: #5fad1b;
	display: inline-block;
	color: white;
	padding: 5px 10px;
	font-size: 18px;
	position: relative;
	height: 32px;
}
h3::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 5px;
	width: 10px;
	height: 32px;
	background: #559c18;
}
h3::after {
	content: "";
	position: absolute;
	right: -12px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 32px 0 0 12px;
	border-color: transparent transparent transparent #5fad1b;
}
h4 {
	font-size: 18px;
	color: #666;
	font-weight: bold
}
a {
	color: #111;
	text-decoration: none;
}
a:visited {
	color: #111;
}
a:focus {
    outline: 0;
}
textarea {
	font-family: "Roboto";
	font-size: 15px;
}
ul {
	margin: 10px 0;
    padding-inline-start: 40px;
}
.center {
	text-align: center;
}
.page-header.page-bar .tabs {
	margin-left: 20px;
}
.page-bar .tabs .tab {
	display: inline-flex;
	align-items: center;
	padding: 0 8px;
	font-size: 17px;
	height: 36px;
	vertical-align: top;
	margin-right: 20px;
	color: #eee;
	position: relative;
	background: rgba(0, 0, 0, 0.3);
	margin-left: 2px;
	user-select: none;
}
.page-bar .tabs .tab:not(.disabled) {
	cursor: pointer;
}
.page-bar .tabs .tab:not(.disabled):hover {
	background-color: rgba(0, 0, 0, 0.6);
}
.page-bar .tabs .tab::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 36px 0;
	border-color: transparent rgba(0, 0, 0, 0.3) transparent transparent;
}
.page-bar .tabs .tab:not(.disabled):hover::before {
	border-color: transparent rgba(0, 0, 0, 0.6) transparent transparent ;
}
.page-bar .tabs .tab::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 36px 0 0 20px;
	border-color: transparent transparent transparent rgba(0, 0, 0, 0.3);
}
.page-bar .tabs .tab:not(.disabled):hover::after {
	border-color: transparent  transparent transparent rgba(0, 0, 0, 0.6);
}
.page-bar .tabs .tab.selected {
	background-color: rgba(110, 201, 31, 0.8);
	color: #111;
}
.page-bar .tabs .tab:first-child.selected::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 20px 36px 0;
	border-color: transparent rgba(110, 201, 31, 0.8) transparent   transparent ;
}
.page-bar .tabs .tab:first-child.selected::after {
	content: "";
	position: absolute;
	right: -20px;
	top: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 36px 0 0 20px;
	border-color: transparent  transparent   transparent rgba(110, 201, 31, 0.8);
}
.page-bar .tabs .tab span {
	vertical-align: top;
}
.page-bar .tabs .tab img {
	width: 22px;
	margin-right: 8px;
	margin-top: -1px;
}
.page-bar .tabs .tab i {
	margin-top: -2px;
	margin-right: 5px;
	color: white;
	font-size: 26px;
}
.page-bar .tabs .tab input[type="text"],
.page-bar .tabs .tab input[type="number"] {
	vertical-align: top;
	margin-top: -4px;
	background: rgba(0,0,0,0.2);
	color: white;
	border: none;
}
.page-bar .tabs .tab.green {
	background-color: rgba(95,173,27,0.7);
	color: white;
}
.page-bar .tabs .tab.green:before {
	border-color: transparent rgba(95,173,27,0.7) transparent transparent;
}
.page-bar .tabs .tab.green:after {
	border-color: transparent transparent transparent rgba(95,173,27,0.7);
}
.page-bar .tabs .tab.green:not(.disabled):hover {
	background-color: rgba(95,173,27,0.9);
}
.page-bar .tabs .tab.green:not(.disabled):hover:before {
	border-color: transparent rgba(95,173,27,0.9) transparent transparent;
}
.page-bar .tabs .tab.green:not(.disabled):hover:after {
	border-color: transparent transparent transparent rgba(95,173,27,0.9);
}
.page-bar .tabs .tab.active {
	background: #f2f2f2;
	color: #333;
	&:hover {
		background: #f2f2f2;
	}
	&:after, &:hover:after {
		border-color: transparent transparent transparent #f2f2f2;
	}
	&:before, &:hover:before {
		border-color: transparent #f2f2f2 transparent transparent;
	}
	.v-icon {
		color: #333;
	}
}
.page-footer {
	margin-bottom: 12px;
}
.page-footer .tabs .tab:first-child:before {
	border: none;
}
.hab {
	width: 18px;
	height: 18px;
	vertical-align: bottom;
	display: inline-block;
	background-image: url("/image/hab.png");
	background-repeat: no-repeat;
	background-position: center;
}
.crystal {
	width: 17px;
	height: 40px;
	vertical-align: bottom;
	margin-top: -15px;
	margin-bottom: -10px;
	display: inline-block;
	background-image: url("/image/crystal.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}
.popup {
	display: none;
	width: 700px;
	box-shadow: 0px 0px 50px #111;
	transition: height ease 0.3s;
	margin-bottom: 50px;
	text-align: left;
}
.popup.draggable {
	position: fixed;
	z-index: 600;
	top: 0;
	left: 0;
}
.v-dialog > .title {
	background: #2a2a2a;
	color: #eee;
	padding: 0 10px;
	padding-top: 6px;
	padding-bottom: 4px;
	height: 40px;
	font-size: 20px;
	line-height: 28px;
	text-align: left;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	display: flex;
}
.v-dialog > .title .main {
	flex: 1;
}
.v-dialog .title .options {
	display: flex;
	float: right;
	cursor: pointer;
	margin-top: -6px;
	margin-bottom: -4px;
	margin-right: -10px;
}
.v-dialog .title .options .option {
	background: black;
	height: 40px;
	width: 40px;
	padding: 7px;
	i {
		font-size: 26px;
		vertical-align: baseline;
	}
}
.v-dialog .title .options .option:hover {
	background-image: linear-gradient(to bottom, rgba(110, 201, 31, 0.7) 0%, rgba(110, 201, 31, 0.9) 50%, rgba(110, 201, 31, 0.7) 100%);
}
.v-dialog .title .options .option img {
	width: 26px;
	height: 26px;
}
.v-dialog.draggable .title {
	cursor: move;
}
.v-dialog .content {
	background: rgba(240,240,240, 0.95);
	padding: 15px;
	max-height: calc(100vh - 104px);
	overflow-y: auto;
	overflow-x: hidden;
}
.v-dialog:not(.v-dialog--fullscreen) {
	max-height: 100%;
}
.v-dialog.no-actions .content {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.v-dialog .actions {
	height: 40px;
	display: flex;
}
.v-dialog .actions div {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	background: #555;
	color: #eee;
	width: 100%;
	height: 40px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.v-dialog .actions div i {
	margin-right: 4px;
}
.v-dialog .actions div:not(:last-child) {
	border-right: 1px solid #777;
}
.v-dialog .actions div:hover {
	background: #777;
}
.v-dialog .actions div.red {
	background: #c00;
}
.v-dialog .actions div.red:hover {
	background: #e00;
}
.v-dialog .actions div.green {
	background: #5fad1b;
}
.v-dialog .actions div.green:hover {
	background: #73d120;
}
input {
	font-family: "Roboto";
}
input[type="text"],
input[type="number"],
input[type="password"],
input[type="email"],
textarea {
	border: solid 1px #ddd;
	font-size: 15px;
	min-height: 26px;
	padding: 0 4px;
	outline: 0;
	background: white;
}
select {
	-webkit-appearance: menulist-button;
	border: solid 1px #ddd;
	background-color: white;
}
input:active, input:focus {
	outline: none;
}
.link {
	cursor: pointer;
	color: #555;
}
.link:hover {
	color: #111;
}
.small {
	font-size: 12px;
}
img.emoji {
	width: 16px;
	height: 16px;
	line-height: 15px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -2px;
	float: none;
}
.emoji.large {
	width: 30px;
	height: 30px;
	margin-top: 4px;
}
.emoji-font {
	font-family: "Noto Color Emoji";
	font-size: 16px;
}
.dev-label, .beta-label, .local-label {
	color: white;
	border-radius: 4px;
	padding: 4px 6px;
	vertical-align: top;
	line-height: 70px;
	margin-left: 10px;
	font-size: 16px;
}
.dev-label {
	background: red;
}
.beta-label {
	background: #b0b;
}
.local-label {
	background: blue;
}
.moderator, a.moderator {
	color: #ffa900;
	font-weight: bold;
}
.admin, a.admin {
	color: #df1500;
	font-weight: bold;
}
.contributor, a.contributor {
	color: #009c1d;
	font-weight: bold;
}
.editable {
	display: inline-block;
}
.editable:after {
	content: "";
	display: inline-block;
	opacity: 0.3;
	margin-left: 8px;
	width: 20px;
	height: 20px;
	background-image: url("/image/edit_pen.png");
}
.editable:hover:after {
	opacity: 1;
}
.card {
	background: white;
	border-radius: 3px;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}
.flex {
	display: flex;
	justify-content: space-between;
}
.flex-center {
	display: flex;
	align-items: center;
}

.container {
	padding: 0;
	max-width: none;
	display: flex;
	justify-content: stretch;
	margin-bottom: 12px;
	gap: 12px;
	&.grid {
		display: grid;
		grid-gap: 12px;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

		&.large {
			grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		}
	}
	& > .panel {
		margin-bottom: 0;
	}
	.column3 { flex: 3; min-width: 0; }
	.column4 { flex: 4; min-width: 0; }
	.column5 { flex: 5; min-width: 0; }
	.column7 { flex: 7; min-width: 0; }
	.column8 { flex: 8; min-width: 0; }
	.column9 { flex: 9; min-width: 0; }
	&.last {
		margin-bottom: 0;
	}
}

.striked {
	position: absolute;
}
.striked:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	background-image: linear-gradient(-45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
	background-size: 50px 50px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	overflow: hidden;
	border-radius: 6px;
	background-repeat: initial;
}
.rounded4 {
	border-radius: 4px;
}
.color-life {
	color: red;
}
.color-max-life {
	color: #00d5b5;
}
.color-strength {
	color: #833100;
}
.color-wisdom {
	color: #5ebe00;
}
.color-agility {
	color: #0080f7;
}
.color-resistance {
	color: #ff4a01;
}
.color-frequency {
	color: black;
}
.color-science {
	color: #0000a2;
}
.color-magic {
	color: #b800b6;
}
.color-tp {
	color: #ff7f01;
}
.color-mp {
	color: #00a900;
}
.scroll-x {
	overflow-x: auto;
	overflow-y: hidden;
}
code {
	font-family: monospace;
	white-space: pre-wrap;
	display: flex;
	padding: 6px 0;
	pre {
		overflow: auto;
		word-break: break-all;
		overflow-x: auto;
		flex: 1;
	}
	&.single {
		display: inline-block;
		border: 1px solid #ccc;
		padding: 1px 4px;
		border-radius: 3px;
		pre {
			white-space: pre-wrap;
		}
	}
	&:not(.single) pre {
		border: 6px solid #f7f7f7;
		background: white;
		padding: 6px;
		line-height: 25px;
	}
	.line-number {
		color: #666;
		display: block;
		user-select: none;
		background: #f7f7f7;
		text-align: right;
		padding: 12px 0;
		line-height: 25px;
		span {
			display: block;
			padding-right: 4px;
			padding-left: 10px;
		}
	}
}

#app.app .page-bar .action {
	display: none;
}
.page-bar {
	padding-right: 12px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.page-bar .info {
	margin-left: 20px;
	color: #eee;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 36px;
	white-space: nowrap;
}
#app.app .page-bar .info {
	display: none;
}
#app.app.connected .page .page-bar h1 {
	display: none;
}
.toasts {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1000;
	bottom: 100px;
	text-align: center;
	pointer-events: none;
	transition: all 0.6s;
}
.toast-wrapper {
	position: relative;
	perspective: 350px;
	transition: all 0.6s;
	transform: scale(0.5,0.5) rotateX(90deg);
	opacity: 0;
	height: 0;
	top: 40px;
}
.toast {
	padding: 4px 8px;
	border-radius: 2px;
	font-weight: 300;
	font-size: 18px;
	font-family: "Roboto", sans-serif;
	background: rgba(0,0,0, 0.7);
	color: white;
	display: inline-block;
}
.toast-wrapper.visible {
	transform: scale(1,1) rotateX(0deg);
	opacity: 1;
	top: 0;
	height: 36px;
}
body {
	::-webkit-scrollbar {
		width: 10px;
		height: 10px;
	}
	::-webkit-scrollbar-thumb {
		background: #bbb;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #888;
	}
}
.CodeMirror-vscrollbar {
	outline: none;
}
.label-beta {
	background: #00aae2;
	color: white;
	padding: 0px 4px;
	border-radius: 5px;
	font-size: 15px;
	display: inline-block;
	margin-left: 4px;
	line-height: 24px;
	i {
		font-size: 17px;
		vertical-align: middle;
		margin-bottom: 2px;
	}
}
.ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.pointer {
	cursor: pointer;
}