#app.sfw {
	background: white;

	.page-wrapper, .social-panel .content {
		background: rgba(255,255,255, 0.4);
	}
	h1 {
		background: white;
		color: #777;
		text-shadow: none;
	}
	h1:after {
		border-color: transparent transparent transparent white;
	}
	.panel {
		background: white;
		box-shadow: none;
	}
	.panel .header {
		background: white;
	}
	.panel .header h2 {
		background: white;
		color: #777;
	}
	.panel .header h2 a {
		color: #777;
	}
	.panel .header h2:before {
		border-color: transparent transparent transparent white;
	}
	.panel .header .right .button {
		background: white;
		color: #777;
	}
	.panel .header .right .button:hover {
		color: black;
	}
	img, svg {
		opacity: 0.08;
	}
	.smiley, .hab, .crystal {
		opacity: 0.2;
	}
	.menu {
		background: rgba(255,255,255,0.4);
	}
	.menu .menu-wrapper {
		background: rgba(255,255,255,0.4);
	}
	.menu .section {
		background: white;
		color: #777;
	}
	.menu-center a.router-link-active {
		text-shadow: none;
		color: black;
		&:before {
			display: none;
		}
	}
	.menu .menu-top {
		background: white;
		color: #777;
	}
	.xp-bar, .switch-active .switch-switch {
		background: #caf0ca;
	}
	.accent--text, .primary--text {
		color: #caf0ca !important;
	}
	.pagination a.current {
		background: none repeat scroll 0% 0% transparent;
		color: grey;
	}
	.footer-wrapper {
		background: none;
		border: none;
	}
	.history {
		.win {
			background: #f3ffe9;
		}
		.defeat {
			background: #fff2f1;
		}
		.tournament {
			background: #f8f8f8;
		}
	}
	.menu .section[label]:after {
		background: none;
		color: #777;
	}
	.header .label {
		background: none;
		color: #777;
	}
	.panel > .header h2 a {
		font-weight: normal;
	}
	.header > .actions .button {
		background: none;
		color: #ccc;
	}
	.page-bar .tab {
		background: none;
		color: #777;
		&::after, &::before {
			display: none;
		}
	}
	.item-preview .area td.full {
		background: #d1d1d1;
	}
	.header .header-button {
		background: none;
		color: #777;
		&:before {
			display: none;
		}
	}
	.menu-button {
		background: none;
	}
	.social-button {
		background: none;
	}
	.menu-center a i {
		opacity: 0;
	}
	.dev-label {
		background: none;
		color: #777;
	}
	.panel .wrapper {
		background: none;
	}
	h3 {
		background: none;
		color: #777;
		&:before, &:after {
			display: none;
		}
	}
	.accent--text {
		color: #83a1bb !important;
	}
	.global-bar .bar, .category-bar .bar, .trophy .trophy-bar .bar {
		background: #e6e6e6
	}
	.moderator, .admin, .contributor, .author {
		font-weight: normal;
	}
	.characteristics .characteristic div > span {
		color: #777 !important;
		font-weight: normal;
	}
	.bubble {
		box-shadow: none;
	}
	.fight .center {
		background: none;
	}
	.v-btn {
		box-shadow: none;
	}
	.v-overlay:before {
		background: none;
	}
	.v-dialog {
		box-shadow: none;
		.action {
			background: white;
			color: #777;
		}
	}
	.v-dialog > .title {
		background: white;
		color: #777;
	}
	.v-dialog .content {
		background: white;
	}
	.page-bar .tab input[type="text"] {
		background: none;
	}
	.header-button i {
		color: #ccc;
	}
	.category {
		border: none;
	}
	.card {
		box-shadow: none;
	}
	.grade.admin {
		background: none;
		color: red;
	}
	.grade.moderator {
		background: none;
		color: #ffa900;
	}
	.grade.contributor {
		background: none;
		color: #009c1d;
	}
	.vote.up.active {
		background: none;
		color: #009c1d;
	}
	.primary {
		background-color: #eee !important;
		color: #777;
	}
	h1 a {
		color: #777;
	}
	h4 {
		font-weight: normal;
	}
	.items .item:before, .items .item:after {
		background: white;
		color: #777;
	}
	.item.weapon, .item.fight-pack, .item.chip, .item.potion, .item.hat {
		border: none;
	}
	.page-bar .tab i {
		color: #ccc;
	}
	.notification .result {
		border: none;
	}
	.ranking .first a, .ranking .second a, .ranking .third a {
		font-weight: normal;
	}
	.xp-bar {
		background: #f1f1f1;
	}
	.window {
		box-shadow: none;
		background: white;
	}
	.window .header, .br .header {
		background: white;
		color: #777;
	}
	.v-btn.error {
		background-color: #ffecec !important;
		color: #777;
	}
	svg.tournament {
		opacity: 1;
		polyline, rect:not([me]) {
			opacity: 0.1;
		}
		rect[me] {
			fill: transparent;
		}
		image {
			opacity: 0.08;
		}
	}
}
